<style>
.info_row { display:table; width:100%; }
.custfont {
	font-size: 18px;
}

.footer{
display: inline-block;
}

</style>
<section class="dynamic-page-content" id="contentData">
	<div id="wrapper">
		<div class="content sub_content">
			<div class="info_row subTitle dark_header payeeConfirmHeader"> <span>Header</span></div>
			<form name="frmAddBillerConfirm" id="frmAddBillerConfirm"
				method="post" data-bind='submit: AddBillerConfirmSubmit'>
				
				<div class="">
					<div class="info_row custfont row_aadhar"  style = "display: none;">
						<span class="info_row_left black-text">Biller Type</span> <span
							class="info_row_right f18 black-text BillerType"></span>
						 <div class="clearfix"></div>
					</div>
					<div class="info_row custfont row_aadhar">
						<span class="info_row_left black-text">Biller Short Name</span> <span
							class="info_row_right f18 black-text BillerShortName"></span>
						<div class="clearfix"></div>
					</div>

					<div class="info_row custfont row_aadhar" id="fieldsetconfirm1" style="display: none;">
						<span class="info_row_left black-text labelconfirm1"></span> <span
							class="info_row_right f18 black-text value1"></span>
						<div class="clearfix"></div>
					</div>

					<div class="info_row custfont row_aadhar" id="fieldsetconfirm2" style="display: none;">
						<span class="info_row_left black-text labelconfirm2"></span> <span
							class="info_row_right f18 black-text value2"></span>
						<div class="clearfix"></div>
					</div>

					<div class="info_row custfont row_aadhar" id="fieldsetconfirm3" style="display: none;">
						<span class="info_row_left black-text labelconfirm3"></span> <span
							class="info_row_right f18 black-text value3"></span>
						<div class="clearfix"></div>
					</div>

					<div class="info_row custfont row_aadhar" id="fieldsetconfirm4" style="display: none;">
						<span class="info_row_left black-text labelconfirm4"></span> <span
							class="info_row_right f18 black-text value4"></span>
						<div class="clearfix"></div>
					</div>

					<div class="info_row custfont row_aadhar" id="fieldsetconfirm5" style="display: none;">
						<span class="info_row_left black-text labelconfirm5"></span> <span
							class="info_row_right f18 black-text value5"></span>
						<div class="clearfix"></div>
					</div>

				</div>

				<div class="bgded4d4">
					<div class="clearfix" style="height: 20px"></div>
					<div class="info_row alignc">
						<input type="submit" class="button" value="Confirm" id="" />
					</div>
					<div class="clearfix" style="height: 20px"></div>
				</div>


			</form>
		</div>
	</div>
</section>

