<style>
/* .info_row2, .info_row3 {
	padding-left: 0;
	padding-right: 0;
}

.info_row p {
	padding-left: 10px; . error { width : 94%;
	float: left;
	border-color: #193080 !important;
} */
.error {
	width: 94%;
	float: left;
	border-color: #193080 !important;
}

label.error {
	color: #193080 !important;
}


</style>
<section class="dynamic-page-content" id="contentData">

	<div id="wrapper">

		<div class="content sub_content">
		<div class="info_row subTitle dark_header payeeConfirmHeader"> <span>Header</span></div>
			<form class="custStyleInput" name="frmAddBillerDetails"
				id="frmAddBillerDetails" method="post"
				data-bind='submit: AddBillerDetailsSubmit'>


				<div class="topBox">

					<fieldset class="fielderror row_aadhar" style = "display: none;">
						<label class="black-text">Biller Type</label> <input type="text"
							id="biller_type" name="biller_type" readonly />
					</fieldset>

					<fieldset class="fielderror row_aadhar">
						<label class="black-text">Biller Short Name (Max 6 characters allowed)</label> 
						<input	type="text" id="biller_short_name" name="biller_short_name" />
					</fieldset>


					<fieldset class="fielderror row_aadhar" id="fieldsetdetails1" style="display: none;">
						<label class="labeldetails1 black-text"></label> <input
							type="text" id="inputdetails1" name="inputdetails1" />
					</fieldset>
					
				 <fieldset class="fielderror row_aadhar" id="fieldsetdetails1_drop"	style="display: block;">
							<label class="labeldetails1 black-text"></label>
							<select name='inputdetails1_drop' id='inputdetails1_drop'>
							</select>
						</fieldset> 

					<fieldset class="fielderror row_aadhar" id="fieldsetdetails2" style="display: none;">
						<label class="labeldetails2 black-text"></label> <input
							type="text" id="inputdetails2" name="inputdetails2" />
					</fieldset>
					
					<fieldset class="fielderror row_aadhar" id="fieldsetdetails2_drop" style="display: block;">
							<label class="labeldetails2 black-text"></label>
							<select name='inputdetails2_drop' id='inputdetails2_drop'>
							</select>
						</fieldset> 

					<fieldset class="fielderror row_aadhar" id="fieldsetdetails3" style="display: none;">
						<label class="labeldetails3 black-text"></label> <input
							type="text" id="inputdetails3" name="inputdetails3" />
					</fieldset>
					
					<fieldset class="fielderror row_aadhar" id="fieldsetdetails3_drop"
						style="display: block;">
							<label class="labeldetails3 black-text"></label>
							<select name='inputdetails3_drop' id='inputdetails3_drop'>
							</select>
						</fieldset>

					<fieldset class="fielderror row_aadhar" id="fieldsetdetails4"
						style="display: none;">
						<label class="labeldetails4 black-text"></label> <input
							type="text" id="inputdetails4" name="inputdetails4" />
					</fieldset>
					
					<fieldset class="fielderror row_aadhar" id="fieldsetdetails4_drop"
						style="display: block;">
							<label class="labeldetails4 black-text"></label>
							<select name='inputdetails4_drop' id='inputdetails4_drop'>
							</select>
						</fieldset>

					<fieldset class="fielderror row_aadhar" id="fieldsetdetails5"
						style="display: none;">
						<label class="labeldetails5 black-text"></label> <input
							type="text" id="inputdetails5" name="inputdetails5" />
					</fieldset>
					
					<fieldset class="fielderror row_aadhar" id="fieldsetdetails5_drop"
						style="display: block;">
							<label class="labeldetails5 black-text"></label>
							<select name='inputdetails5_drop' id='inputdetails5_drop'>
							</select>
						</fieldset>

				</div>
				<fieldset>
					<input type="submit" value="Add" class="btn" id="" />
					<div class="clearfix" style="height: 10px;"></div>
				</fieldset>

			</form>
		</div>
	</div>
</section>


<script>
	var r1 = "";
	var m1 = "";
	if (authenticatorList.length >= 1) {
		r1 = authenticatorList[0].Auth_validation_mesg;
		m1 = authenticatorList[0].Authenticator;
	}

	var r2 = "";
	var m2 = "";
	if (authenticatorList.length >= 2) {
		r2 = authenticatorList[1].Auth_validation_mesg;
		m2 = authenticatorList[1].Authenticator;
	}

	var r3 = "";
	var m3 = "";
	if (authenticatorList.length >= 3) {
		r3 = authenticatorList[2].Auth_validation_mesg;
		m3 = authenticatorList[2].Authenticator;
	}

	var r4 = "";
	var m4 = "";
	if (authenticatorList.length >= 4) {
		r4 = authenticatorList[3].Auth_validation_mesg;
		m4 = authenticatorList[3].Authenticator;
	}

	var r5 = "";
	var m5 = "";
	if (authenticatorList.length >= 5) {
		r5 = authenticatorList[4].Auth_validation_mesg;
		m5 = authenticatorList[4].Authenticator;
	}

	$.validator.addMethod("inputdetails_1", function(value, element) {

		var patt = new RegExp(r1);
		var res = patt.test(value);

		return this.optional(element) || res;
	}, m1);

	$.validator.addMethod("inputdetails_2", function(value, element) {

		var patt = new RegExp(r2);
		var res = patt.test(value);
        //alert(patt);
		return this.optional(element) || res;
	}, m2);

	$.validator.addMethod("inputdetails_3", function(value, element) {

		var patt = new RegExp(r3);
		var res = patt.test(value);

		return this.optional(element) || res;
	}, m3);

	$.validator.addMethod("inputdetails_4", function(value, element) {

		var patt = new RegExp(r4);
		var res = patt.test(value);

		return this.optional(element) || res;
	}, m4);

	$.validator.addMethod("inputdetails_5", function(value, element) {

		var patt = new RegExp(r5);
		var res = patt.test(value);

		return this.optional(element) || res;
	}, m5);

	$("#frmAddBillerDetails").validate({
		rules : {
			biller_short_name : {
				required : true,
			},
			inputdetails1 : {
				required : true,
				inputdetails_1 : true,
			},
			inputdetails1_drop : {
				required : true,
				/* inputdetails_1 : true, */
			},
			inputdetails2 : {
				required : true,
				inputdetails_2 : true,
			},
			inputdetails2_drop : {
				required : true,
				/* inputdetails_2 : true, */
			},
			inputdetails3 : {
				required : true,
				inputdetails_3 : true,
			},
			inputdetails3_drop : {
				required : true,
				/* inputdetails_3 : true, */
			},
			inputdetails4 : {
				required : true,
				inputdetails_4 : true,
			},
			inputdetails4_drop : {
				required : true,
				/* inputdetails_4 : true, */
			},
			inputdetails5 : {
				required : true,
				inputdetails_5 : true,
			},
			inputdetails5_drop : {
				required : true,
				/* inputdetails_5 : true, */
			},

		},
		messages : {
			biller_short_name : {
				required : "Enter Biller Short Name",
			},
			inputdetails1 : {
				required : "Enter " + labeldetails1,
				inputdetails_1 : m1,
			},
			inputdetails1_drop : {
				required : "Select " + labeldetails1,
				/* inputdetails_1 : m1, */
			},
			inputdetails2 : {
				required : "Enter " + labeldetails2,
				inputdetails_2 : m2,
			},
			inputdetails2_drop : {
				required : "Select " + labeldetails2,
				/* inputdetails_2 : m2, */
			},
			inputdetails3 : {
				required : "Enter " + labeldetails3,
				inputdetails_3 : m3,
			},
			inputdetails3_drop : {
				required : "Select " + labeldetails3,
				/* inputdetails_3 : m3, */
			},
			inputdetails4 : {
				required : "Enter " + labeldetails4,
				inputdetails_4 : m4,
			},
			inputdetails4_drop : {
				required : "Select " + labeldetails4,
				/* inputdetails_4 : m4, */
			},
			inputdetails5 : {
				required : "Enter " + labeldetails5,
				inputdetails_5 : m5,
			},
			inputdetails5_drop : {
				required : "Select " + labeldetails5,
				/* inputdetails_5 : m5, */
			},

		}

	});

	$("#biller_short_name").keyup(function() {
		/* $("#biller_short_name").val(this.value.match(/[A-Za-z]*//*)); */
		$("#biller_short_name").val(this.value.match(/[a-zA-Z]+[a-zA-Z ]*/));
		var count = $("#biller_short_name").val().length;
		if (count > 6) {
			$("#biller_short_name").val(this.value.match(/.{1,6}/));
			
		} 
		});
		
		
		
		
</script>

 <!-- $("#inputdetails1").keyup(function() {
		var str = "^[0-9]{8,12}$";
if (str.charAt(0) == "*") str = str.substr(1);
if (str.charAt(0) == "^") str = str.substr(1);
if (str.charAt(str.length - 1) == "$") str = str.substr(0, str.length - 1);

		var patt = new RegExp(str);
		//alert(r1);
		//alert(str);
		//alert(patt);
		$("#inputdetails1").val(this.value.match(patt));
		});
		
		$("#inputdetails2").keyup(function() {
		$("#inputdetails2").val(this.value.match(r2));
		});  -->