<section class="dynamic-page-content" id="contentData">
<style> 

.back {visibility: hidden; }

</style>
 <div id="wrapper">
    <div class="content sub_content">
  		 <div class="topBox bgff5354">
			
			
			<div class="success_msg">
				<p>Biller Added Successfully</p>	
			</div>
		</div>
  		<div class="summblock" id="">

			<div class="summblock listItems">
			
				<div class="info_row custfont" id="fieldsetconfirm1" style="display: none;"> <span class="info_row_left labelconfirm1" ></span> <span class="info_row_right f18 value1" ></span>
				<div class="clearfix"></div>
				</div>
				
				<div class="info_row custfont" id="fieldsetconfirm2" style="display: none;"> <span class="info_row_left labelconfirm2"></span> <span class="info_row_right f18 value2" ></span>
				<div class="clearfix"></div>
				</div>
				
				<div class="info_row custfont" id="fieldsetconfirm3" style="display: none;"> <span class="info_row_left labelconfirm3"></span> <span class="info_row_right f18 value3" ></span>
				<div class="clearfix"></div>
				</div>
				
				<div class="info_row custfont" id="fieldsetconfirm4" style="display: none;"> <span class="info_row_left labelconfirm4"></span> <span class="info_row_right f18 value4" ></span>
				<div class="clearfix"></div>
				</div>

				<div class="info_row custfont" id="fieldsetconfirm5" style="display: none;"> <span class="info_row_left labelconfirm5"></span> <span class="info_row_right f18 value5" ></span>
				<div class="clearfix"></div>
				</div>
				
				<div class="beneficiearyNote"> <p>Success ! Biller has been added Successfully.</p>
						
						
				</div>
		
		
		
		 
				</div>
				
				<div class="bgded4d4">
					<div class="clearfix" style="height:20px"></div>
					<div class="info_row alignc">
					<a href = "#billpayment">
						<input type="button" class="button" value="Ok" style="width: 100px; margin: 0 auto; display: table;"/>
						</a>
					</div>
				
		</div>
		</div>

  </div>
</div>


</section>
