<section class="dynamic-page-content" id="contentData">
	<div id="wrapper">
		<div class="content sub_content">
		<div class="info_row odd" id="NoListCategory" style="display:none;">
			<span class="info_row_menu_left" style="width:15%;"><img src="img/alerticon.png" /></span>
			<span class="info_row_menu_right clslineht" id="error" style="width:72%;">No Category found!
			</span> 
		</div> 
		<div id="YesListCategory" style="display:none;">
			<div class="listRow" id="BillerListCategory"></div>
			</div>
		</div>
	</div>
</section>