<section class="dynamic-page-content" id="contentData">
	<div id="wrapper">
		<div class="content sub_content" >
		<!-- <div class="info_row subTitle dark_header viewBillerHeader"> <span>Header</span></div> -->
			<div class="listRow" id="BillerList" style="display:block;"></div>
		
	
	 <!-- <span class="info_row_menu_right clslineht" id="error_norecord" style="width:72%;display:none;">
				No Billers found, kindly <a href = "#Click_Here_Biller"><u>click here</u></a> to add a biller.
			</span>  -->
			
		<div id="error_norecord"  style="display:none;" >
		<div class="topBox bgff5354" >
		<div class="rsaOOBErr">
  			<p>No Billers found, kindly <a href = "#Click_Here_Biller"><u>click here</u></a> to add a biller.</p>
			 </div>			
			 </div>
			 </div>

			
			</div>
			</div>
</section>