
<style>
.info_row {
	display: table;
	width: 100%;
}

.linedivider {
	border: 0 none;
}
.error{
		width: 94%;
    	float: left;
    	border-color:#193080 !important;   	
}
div.container {
		display: none;
	    padding-left: 5px;
    	overflow: hidden;
   		padding-bottom: 10px;
}
	
 label.error{
 	color:#193080 !important;
 }
 
</style>
<script type="text/javascript" src="js/common.js"></script>


<link href="css/mobiscroll-2.0.custom.min.css" rel="stylesheet"
	type="text/css" />
<script src="js/libs/mobiscroll-2.0.custom.min.js"
	type="text/javascript"></script>

<section class="dynamic-page-content" id="contentData">
	<div id="wrapper">
		<div class="content sub_content">
            
           <div class="info_row odd" id="NoCategory" style="display:none;">
			<span class="info_row_menu_left" style="width:15%;"><img src="img/alerticon.png" /></span>
			<span class="info_row_menu_right clslineht" id="error" style="width:72%;">
				No Category found!
			</span> 
		</div> 
		
			<form class="custStyleInput" name="frmBillerHome" id="frmBillerHome"
				method="post" data-bind='submit:frmBillerHomeSubmit'>
				
				
<div id="YesCategory" style="display:none;">
				<div class="topBox">
				
				
				<!-- <fieldset class="bgff5354 fielderror">
					<label class="selLbl">Utility Payments</label>
					<select name="utilityPayment" id="utilityPayment" data-bind="value: utilityPayment, options: categoryList, optionsText: 'Category', optionsValue: 'Category', optionsCaption: '-Select-'"></select>
				</fieldset> -->
				
				<fieldset class="bgff5354 fielderror ">
					<label class="selLbl">Select Location</label>
					<!-- <select name="utilityLocation" id="utilityLocation" data-bind="disable: !utilityPayment(), value: utilityLocation, options: locationList, optionsText: 'BillerPresence', optionsValue: 'BillerPresence', optionsCaption: '-Select-'"></select> -->
					<select name="utilityLocation" id="utilityLocation" data-bind="value: utilityLocation, options: locationList, optionsText: 'BillerPresence', optionsValue: 'BillerPresence', optionsCaption: '-Select-'"></select>
				</fieldset>
				
				<fieldset class="bgff5354 fielderror" >
					<label class="selLbl"  onclick="return disableMessage();" >Select Biller</label>
					<select name="utilityBiller" id="utilityBiller" data-bind=" disable: !utilityLocation(), value: utilityBiller, options: billersList, optionsText: 'BillerName', optionsValue: 'index', optionsCaption: '-Select-'" ></select>
				</fieldset><!-- -->


				</div>



				<div class="bgded4d4">
					<div class="clearfix"></div>
					<fieldset>
						<input type="submit" class="btn" value="Submit">
					</fieldset>
					<div class="clearfix"></div>
				</div>
				
				</div>
			</form>
			

		</div>
	</div>
</section>


<script type="text/javascript">
$("#frmBillerHome").validate({
		rules: {
			utilityPayment: "required",
			utilityLocation: "required",
			utilityBiller: "required",
		},
		messages: {
			utilityPayment: "Select Utility Payments",
			utilityLocation: "Select Location",
			utilityBiller: "Select Biller",
		}
	});
function disableMessage(){

	if($("#utilityLocation").val()==""){
		alert("Please select location first.");
	}
}
</script>




