<style>
.custfont
{
font-size: 18px;
}

.footer {display : inline-block !important;}
</style>
<section class="dynamic-page-content" id="contentData">
				<div id="wrapper">
		<div class="content sub_content">
		<div class="info_row subTitle dark_header deleteBillerHeader"> <span>Header</span></div>
					
			<form name="frmDeleteBillerDetails" id="frmDeleteBillerDetails"
				method="post" data-bind='submit: DeleteBillerDetailsSubmit'>
				
			<div class="" id="AuthenticatorLists">
				<div class="info_row custfont row_aadhar"> <span class="info_row_left">Biller Name</span> <span class="info_row_right f18 BillerName" ></span>
					<div class="clearfix"></div>
				</div>
				<!-- <div class="info_row custfont row_aadhar"> <span class="info_row_left">Biller Type</span> <span class="info_row_right f18 BillerType" ></span>
					<div class="clearfix"></div>
				</div> -->
				<div class="info_row custfont row_aadhar"> <span class="info_row_left">Biller Short Name</span> <span class="info_row_right f18 BillerShortName" ></span>
						<div class="clearfix"></div>
				</div>
				<div class="info_row custfont row_aadhar"> <span class="info_row_left">Status</span> <span class="info_row_right f18 BillerStatus" ></span>
						<div class="clearfix"></div>
				</div>
			
		
				</div>
				
				
				<div class="bgded4d4">
					<div class="clearfix" style="height: 20px;"></div>
					<fieldset>
						<input type="submit" value="Delete" class="btn"/>						
							
					</fieldset>					
				</div>
				
<!-- 				
				<div class="bgded4d4">
					<div class="clearfix" style="height: 20px"></div>
					<div class="info_row alignc">
						<input type="submit" class="button" value="Confirm" id="" />
					</div>
					<div class="clearfix" style="height: 20px"></div>
				</div> -->
				
		     
			</form>
					</div>
	</div>
			</section>

