<style>
	.custfont {
	font-size: 18px;
	}
</style>
<section class="dynamic-page-content" id="contentData">
	<div id="wrapper">
		<div class="content sub_content">

			<form name="frmDetailsIMPS" id="frmDetailsIMPS"
				  method="post" data-bind='submit: WithinBankDetailsModifySubmit'>
				<div class="summblock listItems">
					<div class="info_row custfont">
						<span class="info_row_left">Payee Account Number</span> <span
							class="info_row_right f18 AccNo"></span>
						<div class="clearfix"></div>
					</div>

					<fieldset class="bgff6869">
						<label>Payee Name</label> <input type="text" id="Payee_Name"
														 name="Payee_Name" class="rs_fld" autocapitalize="off" autocomplete="off"
														 autocorrect="off" spellcheck="false"/>

					</fieldset>

					<!-- <fieldset class="bgff6869">
                        <label>Payee Nick Name</label> <input type="text"
                            id="Payee_Nick_Name" name="Payee_Nick_Name" class="rs_fld" autocapitalize="off" autocomplete="off"
            autocorrect="off" spellcheck="false"/>

                    </fieldset> -->

					<div class="info_row custfont">
						<span class="info_row_left">Payee Nick Name</span> <span
							class="info_row_right f18 Payee_Nick_Name"></span>
						<div class="clearfix"></div>
					</div>

					<div class="info_row custfont">
						<span class="info_row_left">IFSC Code</span> <span
							class="info_row_right f18 IFSCCode"></span>
						<div class="clearfix"></div>
					</div>


				</div>

				<div class="bgded4d4">
					<div class="clearfix" style="height:20px"></div>
					<div class="info_row alignc">
						<input type="submit" class="button" value="Modify" id="" />
					</div>
					<div class="clearfix" style="height:20px"></div>
				</div>


			</form>
		</div>
	</div>
</section>

<script>

$.validator.addMethod("alpha", function(value, element) {

		if(BeneficieryOptState == BeneficieryOpt.EXTERNALModification)
        {
        		//$("#Payee_Name").val(this.value.match(/^[A-Za-z0-9][a-zA-Z0-9 }{:,)(\r\n\s-/\'+.?]*/));
               //return true;
                 var a1= new RegExp("^[A-Za-z0-9][a-zA-Z0-9 /?:().,+{}'-]*$");
        }else{
        	var a1= new RegExp("^[a-zA-Z0-9][a-zA-Z0-9 .,$;!@#%^*-`_+={}|\:?/()~]*$");

        }

		var Payee_Name1 = $('#Payee_Name').val();
		var flag1=true;


		//var a1= new RegExp("^[A-Za-z0-9][a-zA-Z0-9 \}\{\:\\s\,\)\(\-\~\!\$\%\*\=\]\[\|\/\^`+@#_.;?]*");
		//var a= /^[A-Za-z0-9][a-zA-Z0-9 \}\{\:\\s\,\)\(\-\~\!\$\%\*\=\]\[\|\/\^`+@#_.;?]*/;

		//var a1= new RegExp("^[a-zA-Z0-9][a-zA-Z0-9 .,$;!@#%^*-`_+={}|\:?/()~]+$");

		/* if(Payee_Name1.indexOf("&") !=-1)
		{

			 if(Payee_Name1.indexOf("&lt;") !=-1){
				var re = /&lt;/gi;
    			Payee_Name1= Payee_Name1.replace(re, "");
			}
			if(Payee_Name1.indexOf("&amp;") !=-1){
				var re1 = /&amp;/gi;
				Payee_Name1 = Payee_Name1.replace(re1, "");
			}
			if(Payee_Name1.indexOf("&gt;") !=-1){
				//var re1 = new RegExp("&gt;");
				var re2 = /&gt;/gi;
				Payee_Name1 = Payee_Name1.replace(re2, "");
			}
			if(Payee_Name1.indexOf("&apos;") !=-1){
				//var re1 = new RegExp("&apos;");
				var re3 = /&apos;/gi;
				Payee_Name1 = Payee_Name1.replace(re3, "");
			}
			if(Payee_Name1.indexOf("&quot;") !=-1){
				var re4 = /&quot;/gi;
				Payee_Name1 = Payee_Name1.replace(re4, "");
			}


		}  */
		if(a1.test(Payee_Name1))
				flag1=true;
			else
				flag1=false;
				//alert(Payee_Name1.indexOf("<"));
		if (Payee_Name1.indexOf("<") >0){
			flag1=false;
		}
		if (Payee_Name1.indexOf(">") >0){
			flag1=false;
		}
		/* if ((Payee_Name1.indexOf("<") !=-1) || (Payee_Name1.indexOf(">") !=-1))
				flag1=false;
		else
			flag1=true;   */
		//alert(Payee_Name1+" End"+flag1+" __ "+a1);
		return flag1;

	}, "Enter Valid Payee Name");

	$("#frmDetailsIMPS").validate({
		rules : {


			Payee_Name : {
				required : true,
				alpha:true
			},

			/* Payee_Nick_Name : {
				required : true,
			} */


		},
		messages : {


			Payee_Name : {
				required : "Enter Payee Name",
				alpha : "Enter Valid Payee Name"
			},

			/* Payee_Nick_Name : {
				required : "Enter Payee Nick Name",
			} */


		}

	});


		$("#Payee_Name").keyup(function() {
		//neft
		if(BeneficieryOptState == BeneficieryOpt.EXTERNALModification)
		{
		//$("#Payee_Name").val(this.value.match(/[A-Za-z ]*/));
		//$("#Payee_Name").val(this.value.match(/^[a-zA-Z0-9\}\{\:\,\)\(+=.-]+$/g));
		//$("#Payee_Name").val(this.value.match(/^[a-zA-Z0-9 \}\{\:\\r\\n\\s\,\)\(+=.-]+$/g));


		$("#Payee_Name").val(this.value.match(/^[A-Za-z0-9][a-zA-Z0-9 }{:,)(\r\n\s-/\'+.?]*/));

		/// -? : (). , ? + {}
		var count = $("#Payee_Name").val().length;
		if (count > 35) {
			$("#Payee_Name").val(this.value.match(/.{1,35}/));

		}
		}
		else //rtgs
		{
		$("#Payee_Name").val(this.value.match(/^[A-Za-z0-9][a-zA-Z0-9 .,$;!@#%^*-`_+={}|\:?/()~]*/));
		var count = $("#Payee_Name").val().length;
		if (count > 35) {
			$("#Payee_Name").val(this.value.match(/.{1,35}/));

		}
		}




	});

		//$("#Payee_Nick_Name").keyup(function() {
		//$("#Payee_Nick_Name").val(this.value.match(/[A-Za-z ]*/));
		//var count = $("#Payee_Nick_Name").val().length;
		//if (count > 25) {
		//	$("#Payee_Nick_Name").val(this.value.match(/.{1,25}/));

		//}
		//});

	 $("#Payee_Name").focusin(function() {
		$(".footer").css('display', 'none');
	}).focusout(function() {
		$(".footer").css('display', 'inline-block');
	});

	/* $("#Payee_Nick_Name").focusin(function() {
		$(".footer").css('display', 'none');
	}).focusout(function() {
		$(".footer").css('display', 'inline-block');
	});  */




</script>

