<section class="dynamic-page-content" id="contentData">
	<div id="wrapper">
		<div class="content sub_content">
		
		<div id="emptylist"  style="display:none;" >
		<div class="topBox bgff5354" >
		<div class="rsaOOBErr">
  			<p>No payees found. Kindly register payee before doing fund transfer.</p>
			 </div>			
			 </div>
			  <br>
			 <label style="font-size: 18px; float: right; margin-right: 18px;"><a id = "payeelink" href = ""><u>Add Payee</u></a></label>	
			 </div>
		
			<div class="listRow" id="BenePayeeList"></div>
		</div>
	</div>
</section>