<style>
	.info_row { display:table; width:100%; }
	.linedivider { border:0 none; }
</style>
	<style>
	.swiper-container {
  width: 100%;
  height: 34px;
  color: #fff;
  text-align: center;
  overflow:hidden;
}

.swiper-pagination-switch {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #222;
  margin-right: 5px;
  opacity: 0.8;
  border: 1px solid #fff;
  cursor: pointer;
}
.swiper-visible-switch {
  background: #aaa;
}
.swiper-active-switch {
  background: #fff;
}
.swiper-slide .title {
  
  line-height: 34px;
}
		.arrow-right {
		  background: url(img/rarrow.png) no-repeat left bottom;
		  float:right;
		  right: 10px;
		  position:relative;
		  top: 5px;
		  width: 23px;
		  height: 24px;
		  z-index:100;
		}
		.arrow-left {
			background: url(img/backold.png) no-repeat left top;
			float:left;
			left: 10px;
			position:relative;
			top: 5px;
			width: 23px;
			height: 24px;
			 z-index:100;
		}
	</style>

			<link href="css/mobiscroll-2.0.custom.min.css" rel="stylesheet" type="text/css" />
			<script src="js/libs/mobiscroll-2.0.custom.min.js" type="text/javascript"></script>
		
		<section class="dynamic-page-content" id="contentData">
				<div id="wrapper">
					<div class="content sub_content">
				  
						<div class="info_row odd" id="accExitsMsg" style="display:none;">
							<span class="info_row_menu_left" style="width:15%;"><img src="img/alerticon.png" alt="" /></span>
							<span class="info_row_menu_right clslineht" style="width:72%;">
								No Payees found. Kindly register payee before doing Fund Transfer.
							</span> 
						</div>
				  
				  
						<div id="ftransfer">
							<form class="custStyleInput" name="frmedopen" id="frmedopen" method="post" data-bind='submit: fdopenconfirm'>
								<div id="tptCont" class="topBox" style="display:block;">
								
									<fieldset class="bgff5354">
										<label class="selLbl">From Account</label>
										<select name="fldFromAcctNo" id="fldFromAcctNo" data-bind="options: accountList, optionsText: 'displaytxt', optionsValue: 'codacctno', value: selAccount, event: {change:showSelectedAccount}"></select>
									</fieldset>	
									
									<fieldset class="bgff5354">
										<label class="selLbl">Nature of Deposit</label>
										<select name="NatureDeposit" id="NatureDeposit">
											 <option value="1">Monthly Payout</option>
											 <option value="2">Quarterly Payout</option>
											 <option value="3">Reinvestment/Short Term</option>
										</select>
									</fieldset>	
	
							
							<div data-bind="foreach: FDaccountSchemes">
							<div data-bind="attr:{id:natureOfDeposit}">
								
									<fieldset class="bgff6869">
										<label>Deposit Amount: </label>
										<input type="tel" data-bind="attr:{name:natureOfDeposit}" class='fldDepositAmt' onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);" style="float:left;"/>
										
										<label class='mar_t_10 no_mar' style='font-size: 13px; padding-top: 5px !important; clear: both;' data-bind="text: amountvalid"></label>
										<label class='mar_t_10 no_mar' style='font-size: 13px;' data-bind="text: curraccbalval1"></label>
									</fieldset>	

								
									<fieldset class="bgff5354" style="display:none;">
										<label class="no_mar">Deposit Period</label>										
									</fieldset>	
									
									<fieldset class="bgff5354">
										<label>Deposit Period Months</label>
										<input type="number" name="fldDepositMonth" class='fldDepositMonth' id="fldDepositMonth"/>
										<label class='mar_t_10 no_mar' style='font-size: 13px;' data-bind="text: minmonthvalid"></label>
										<!-- <label class="mar_t_10">Days</label>
										<input type="number" name="fldDepositDays" class='fldDepositDays' id="fldDepositDays"/>
										<label class='mar_t_10 no_mar' style='font-size: 13px;' data-bind="text: maxdaysvalid"></label> -->
									</fieldset>
									
									<fieldset class="bgff5354">
										<label>Deposit Period Days</label>
										<!-- <div class="arrow-left" href="#"></div>  -->
										 <div class="swiper-container" data-bind="attr:{id:swiperid}">
												<div class="swiper-wrapper">
												  <div class="swiper-slide blue-slide">
													<div class="title">0</div>
												  </div>
												  <div class="swiper-slide blue-slide">
													<div class="title">1</div>
												  </div>
												  <div class="swiper-slide red-slide">
													<div class="title">2</div>
												  </div>
												  <div class="swiper-slide orange-slide">
													<div class="title">3</div>
												  </div>
												  <div class="swiper-slide ">
													<div class="title">4</div>
												  </div><div class="swiper-slide ">
													<div class="title">5</div>
												  </div><div class="swiper-slide ">
													<div class="title">6</div>
												  </div><div class="swiper-slide ">
													<div class="title">7</div>
												  </div><div class="swiper-slide ">
													<div class="title">8</div>
												  </div><div class="swiper-slide ">
													<div class="title">9</div>
												  </div><div class="swiper-slide ">
													<div class="title">10</div>
												  </div><div class="swiper-slide ">
													<div class="title">11</div>
												  </div><div class="swiper-slide ">
													<div class="title">12</div>
												  </div><div class="swiper-slide ">
													<div class="title">13</div>
												  </div><div class="swiper-slide ">
													<div class="title">14</div>
												  </div><div class="swiper-slide ">
													<div class="title">15</div>
												  </div><div class="swiper-slide ">
													<div class="title">16</div>
												  </div><div class="swiper-slide ">
													<div class="title">17</div>
												  </div><div class="swiper-slide ">
													<div class="title">18</div>
												  </div><div class="swiper-slide ">
													<div class="title">19</div>
												  </div><div class="swiper-slide ">
													<div class="title">20</div>
												  </div><div class="swiper-slide ">
													<div class="title">21</div>
												  </div><div class="swiper-slide ">
													<div class="title">22</div>
												  </div><div class="swiper-slide ">
													<div class="title">23</div>
												  </div><div class="swiper-slide ">
													<div class="title">24</div>
												  </div><div class="swiper-slide ">
													<div class="title">25</div>
												  </div><div class="swiper-slide ">
													<div class="title">26</div>
												  </div><div class="swiper-slide ">
													<div class="title">27</div>
												  </div><div class="swiper-slide ">
													<div class="title">28</div>
												  </div><div class="swiper-slide ">
													<div class="title">29</div>
												  </div>
												   <div class="pagination"></div>
												</div>
												<div class="bgff6869 arrowDiv" style="position: relative;bottom: 35px;width:100%;">
											<div class="arrow-left"></div>  
											<div class="arrow-right"></div> 
									     </div>
										  </div> 
                                       <!--  <div class="arrow-right" href="#"></div> -->
										
										<label class='mar_t_10 no_mar' style='font-size: 13px; float:left' data-bind="text: maxdaysvalid"></label>
									</fieldset>	


							
							</div>
							</div>
									
									<fieldset class="bgff5354">
										<label class="selLbl">Maturity Instructions</label>
										<select name="maturityInstructions" id="maturityInstructions">
											<option value="1">Renew Principal and Interest</option>
											<option value="2">Renew Principal Only</option>
											<option value="3">Do Not Renew</option>
										</select>
									</fieldset>	
								
							
									<div class="bgded4d4">					 
										<div class="clearfix"></div>
										<fieldset>
											<input type="submit" class="btn" value="Continue" id="confirm_button1">
										</fieldset>
										<div class="clearfix" style="height:30px;"></div>	
									</div>							
									
								
								</div>	
						
							</form> 
						</div>
					</div>
				</div>

	<script type="text/javascript">
	var mySwiper;
	var mySwiper1;
	var mySwiper2;
		$(".swiper-container").css("width",window.innerWidth -  50 +"px");
		setTimeout(function(){
			mySwiper = new Swiper('#swiper0',{
				pagination: '.pagination',
				paginationClickable: true
			});
			
			//$("#swiper0").css("width",window.innerWidth -  110 +"px");
			$('.arrow-left').on('click', function(e){
				e.preventDefault()
				mySwiper.swipePrev()
			})
			$('.arrow-right').on('click', function(e){
				e.preventDefault()
				mySwiper.swipeNext()
			});
			
			
			mySwiper1 = new Swiper('#swiper1',{
				pagination: '.pagination',
				paginationClickable: true
			});
			//$("#swiper1").css("width",window.innerWidth -  110 +"px");
			$('.arrow-left').on('click', function(e){
				e.preventDefault()
				mySwiper1.swipePrev()
			})
			$('.arrow-right').on('click', function(e){
				e.preventDefault()
				mySwiper1.swipeNext()
			});
			
			mySwiper2 = new Swiper('#swiper2',{
				pagination: '.pagination',
				paginationClickable: true
			});
			//$("#swiper2").css("width",window.innerWidth -  110 +"px");
			$('.arrow-left').on('click', function(e){
				e.preventDefault()
				mySwiper2.swipePrev()
			})
			$('.arrow-right').on('click', function(e){
				e.preventDefault()
				mySwiper2.swipeNext()
			});
			
			$(document).find('#1').show();
			$(document).find('#2').hide();
			$(document).find('#3').hide();
		},500)
			
			  $('#NatureDeposit').change(function(){
					temp = $('#NatureDeposit').val();
					if(temp == '1'){$('#2').hide(); $('#3').hide(); $('input[type="number"]').val('');}
					if(temp == '2'){$('#1').hide(); $('#3').hide(); $('input[type="number"]').val('');}
					if(temp == '3'){$('#2').hide(); $('#1').hide(); $('input[type="number"]').val(''); 
					setTimeout(function(){$('.fldDepositMonth:visible').val('0');},500)}
					$('#'+temp).show();
			  });
			  
			$.validator.addMethod("alpha", function(value, element) {
				if(curraccbalvalue < $('.fldDepositAmt:visible').val()){
					//alert(1);
					return false;
				}
				else{return true;}
			}
			, "Insufficient funds available"); 
			  
		 
			$("#frmedopen").validate({
			
				rules: {
					fldFromAcctNo: "required",
					fldDepositMonth: {
							required: true,
							digits:true
					},
					//fldDepositDays: "required",
					'1': {
							required: true,
							alpha:true
					},
					'2': {
							required: true,
							alpha:true
					},
					'3': {
							required: true,
							alpha:true
					}
				},
				messages: {
					fldFromAcctNo: "Select From Account",
					fldDepositMonth: 
					{
							required: "Enter Valid Deposit Months",
							digits:"Invalid Deposit Period Month"
					},
					//fldDepositDays:"Enter Days",
					fldDepositAmt: {
							required: "Enter Amount",
							alpha:"Insufficient funds available"
					},
					'1': {
							required: "Enter Amount",
							alpha:"Insufficient funds available"
					},
					'2': {
							required: "Enter Amount",
							alpha:"Insufficient funds available"
					},
					'3': {
							required: "Enter Amount",
							alpha:"Insufficient funds available"
					}
					
				}
			});


	</script>
		
		</section>
