<style>
	.info_row { display:table; width:100%; }
	.linedivider { border:0 none; }
</style>
	
	<section id="contentData" class="dynamic-page-content">
		
		<div id="wrapper" style="top:79px;">
		  <div class="content sub_content">		
		<div data-bind="foreach: LoanaccountDetails">
			<div class="summblock">
				
				<div class="info_row  dark_header"><span class="info_row_left">Loan Account No.</span> 
				 <span class="info_row_right" data-bind="text: acctnumber">503000000030211</span>
					<div class="clearfix"></div>
				</div>
				
				<div class="info_row odd"><span class="info_row_left">Product</span> 
				<span class="info_row_right " data-bind="text: productName">-</span>
					<div class="clearfix"></div>
				</div>
				
				<div class="info_row even"><span class="info_row_left">Sanctioned Amount</span> 
				<span class="info_row_right " data-bind="text: sanctionedAmount">-</span>
					<div class="clearfix"></div>
				</div>
				
				<div class="info_row odd"><span class="info_row_left">Disbursed Amount</span> 
					<span class="info_row_right " data-bind="text: disbursedAmount">0.00</span>
					<div class="clearfix"></div>
				</div>
				
				<div class="info_row even"><span class="info_row_left">First Disbursement Date</span> 
					<span class="info_row_right " data-bind="text: firstDisbursementDate">0.00</span>
					<div class="clearfix"></div>
				</div>
				
				<div class="info_row odd"><span class="info_row_left">Last Disbursement Date</span> 
					<span class="info_row_right " data-bind="text: lastDisbursementDate">0.00</span>
					<div class="clearfix"></div>
				</div>
					
				<div class="info_row even"><span class="info_row_left">Interest Rate (p.a.)</span> 
				<span class="info_row_right" data-bind="text: interest">0.00</span>
					<div class="clearfix"></div>
				</div>
					
				<div class="info_row odd"><span class="info_row_left">Next EMI Due</span> 
				<span class="info_row_right" data-bind="text: emiAmount">0.00</span>
					<div class="clearfix"></div>
				</div>
				 
				<div class="info_row even"><span class="info_row_left">EMI Over Due</span> 
					<span class="info_row_right " data-bind="text: emiDue">INR</span>
					<div class="clearfix"></div>
				</div>	
				
				<div class="info_row odd"><span class="info_row_left">Principal Outstanding</span> 
					<span class="info_row_right "data-bind="text: outstandingPrincipal">BOISAR, MAHARASHTRA</span>
					<div class="clearfix"></div>
				</div>
				
				<div class="info_row even"><span class="info_row_left">No Of Pending Installments</span> 
					<span class="info_row_right "data-bind="text: numPendingInstallments">BOISAR, MAHARASHTRA</span>
					<div class="clearfix"></div>
				</div>
				
				 <div class="info_row odd"><span class="info_row_left">Additional Charges</span> 
					<span class="info_row_right "data-bind="text: feesDue">BOISAR, MAHARASHTRA</span>
					<div class="clearfix"></div>
				</div>
				
				<div class="info_row even"><span class="info_row_left">Other Interest</span> 
					<span class="info_row_right "data-bind="text: interestDue">BOISAR, MAHARASHTRA</span>
					<div class="clearfix"></div>
				</div> 
			</div>
		</div>	
			<div class="clearfix" style="height:25px;"></div>
		  </div>
		  <!-- /content --> 
		</div>
		
	</section>

