<section class="dynamic-page-content" id="contentData">
 <div id="wrapper">
    <div class="content sub_content">
  		<div class="topBox bgff5354">
			<div class="success_msg" style="display:none;">
				<p>Transaction successful</p>	
			</div>
		</div>
  		<div class="summblock" id="tpn06success">

		<div class="summblock listItems">
				<div class="info_row"> <span class="info_row_left">Recurring Account Number</span> <span class="info_row_right f18 clsacctno" ></span>
						<div class="clearfix"></div>
				</div>
				<div class="info_row"> <span class="info_row_left">SI Reference Number<div style="color: blue;font-size: 11px;">Standing Instruction has been created for your Account</div></span> <span class="info_row_right f18 refno" ></span>
						<div class="clearfix"></div>
				</div>
		</div>
		</div>

  </div>
</div>


</section>
