<style>
	.info_row { display:table; width:100%; }
	.linedivider { border:0 none; }
</style>

	<section id="contentData" class="dynamic-page-content">
		
		<div id="wrapper" style="top:79px;">
		  <div class="content sub_content">		

		<div data-bind="foreach: RDaccountDetails">
			<div class="summblock">
				
				 <div class="info_row  dark_header"><span class="info_row_left">Account No.</span> 
				 <span class="info_row_right" data-bind="text: acctnumber">503000000030211</span>
					<div class="clearfix"></div>
				</div>
				
				<div class="info_row odd"><span class="info_row_left">Deposit Start Date</span> 
				<span class="info_row_right " data-bind="text: openingDate">-</span>
					<div class="clearfix"></div>
				</div>
				
				<div class="info_row even"><span class="info_row_left">Maturity Date<div style="color: #E22B51;font-size: 11px;">Subject to payment of last installment</div></span>
				<span class="info_row_right " data-bind="text: maturityDate">-</span>
					<div class="clearfix"></div>
				</div>
				
				<div class="info_row odd"><span class="info_row_left">Tenure</span> 
					<span class="info_row_right " data-bind="text: Tenure">0.00</span>
					<div class="clearfix"></div>
				</div>
				
				<div class="info_row even"><span class="info_row_left">Installment Amount</span> 
					<span class="info_row_right " data-bind="text: instalmentAmount">0.00</span>
					<div class="clearfix"></div>
				</div>	
				
				<div class="info_row odd"><span class="info_row_left">Current Value</span> 
					<span class="info_row_right " data-bind="text: balance">0.00</span>
					<div class="clearfix"></div>
				</div>
								
				<div class="info_row even"><span class="info_row_left">Maturity Amount<div style="color: #E22B51;font-size: 11px;">Subject to Lien and Freeze</div></span> 
				<span class="info_row_right" data-bind="text: maturityAmnt">0.00</span>
					<div class="clearfix"></div>
				</div>
				
				<div class="info_row odd"><span class="info_row_left">Rate of Interest</span> 
					<span class="info_row_right" data-bind="text: interest">0.00</span>
					<div class="clearfix"></div>
				</div>
				
				<div class="info_row even"><span class="info_row_left">Currency</span> 
					<span class="info_row_right " data-bind="text: currency">INR</span>
					<div class="clearfix"></div>
				</div>	
				
				<div class="info_row odd"><span class="info_row_left">Branch</span> 
					<span class="info_row_right "data-bind="text: branch">BOISAR, MAHARASHTRA</span>
					<div class="clearfix"></div>
				</div>
				
				<div class="info_row even"><span class="info_row_left" style="color: #001f79;">Installment Info :</span> 
					<div class="clearfix"></div>
				</div>
				 
				<div class="info_row odd"><span class="info_row_left">Paid</span> 
					<span class="info_row_right " data-bind="text: instalmentsPaid">0.00</span>
					<div class="clearfix"></div>
				</div>
				
				<div class="info_row even"><span class="info_row_left">Delayed</span>   
					<span class="info_row_right " data-bind="text: instalmentsDelayed">0.00</span>
					<div class="clearfix"></div>
				</div>
				
				<div class="info_row odd"><span class="info_row_left">Defaulted</span> 
					<span class="info_row_right " data-bind="text: instalmentsMissed">0.00</span>
					<div class="clearfix"></div>
				</div>	
				
				<div class="info_row even"><span class="info_row_left">Installment Paid up to date</span> 
					<span class="info_row_right " data-bind="text: paidAmount">0.00</span>
					<div class="clearfix"></div>
				</div>				
				
				<div class="info_row odd"><span class="info_row_left">Next Due Date</span> 
				<span class="info_row_right " data-bind="text: nextDueDate">-</span>
					<div class="clearfix"></div>
				</div>
				
								
			</div>
		</div>	
			<div class="clearfix" style="height:25px;"></div>
		  </div>
		  <!-- /content --> 
		</div>
		
	</section>

