<style>
	.info_row { display:table; width:100%; }
	.linedivider { border:0 none; }
</style>
	
	<section class="dynamic-page-content" id="contentData">
			<link href="css/mobiscroll-2.0.custom.min.css" rel="stylesheet" type="text/css" />
			<script src="js/libs/mobiscroll-2.0.custom.min.js" type="text/javascript"></script>
				<div id="wrapper">
					<div class="content sub_content">
				  
						<div class="info_row odd" id="accExitsMsg" style="display:none;">
							<span class="info_row_menu_left" style="width:15%;"><img src="img/alerticon.png" alt="" /></span>
							<span class="info_row_menu_right clslineht" style="width:72%;">
								No Payees found. Kindly register payee before doing Fund Transfer.
							</span> 
						</div>
				  
						<div id="ftransfer">
							<form class="custStyleInput" name="frmrdopen" id="frmrdopen" method="post" data-bind='submit: rdopensubmit'>
								<div id="tptCont" class="topBox" style="display:block;">
								
									<fieldset class="bgff5354">
										
									<label class="selLbl">From Account</label>
									<select name="fldFromAcctNo" id="fldFromAcctNo" data-bind="options: accountList, optionsText: 'displaytxt', optionsValue: 'codacctno', value: selAccount, event: {change:showSelectedAccount}"></select>
									</fieldset>	
									
									<fieldset class="bgff6869">
										<label>Deposit Amount</label>
										<input type="tel" name="fldTxnAmount" id="fldDepositAmt" onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);" style="float:left;"/>
										
										<label class="mar_t_10 no_mar" style='font-size: 13px;line-height: 2;'>Min ₹ 500.00/-</label>
										<label class='mar_t_10 no_mar' style='font-size: 13px;' data-bind="text: curraccbalval1"></label>
									</fieldset>	
									
									<fieldset class="bgff5354">
										<label class="no_mar">Deposit Period</label>										
									</fieldset>	
									
									<fieldset class="bgff5354">
										<label>Months</label>
										<input type="number" name="fldDepositMonth" id="fldDepositMonth"/>
										<label class="mar_t_10 no_mar" style='font-size: 13px;'>Min 6 Months - Max 240 Months</label>
									</fieldset>
							
									<div class="bgded4d4">					 
										<div class="clearfix"></div>
										<fieldset>
											<input type="submit" class="btn" value="Continue" id="confirm_button1">
										</fieldset>
										<div class="clearfix" style="height:30px;"></div>	
									</div>
								
								</div>	
						
							</form> 
						</div>
					</div>
				</div>

			<script type="text/javascript">

			$.validator.addMethod("alpha", function(value, element) {
				var rdamnt = $('#fldDepositAmt').val();
				if(curraccbalvalue < rdamnt){
					return false;
				}
				else{return true;}
			}
			, "Insufficient funds available"); 
			
			$("#frmrdopen").validate({
				rules: {
					fldFromAcctNo: "required",
					
					fldTxnAmount: {
							required: true,
							min: 500,
							max:10000000,
							alpha: true
					},
					fldDepositMonth: {
							required: true,
							min: 6,
							max:240,
							digits:true
					}
				},
				messages: {
					fldFromAcctNo: "Select From Account",
					
					fldTxnAmount: {
							required: "Enter Amount",
							min: "Minimum Deposit amount ₹ 500",
							max:"Maximum Deposit amount ₹ 1,00,00,000",
							alpha:"Insufficient funds available"
					},
					fldDepositMonth: {
							required: "Enter Valid Deposit Months",
							min: "Minimum Deposit period 6 months",
							max:"Maximum Deposit period 240 months",
							digits:"Invalid Deposit Period Month"
					}
					
				}
			});

			</script>
		
		</section>
	</section>

