<section class="dynamic-page-content" id="contentData">
 <div id="wrapper">
    <div class="content sub_content">
  		<div class="topBox bgff5354">
			<div class="success_msg" >
				<p>Registration successful</p>	
			</div>
		</div>
  		<div class="summblock" id="tpn06success">
			<div data-bind="foreach: ccaccountList">
				<div class="summblock">
					
					<div class="info_row odd"  data-bind="attr:{id:codacctno}"><span class="info_row_left">Card Number</span> 
					 <span class="info_row_right" data-bind="text: cardno">503000000030211</span>
						<div class="clearfix"></div>
					</div>
					
				</div>
			</div>	
		</div>

  </div>
</div>


</section>
