<section class="dynamic-page-content" id="contentData">
 <div id="wrapper">
    <div class="content sub_content">
  		<div class="topBox bgff5354">
			<div class="success_msg" >
				<p>EMI Application successful</p>	
			</div>
		</div>
  		<div class="summblock" id="tpn06success">
			<div>
				<div class="summblock">
					
					<div class="info_row odd"><span class="info_row_left">Application Number</span> 
					 <span class="info_row_right applino" >503000000030211</span>
						<div class="clearfix"></div>
					</div>
					
					<div class="info_row odd"><span class="info_row_left">Term</span> 
					 <span class="info_row_right term" >503000000030211</span>
						<div class="clearfix"></div>
					</div>

					<div class="info_row odd"><span class="info_row_left">Rate Of Interest</span> 
					 <span class="info_row_right rateofinterest" >503000000030211</span>
						<div class="clearfix"></div>
					</div>
					
					<div class="info_row odd"><span class="info_row_left">Total Interest</span> 
					 <span class="info_row_right totalinterest" >503000000030211</span>
						<div class="clearfix"></div>
					</div>
					
					<div class="info_row odd"><span class="info_row_left">EMI</span> 
					 <span class="info_row_right EMI" >503000000030211</span>
						<div class="clearfix"></div>
					</div>
					
					<div class="info_row odd"><span class="info_row_left">EMI Start Date</span> 
					 <span class="info_row_right startdate" >503000000030211</span>
						<div class="clearfix"></div>
					</div>
					
					<div class="info_row odd"><span class="info_row_left">EMI End Date</span> 
					 <span class="info_row_right enddate">503000000030211</span>
						<div class="clearfix"></div>
					</div>

				</div>
			</div>	
		</div>

  </div>
</div>


</section>
