<section class="dynamic-page-content" id="contentData">
 <div id="wrapper">
    <div class="content sub_content">
  		<div class="topBox bgff5354">
			<div class="success_msg" >
				<p>Transaction successful</p>	
			</div>
		</div>
  		<div class="summblock" id="tpn06success">
			<div>
				<div class="summblock">
					
					<div class="info_row odd"><span class="info_row_left">Reference Number</span> 
					 <span class="info_row_right refno" >503000000030211</span>
						<div class="clearfix"></div>
					</div>
					
					<div class="info_row even"><span class="info_row_left">Amount</span> 
					 <span class="info_row_right Amount" >503000000030211</span>
						<div class="clearfix"></div>
					</div>

					<div class="info_row odd"><span class="info_row_left">From Account Number</span> 
					 <span class="info_row_right frmacnt" >503000000030211</span>
						<div class="clearfix"></div>
					</div>
					
					<div class="info_row even"><span class="info_row_left">Card Number</span> 
					 <span class="info_row_right cardno" >503000000030211</span>
						<div class="clearfix"></div>
					</div>
					
					<div class="info_row odd" ><span class="info_row_left">Card Type</span> 
					 <span class="info_row_right cardtype" ></span>
						<div class="clearfix"></div>
					</div>
					
				</div>
			</div>	
		</div>

  </div>
</div>


</section>
