<style>
	.info_row { display:table; width:100%; }
	.linedivider { border:0 none; }
	.plan{ width: 45%;
    margin: 8px 5px 6px;
    border-radius: 15px;color: blueviolet;}
	.heading{
    background: #ded4d4 !important;
   padding-left: 0px !important;
    color: #000 !important;
    font-weight: bold !important;
    text-align: center !important;
}
</style>
	
	<section id="contentData" class="dynamic-page-content">
		
		<div id="wrapper" style="top:79px;">
		  <div class="content sub_content">
				
				<div class="info_row even"><span class="info_row_left">For Credit Card No.</span> 
				<span class="info_row_right cardno">-</span>
					<div class="clearfix"></div>
				</div>
				
				<div class="info_row odd" style='display:none;'><span class="info_row_left">Total Debits</span> 
				<span class="info_row_right totalDRbal">-</span>
					<div class="clearfix"></div>
				</div>
				
				<div class="info_row even" style='display:none;'><span class="info_row_left">Total Credits</span> 
				<span class="info_row_right totalCRbal">-</span>
					<div class="clearfix"></div>
				</div>
		  
		<h1 class='heading'>Transactions Details</h1>
		
		<div data-bind="foreach: CCcardtrans">
			<div class="summblock">
				
				<div class="info_row  dark_header"><span class="info_row_left">Transaction Date</span> 
				 <span class="info_row_right" data-bind="text: recordDate">503000000030211</span>
					<div class="clearfix"></div>
				</div>
				
				<div class="info_row odd"><span class="info_row_left">Description</span> 
				<span class="info_row_right " data-bind="text: narrative">-</span>
					<div class="clearfix"></div>
				</div>
				
				<!-- ko if: TransType == "Dr" -->
				<div class="info_row even"><span class="info_row_left">Amount</span> 
				<span class="info_row_right " data-bind="text: amount" style='color: blue;'>-</span>
					<div class="clearfix"></div>
				</div>
				<!-- /ko -->
				
				<!-- ko if: TransType == "Cr" -->
				<div class="info_row even"><span class="info_row_left">Amount</span> 
				<span class="info_row_right " data-bind="text: amount" style='color: green;'>-</span>
					<div class="clearfix"></div>
				</div>
				<!-- /ko -->
				
				<div class="info_row odd" style='display:none'><span class="info_row_left">Transaction Type</span> 
				<span class="info_row_right " data-bind="text: TransType">-</span>
					<div class="clearfix"></div>
				</div>
				
				<!-- ko if: hasEMIOption == true -->
				<div class="info_row even"><span class="info_row_left"></span> 
					<input type="button" value="Convert to EMI"  data-bind="attr: {id:index}" class='plan' onclick='EMIplan(this.id)'>
					<div class="clearfix"></div>
				</div>
				<!-- /ko -->
				<!-- ko if: hasEMIOption == false -->
				<!-- ko ifnot: planname == '' -->
				<div class="info_row even"><span class="info_row_left">EMI Plan</span> 
				<span class="info_row_right " data-bind="text: planname">-</span>
					<div class="clearfix"></div>
				</div>
				<!-- /ko -->
				<!-- /ko -->
		</div>
		</div>
		<div id="notransaction" class="noRecord padT10" style='display:none;'>
			No Transaction found
		</div>
			<div class="clearfix" style="height:25px;"></div>
		  </div>
		  <!-- /content --> 
		</div>
		
	</section>
	
	<script>
		temp = cardnumber.length;
		temp1 = temp-4;
		cardno = "xxxxxxxxxxxx"+cardnumber.substring(temp1,temp);		
		$('.cardno').html(cardno);
		$('.totalDRbal').html("₹ "+formatAmt(parseFloat(totalDRbal)));
		$('.totalCRbal').html("₹ "+formatAmt(parseFloat(totalCRbal)));
		
	</script>

