<style>
	.info_row { display:table; width:100%; }
	.linedivider { border:0 none; }
	.plan{ width: 45%;
    margin: 8px 5px 6px;
    border-radius: 15px;}
</style>
	
	<section id="contentData" class="dynamic-page-content">
		
		<div id="wrapper" style="top:79px;">
		  <div class="content sub_content">		
		<div>
		<form class="custStyleInput" name="frmccemi" id="frmccemi" method="post" data-bind='submit: CCconfirmPlan'>

			<div class="summblock">
				
				<div class="info_row  dark_header">
				 <span class="info_row_left planName" style="width:100%;" ></span>
					<div class="clearfix"></div>
				</div>
				
				<div class="info_row odd"><span class="info_row_left">Term</span> 
				<span class="info_row_right tenureInMonths" >-</span>
					<div class="clearfix"></div>
				</div>
				
				<div class="info_row even"><span class="info_row_left">Reducing Rate of Interest</span> 
				<span class="info_row_right rateOfInterest" >-</span>
					<div class="clearfix"></div>
				</div>
				
				<div class="info_row odd"><span class="info_row_left">Interest Amount</span> 
				<span class="info_row_right totalinterest">-</span>
					<div class="clearfix"></div>
				</div>
				
				<div class="info_row even"><span class="info_row_left">EMI Amount</span> 
				<span class="info_row_right EMI" >-</span>
					<div class="clearfix"></div>
				</div>
				
				<div class="info_row odd"><span class="info_row_left">EMI Start Date</span> 
				<span class="info_row_right startdate">-</span>
					<div class="clearfix"></div>
				</div>
				
				<div class="info_row even"><span class="info_row_left">EMI End Date</span> 
				<span class="info_row_right enddate" >-</span>
					<div class="clearfix"></div>
				</div>
				
				<div class="info_row odd"><span class="info_row_left">One time Processing Fee</span> 
				<span class="info_row_right processingfee" ></span>
					<div class="clearfix"></div>
				</div>
				
				<fieldset class="bgff5354" id="accept" style='background: #D1D1D1;'>
				   <label class="selLbl">For T&C, please refer our website for more details.</label>
					<select name="fldChecked" id="fldChecked" onchange='confrmval()'>
					<option value="true">Accept</option>
					<option value="false">Decline</option>
					</select>
				</fieldset>	
				
				<div class="bgded4d4">					 
					<div class="clearfix"></div>
					<fieldset>
						<input type="submit" class="btn" value="Book Now" id="confirm_button1">
					</fieldset>
					<div class="clearfix" style="height:30px;"></div>	
				</div>

				
			</div>
		</form>
		</div>	
			<div class="clearfix" style="height:25px;"></div>
		  </div>
		  <!-- /content --> 
		</div>
		
	</section>
	
<script type="text/javascript">
function confrmval(){
	if($('#fldChecked').val() == 'false'){
		$('#confirm_button1').prop('disabled', true);		
	}
	else{
		$('#confirm_button1').prop('disabled', false);
	}
}
</script>

