
/* Stylesheet content from css/android-controls.css in folder common */

/* Stylesheet content from css/android-controls.css in folder common */
input[type=checkbox] { -webkit-border-radius: 0; width:22px; height:23px; background:url(images/checkbox.png) no-repeat left top; border:0 none; }
input[type=radio] { border-radius:0 !important; width:22px; height:23px; background:url(images/and_radiobutton.png) no-repeat left top; border:0 none; }
input[type=checkbox]:checked { background:url(images/checkbox.png) no-repeat left bottom; background-size: auto; background-position: left bottom; }
input[type=radio]:checked { background:url(images/and_radiobutton.png) no-repeat left bottom; background-size: auto; background-position: left bottom; }
input[type=checkbox], input[type=checkbox] + label, input[type=radio], input[type=radio] + label {display: inline-block;vertical-align: middle; margin:0;padding-top:6px;}
input[type=checkbox], input[type=radio] { margin-right:5px; }
input[type=checkbox] + label + input[type=checkbox], input[type=radio] + label + input[type=radio] { margin-left:30px; }
select { padding-right:30px; background: url("images/and_selectbox.png") no-repeat right top; position:relative; left:-1%; width:101%; font-family: "HelveticaNeueLtMed"; line-height:30px; }
select option { color:#333; }
p.select { margin-bottom:10px; }
p.select label { margin:0 0 3px; }
p.select select { height:34px; }
.button, .button1 { background:#004a8f; width:100%; height:41px; line-height:41px; font-weight:bold; text-align:center; color:#edf0f5; font-size:16px; -webkit-tap-highlight-color: rgba(17,140,254,0.6); text-decoration:none; display:inline-block; border-radius:0; -webkit-border-radius:0; }
.button2 { background:#004a8f; width:100%; height:41px; line-height:41px; font-weight:bold; text-align:center; color:#edf0f5; font-size:16px; -webkit-tap-highlight-color: rgba(17,140,254,0.6); text-decoration:none; display:inline-block; border-radius:0; -webkit-border-radius:0; width: 150px;
margin: auto;
display: table;}
/*.button.active, .button1.active { background:#1b3fcc; position:relative; top:2px; left:1px; box-shadow: 0 0 4px #555; -moz-box-shadow: 0 0 4px #555; -webkit-box-shadow: 0 0 4px #555; }*/
.button.a_arw:after { content:url(../img/btn_arw.png); display:inline-block; vertical-align:middle; background-repeat:no-repeat; height:100%; padding:1px 0 0 8px; }
/*p.radio_box { padding-top:5px !important;}*/
p.radio_box span { position:relative; top:3px; }
.check_label { display:inline-block !important; vertical-align:bottom; }
.check_label a { color:#004a8f; }
/* for biller */
#inputdetails1_drop{ background: url("images/arw_dn.png") no-repeat right top !important;}
#inputdetails2_drop{ background: url("images/arw_dn.png") no-repeat right top !important;}
#inputdetails3_drop{ background: url("images/arw_dn.png") no-repeat right top !important;}
#inputdetails4_drop{ background: url("images/arw_dn.png") no-repeat right top !important;}
#inputdetails5_drop{ background: url("images/arw_dn.png") no-repeat right top !important;}
