
/* Stylesheet content from css/main.css in folder common */

/* Stylesheet content from css/main.css in folder common */
/* 	CSS Document 
	Author 	: www.techepoch.com 
	Date 	: May 2012
	Description : Common site wide styles for RBL on Mobile using HTML5, CSS3
*/ 

/* Reset */
header, footer, article, nav, section, aside, time, hgroup { display : block; }
html, body, header, footer, article, nav, section, aside, time, h1, h2, h3, p, a, ul, li, dl, dd, dt, table, thead, tfoot, tbody, th, tr, td, img { border : 0; margin : 0; outline : 0; padding : 0; }
.info_row p { padding-left: 5px; }
body { color:#000; line-height: 1; font-family: HelveticaNeueLt; background:#fff; margin:0px; -webkit-tap-highlight-color:rgba(0,0,0,0); }
a { text-decoration:none; color:#03C; }
a:hover { text-decoration:none; cursor:pointer; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
.section_title { font-size:14px; font-weight:bold; margin:5px 0 5px 0; padding: 5px 0; border-bottom:0px solid #ccc; }
.f14 { font-size:14px; }
/* Clear Floated Elements */
/* http://perishablepress.com/press/2009/12/06/new-clearfix-hack */
.clearfix:after { clear: both; content: ' '; display: block; font-size: 0; line-height: 0; visibility: hidden; width: 0; height: 0; }
/*	The following zoom:1 rule is specifically for IE6 + IE7.Move to separate stylesheet if invalid CSS is a problem.*/
* html .clearfix, *:first-child+html .clearfix { zoom: 1; }
/* Basic */
.site_sprite, .page_title_dn_arrow { }
/* Layout */
#outer_container { position:relative; width:inherit; /*width:320px;width:100%; width:440px;   */ 	/* Adjust this width according to the screen width */ background:#fff; }
#outer_container header { background: #082882; background: -moz-linear-gradient(top, #082882 0%, #01227e 2%, #01217d 5%, #00144e 98%, #182958 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #082882), color-stop(2%, #01227e), color-stop(5%, #01217d), color-stop(98%, #00144e), color-stop(100%, #182958)); background: -webkit-linear-gradient(top, #082882 0%, #01227e 2%, #01217d 5%, #00144e 98%, #182958 100%); background: -o-linear-gradient(top, #082882 0%, #01227e 2%, #01217d 5%, #00144e 98%, #182958 100%); background: -ms-linear-gradient(top, #082882 0%, #01227e 2%, #01217d 5%, #00144e 98%, #182958 100%); background: linear-gradient(top, #082882 0%, #01227e 2%, #01217d 5%, #00144e 98%, #182958 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#082882', endColorstr='#182958', GradientType=0 );
height:46px; line-height:46px; border:1px solid #7989B5; border-left:0; border-right:0; }
#outer_container header .logo { display:block; width:170px; height:40px; margin: 0 auto; overflow:hidden; background-position: 0 7px; }
/*Content */
#content_container { overflow:auto; margin:0; right:0; left:0; top:0;    /*position:fixed;*/ border-top:0px solid #000; }
.sub_content { padding: 0 8px; }
.sub_content div { margin:0 0; }
.page_title_outer { }
.page_title { background: #edf0f5; background: -moz-linear-gradient(top, #edf0f5 0%, #d4deef 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #edf0f5), color-stop(100%, #d4deef)); background: -webkit-linear-gradient(top, #edf0f5 0%, #d4deef 100%); background: -o-linear-gradient(top, #edf0f5 0%, #d4deef 100%); background: -ms-linear-gradient(top, #edf0f5 0%, #d4deef 100%); background: linear-gradient(top, #edf0f5 0%, #d4deef 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf0f5', endColorstr='#d4deef', GradientType=0 );
height:56px; line-height:56px; padding: 0 0 0 10px; border-bottom:1px solid #d4deef; }
.page_title_dn_arrow { display:block; height:16px; background-position: 2px -110px; width:34px; margin:0 auto; }
.page_title_sub { }
/* Button */
.btn, .button { background: #2c387c; border:0 none; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; display:inline-block; padding:2px 20px; margin:15px; color:#fff; height:38px; line-height:38px; text-align:center; /*width:127px;*/ font-size:18px; color:#fff; text-shadow:0 1px 2px rgba(0,0,0,0.5); font-family: "HelveticaNeueLtMed"; text-transform:capitalize; }
.btn.cancelBtn, .button.cancelBtn { background:#dd2d2d; }
.btn:hover, .button:hover { box-shadow: 0 0 4px #555; -moz-box-shadow: 0 0 4px #555; -webkit-box-shadow: 0 0 4px #555; color:#eee; }
.page_title, .page_title_sub, .rs { color:#001f79; font-size:18pt; }
.page_title, .page_title_carousel, .rs { color:#fff; font-size:15px; }
.page_block, .page_block_sub, .rs { color:#001f79; font-size:18pt; }
.rs { line-height:25pt; }
.rs_fld { color:#001f79; font-size:17pt; }
/*input{font-size:12pt; width: 97%;	background:#fff;	border:1px solid #a0b5d8; -moz-border-radius: 5px;-webkit-border-radius: 5px; border-radius: 5px; height:35px; color:#001f79; padding: 2px 5px 2px 8px; margin:0 0 10px 0;}*/
.alignc { text-align:center; }
.f_lgrey { color:#888; }
.divider { height:1px; border-bottom:1px solid #001f79; margin:5px; }
.info_row_menu_left { display: table-cell; vertical-align:middle; width: 20%; min-height: 43px; line-height: normal; padding: 3px 5px; }
.right_arrow { display:table-cell; float:none; vertical-align:middle; text-align:right; padding-right: 4%; }
.info_row_menu_right { display: table-cell; vertical-align:middle; width: 62%; min-height: 43px; line-height: normal; padding: 3px 5px; color:#000; }
.info_row { margin:3px 0; font-size:15px; display:table; width:100%; }
.info_row_left { display:block; float:left; width:50%; line-height:normal; padding: 8px 5px 6px 18px; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; word-wrap: break-word; word-break: break-word; }
.info_row_new { display:block; float:left; min-height:30px; line-height:30px; padding: 3px 5px; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; word-wrap: break-word; word-break: break-word; }
.info_row_right { display:block; float:left; width:50%; line-height:normal; padding: 8px 5px 6px; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; word-wrap: break-word; word-break: break-word; }	

.thin_col { width:20%; }
.even { background-color:#e8e8e8; }
.lh12 { line-height:22px; }
.disableclick { color:#000; -webkit-tap-highlight-color: rgba(0,0,0,0); }
.info_row_right a:hover { color:#000; }
.clslineht { line-height:17px !important; padding-top:5px; word-wrap: break-word; }
.clslineht1 { line-height:30px !important; padding-top:5px; word-wrap: break-word; }
.clslineht23 { line-height:23px !important; padding-top:5px; word-wrap: break-word; }
.divider_account { height:11px; background-image: url(../img/Divider.png); padding:0 0; margin:0 0; }
/*.summblock { border:1px solid #e1e6ef; }*/
.dark_header { background:#2c387c; }
.info_row.subTitle { min-height:30px; line-height:30px; padding-left:18px; color:#fff; font-size:18px; }
.info_row2 { display:block; float:left; width:100%; min-height:30px; line-height:30px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; }
.info_row3 { display:block; float:left; width:100%; min-height:38px; line-height:38px; padding: 3px 0; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; }
/*.linedivider { height:2px; background-image: url(../img/Divider_line.png); width:100%; margin:20px 0 0 0; padding: 0; background-position: center top; }*/
.linedivider { height:2px; background:#fff; width:100%; margin:0; padding: 0; }
div#save { width:100%; }
.myCheckbox input { display: none; }
.myCheckbox span { margin-top:15px; width: 25px; height: 25px; display: block; background: url("../img/checkunsel.gif"); }
.myCheckbox input:checked + span { background: url("../img/checksel.gif"); }
/*** successfull msg ***/
.success_msg, .rsaOOBErr { display:block; padding:10px 5px 10px 18px; }
.success_msg p, .rsaOOBErr p { background:url(../img/icon_ok.png) no-repeat center left; min-width:40px; padding-top:4px; padding-bottom:0px; padding-left:30px; line-height:normal; display:block; color:#fff; font-size:18px; font-family:HelveticaNeueLt; }
.rsaOOBErr p { background-image:url(../img/error.png); }
.failure_msg { display:block; padding:10px 0 10px 0px; }
.failure_msg p { background:url(../img/alerticon_small.png) no-repeat center left; min-width:40px; padding-left:30px; line-height:30px; display:block; color:#001f79; font-size:20px; font-family:HelveticaNeueLt; }
/******** carousal ***********/

.autoslide-slider1 .slider .item, .autoslide-slider2 .slider .item, .autoslide-slider3 .slider .item { background: url("../img/carousel_block.png") no-repeat scroll center center transparent !important; }
.autoslide-slider1 .slider .item, .autoslide-slider2 .slider .item, .autoslide-slider3 .slider .item { width: 1000px; width: 100%; height: 100%; }
.autoslide-slider1, .autoslide-slider2, .autoslide-slider3 { background:#fff; position: relative; overflow: hidden; width: 100%; height: 175px; }
.autoslide-slider1 .slider, .autoslide-slider2 .slider, .autoslide-slider3 .slider { height: 100%; }
.autoslide-slider2 .next, .autoslide-slider3 .next { position: absolute; top: 70px; right: 0px; width: 26px; height: 26px; border: none; background-image: url('../img/back1.png'); }
.autoslide-slider2 .prev, .autoslide-slider3 .prev { position: absolute; top: 70px; left: 0px; width: 26px; height: 26px; border: none; background-image: url('../img/next.png'); }
.info_row4 { display: block; float: left; width: 100%; min-height: 25px; line-height: 25px; margin: 5px 0 0 0; }
.rotating-item.swipe div.redBlueLine { width: 230px; margin: 0 auto; display: table; clear:both; position:relative; top:3px; }
.unselectable { display:none; }
.panel_new { background: url("../img/carousel_bgblock.png") no-repeat scroll 0 0 transparent; height: 100px; width: auto; margin: 0px; padding: 0px; background-size: 100% 95px; }
.listItems .info_row { background:#ff6869 url(../img/lightRedStrip.png) repeat-x left bottom; color:#fff; }
.listItems .info_row:last-child { background-image:none; }
.page_title_text { color:#001f79; font-size:15pt; }
.btn, input[type=submit] { width: 193px; margin: auto; display: table; }
.info_row2, .info_row3 { padding-left: 0; padding-right: 0; }
.info_row p { padding-left: 10px; }
.note { padding:13px; }
.note > span { font-family:"HelveticaNeueLtMed"; color:#2c387c !important; display:block; padding-bottom:4px; }
.note > p { font-family:"HelveticaNeueLt"; color:#2c387c; font-size:12px; line-height:normal; }
.listRow .info_row { height:55px; }
.info_row.odd { background:#f2f2f2; }
.topBox label { font-size:15px; color:#fff; }
.topBox select, .topBox span, .listItems select { color:#fff; font-family: "HelveticaNeueLtMed"; }
fieldset { border:0; box-shadow:none; margin:0; padding:10px 18px; }
fieldset.bgff5354 { padding-bottom:9px; padding-top:12px; }
fieldset.bgff6869 { padding-bottom:14px; }
.bgff5354 { background:#ff5354 url(../img/mdRedStrip.png) repeat-x left bottom; }
.bgff6869 { background:#ff6869 url(../img/lightRedStrip.png) repeat-x left bottom; }
.bgded4d4 { background:#ded4d4; }
.f21 { font-size:21px; }
.f18 { font-size:18px !important; }
.f15 { font-size:15px !important; }
fieldset:last-child { background-image: none !important; }
.posRel { position:relative; }

/**************** new user registration *****************/
.newUserLink { position:fixed; bottom:0; background: #fc4747; line-height:38px; margin:0; }
.newUserLink a {color: #fff;width: 100%;height: 38px;line-height: 38px;display: table; font-size:12px; text-transform:uppercase; text-align:center; font-weight:bold; letter-spacing:1px; margin-top: 6px;}
.newUserLink a:before { position:relative; left: -14px; top:6px; overflow:hidden; height:38px; }

/* =============================== STEPS =============================== */
.stepBox { width:100%; min-height:34px; overflow:hidden; padding:20px 0 20px; position:relative; }
.stepBox ul { display: table; width: 106.5%; position: relative; margin: 0 0 0 -4%; }
.stepBox ul.two { margin-left:-9%; }
.stepBox ul.two li { width:32%; }
.stepBox ul.three { margin-left:-6.58%; }
.stepBox ul.three li, .stepBox ul.four li { width:25%; }
.stepBox ul.four { width:108%; margin-left:-4%; }
.stepBox ul li { font-size:13px; vertical-align: middle; width: 20%; text-align: center; color:#666; white-space: nowrap; position: relative; z-index: 1; float: left; }
.stepBox ul li.active { color:#2f4086; }
.stepBox ul li a { border: 2px solid #ff4142; background: #ded4d4; height: 34px; width: 34px; border-radius: 100px; -webkit-border-radius: 100px; display: table; vertical-align: middle; box-sizing: border-box; -webkit-box-sizing: border-box; font-size: 14px; color: #000; margin: auto; cursor:default; }
.stepBox ul li a span { font-size: 16px; display: block; padding-top: 8px; }
.stepBox ul li.active a { background:#ff4142; color:#fff; }
.stepBox ul li a:after { content: ""; width: 100%; height: 1px; background:rgba(255,255,255,0.5); display: block; border: 0 none; position: absolute; right: 0; top: 17px; z-index: -1; margin-right: -50%; }
.stepBox ul li:last-child a:after { height:0; }
.stepTitle label { color:#2f4086; }
.stepTitle.centerAlign {text-align:center; }
.info_row_leftImg { display:block; float:left; width:80%; line-height:normal; padding: 8px 5px 6px 18px; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; word-wrap: break-word; }
/* Stylesheet content from css/main.css in folder android */

/* this CSS file extends the application CSS file found under common\css */

/* body should stretch in an Android application */
/*html, body {
	height: 100%;
	width: 100%;
	min-height: 100%;
	overflow: auto;
}*/

/* Stylesheet content from css/main.css in folder android */

/* this CSS file extends the application CSS file found under common\css */

/* body should stretch in an Android application */
/*html, body {
	height: 100%;
	width: 100%;
	min-height: 100%;
	overflow: auto;
}*/

.no_mar{margin: 0 !important}
.mar_t_10{margin-top: 10px !important;}
.head_label{padding-left: 23px;}
.dark_header { background:#2c387c; color: #fff; }
.maturity_amount {color: #001f79; font-size: 18pt;line-height: 23px !important;}
.topBox .summblock .info_row label{padding: 15px 18px;}
.topBox .summblock .info_row span{color:#000;font-family:HelveticaNeueLt;padding:6px 5px 10px 18px;}


 /* P2C Styles  */

.backColorp2c{
	background: #ff6869;
}

.buttonP2C{
	width: 90%; 
	background-color: #1b3282; 
	color:white; 
	height: 35px; 
	border:none; 
	outline:none; 
	vertical-align:middle;
	padding: 3%;
}

.P2COR{
	color: #fff;
    font-family: "HelveticaNeueLtMed";
    font-size: 21px;
    background: #ff6869;
    border-radius: 50%;
    margin-left: 40%;
    text-align: center;
    height: 33px;
    width: 66px;
    padding-top: 15px;
}


#dialogoverlay{
	display: none;
	opacity: .7;
	position: fixed;
	background: #000;
	width: 100%;
	z-index: 10;
} 
#dialogbox{
	
	display: none;
	position: fixed;
	background: #808080;
	width:80%;
	height: 50%;
	z-index: 10;
}
#dialogbox > div{ background:#808080;}
#dialogbox > div > #dialogboxhead{ font-size:26px;font-weight:bolder; padding:10px; color:#fff; text-align: center; }
#dialogbox > div > #dialogboxbody{ padding:15px; color:#fff; font-size:20px; line-height:22px;}
#dialogbox > div > #dialogboxfoot{ padding:5px; text-align:center; font-size:16px;}


#dialogoverlaynew{
	display: none;
	opacity: .5;
	position: fixed;
	background: #000;
	width: 100%;
	z-index: 10;
} 
#dialogboxnew{
	
	display: none;
	position: fixed;
	background: white;
	width: 94%;
	height: 70%;
	z-index: 10;
    overflow-y: scroll; 
	
}

/* #dialogboxnew > div > #dialogboxheadnew{ font-size:23px;font-weight:bolder; padding:10px; color:#000; text-align: left; position: fixed; background-color: red;} */
/* #dialogboxnew > div > #dialogboxbodynew{ padding:15px; color:#000; font-size:20px; line-height:22px;} */

#dialogboxbodynew{ padding:15px; color:#000; font-size:20px; line-height:30px; overflow-y:auto;}

#dialogboxheadnew{ font-size:23px;font-weight:bolder; padding:10px; color:#000; text-align: left; position: fixed; background-color: white; width: 89%; /*z-index: 100;*/}

/* #dialogboxnew > div{ background:#808080;}
#dialogboxnew > div > #dialogboxheadnew{ font-size:26px;font-weight:bolder; padding:10px; color:#fff; text-align: center; }
#dialogboxnew > div > #dialogboxbodynew{ padding:15px; color:#fff; font-size:20px; line-height:22px;}
#dialogboxnew > div > #dialogboxfootnew{ padding:5px; text-align:center; font-size:16px;} */



#IFSCIndex
{
	color: black;
}


.btn-ok
 {
	background: #2E367A;
	color: #fff;
	outline: none;
	border: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	height: 30px;
	width: 60px;
}

#img_info
{	
-webkit-tap-highlight-color: rgba(0,0,0,0);	
}



/* For Custom Busy Indicator  */

.busyindicatorClass{
            position: fixed;
            opacity: 0.9;
            overflow-y: hidden; 
            pointer-events:none;
            /* z-index: 999;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background-color: Black;
            filter: alpha(opacity=60);
            -moz-opacity: 0.8; */
}
.busyindicatorClassImg{
            z-index: 1000 !important;
            position: fixed;
            margin-top: 67%;
            margin-left: 30%;
            
           /*  filter: alpha(opacity=100);
            opacity: 1;
             margin: 75% auto;
             padding: 3%;
             width: 40%;
             border-radius: 13%;
             background-color: White;
             position: relative;
            -moz-opacity: 1; */
            
}

.busyindicatorClassImg img{
    height: 80px;
    width: 100%;
   /*  width: 146px; */
    box-shadow: 0 0 20px #000000;
}

@media only screen and (min-device-width: 480px) and (max-device-width: 480px) {
	.busyindicatorClassImg{
            z-index: 1000 !important;
            position: fixed;
            margin-top: 41%;
            margin-left: 20%;
            
           /*  filter: alpha(opacity=100);
            opacity: 1;
             margin: 75% auto;
             padding: 3%;
             width: 40%;
             border-radius: 13%;
             background-color: White;
             position: relative;
            -moz-opacity: 1; */
            
}
.busyindicatorClass{
            position: fixed;
            opacity: 0.9;
            overflow-y: hidden; 
            pointer-events:none;
            margin-top: -3px !important;
    		margin-left: -3px !important;
            /* z-index: 999;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background-color: Black;
            filter: alpha(opacity=60);
            -moz-opacity: 0.8; */
}
}


.blue-text{
	color:#193080 !important;
}
.black-text{
	color:#000000 !important;
}