/*   .notificationlist {
	float:right;
	padding-right:10px;
	padding-top:10px;
	padding-left:10px;
}   */
 .notificationlist {  
 float:right; 
 right:61px !important;
 padding-top:12px; 
 position: absolute; 
} 
/* .notificationlist {
	float:left;
	padding-top:10px;
	margin-left:10px;
	margin-right:0px;
	position:absolute;
} */

.hide{
	display:none;
}
.show{
	display:block;
}
.polaroid{
	margin:8px auto 8px auto !important;
	width: 95%  !important;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19) !important;
	background-color:#fff !important;
	
}
.container_inbox{
	padding: 10px !important;
}
.p1{
	font-size:17px !important;
	/* font-weight:bold !important; */
	line-height:20px !important;
	text-align:left !important;
}
.p2{
	padding-top:10px !important;
	text-align: left !important;
}

/*chat pay css*/

 .chatpaydiv {
	float:left;
	padding-top:10px;
	margin-left:10px;
	margin-right:0px;
	position:absolute;
}

#dialogoverlaychatpay{
	display: none;
	opacity: .7;
	position: fixed;
	background: #000;
	width: 100%;
	z-index: 10;
}
#dialogboxchatpay{

	display: none;
	position: fixed;
	background: #808080;
	width:80%;
	height: 50%;
	z-index: 10;
}
#dialogboxchatpay > div{ background:#808080;}
#dialogboxchatpay > div > #dialogboxheadchatpay{ font-size:26px;font-weight:bolder; padding:10px; color:#fff; text-align: center; }
#dialogboxchatpay > div > #dialogboxbodychatpay{ padding:15px; color:#fff; font-size:20px; line-height:22px;}
#dialogboxchatpay > div > #dialogboxfootchatpay{ padding:5px; text-align:center; font-size:16px;}


.btnokchatpay
 {
	background: #2E367A;
	color: #fff;
	outline: none;
	border: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	height: 30px;
	width: 60px;
}

