<style>
    .feedbackimage{
    margin-top:7px;
    }
</style>
 <section class="dynamic-page-content" id="contentData">
<link href="css/mobiscroll-2.0.custom.min.css" rel="stylesheet" type="text/css" />
<script src="js/libs/mobiscroll-2.0.custom.min.js" type="text/javascript"></script>

<section class="dynamic-page-content" id="contentData">
				<div id="wrapper">
		<div class="content sub_content">
						<div class="topBox">
				<fieldset class="bgff5354Border">
								<label class="selLbl f18">Customer Service:</label>
							</fieldset>
			</div>
						<form name="frmtpn05" id="frmtpn05"  method="post" data-bind='submit: rrtpn05Submit'>
				<div class="summblock listItems">
	<div class="info_rowBorderff6869 height50"> <span class="info_row_leftImg clsColorBlack">1800 123 8040</span> <a onclick="call();"  class="info_row_right phoneImage"></a>
						<div class="clearfix"></div>
					</div>
	<div class="bgff5354Border"> <span class="info_row_leftImg f18">Credit Card Helpline:</span> <!-- <span class="info_row_right f18" >? 23,911.50</span> -->
						<div class="clearfix"></div>
					</div>
	<div class="info_row height50"> <span  href="tel:1800 121 9050" class="info_row_leftImg clsColorBlack">1800 121 9050</span> <a onclick="call1();" class="info_row_right phoneImage"></a>
						<div class="clearfix"></div>
					</div>

					<div class="bgff5354Border"> <span class="info_row_leftImg f18">Feedback:</span> <!-- <span class="info_row_right f18" >? 23,911.50</span> -->
						<div class="clearfix"></div>
					</div>
					<div onclick="emailsend();" class="info_row height50"> <span class="info_row_leftImg clsColorBlack">customercare@rblbank.com</span>
                        <img class="feedbackimage" src="images/feedback.png" width="40px" height="40px" />
						<div class="clearfix"></div>

					
				</div>
				
				
			</form>
					</div>
	</div>
			</section>
			
<script>
function call(){
		//json = {"number":"12132132"};
			getNativeData('call', function(data){}, function(msg){},"18001238040");
	}
	function call1(){
		//json = {"number":"12132132"};
			getNativeData('call', function(data){}, function(msg){},"18001219050");
	}
</script>
			



