<style>
.mnu_row {
	width:0%;
}
</style>

<section class="dynamic-page-content" id="contentData">
<div id="wrapper">

	<div class="stepBox">
		<ul class="four">
			<li class="active"><a href="javascript:void(0);"><span>1</span></a></li>
			<li><a href="javascript:void(0);"><span>2</span></a></li>
			<li><a href="javascript:void(0);"><span>3</span></a></li>
			<li><a href="javascript:void(0);"><span>4</span></a></li>
		</ul>
	</div>

  <div class="content sub_content">
	<div class="topBox">
				<fieldset class="stepTitle">
						<label class="f18">Select option to register Mpin</label>
				</fieldset>
	</div>
			
	<div class="menu_box three">
					<li class="mnu_row">
						<a href="#new_user_reg1">
						<span class="mnu_icon"></span>
						<span class="mnu_txt">Internet Banking</span>		
						</a>	
					</li>
					
					
					<li class="mnu_row" style="display:none;">
						<a href="#PersonalReg">
						<span class="mnu_icon fa"></span>
						<span class="mnu_txt">Personal Details</span>
						</a>
					</li>
					
					
					<li class="mnu_row">
						<!-- <a href="#DebitReg" target="_top"> -->
						<a href="#DebitReg">
						<!-- <span class="mnu_icon va"></span> -->
						<span class="mnu_icon fa"></span>
						<span class="mnu_txt">Debit Card Details</span>
						</a>
					</li>
					
				</div>   
	
  </div>
<div class="termsAndCon f15"><a id='listBG' onclick="openLink('http://www.rblbank.com/terms-mobile-banking-service.html')">Terms and Conditions</a></div>
</div>
</section>
