<style type="text/css">
.header, .back, .h_title  {
	display: block !important;
}

</style>
<section id="contentData" class="dynamic-page-content">		
		<div id="test1"></div>
		<!--  **** -->		
	<div id="wrapper">
		<div class="content sub_content">
			<div class="listRow" id="NotificationList"></div>
		</div>
	</div>
	  <!-- /content --> 
		<!--  **** -->
</section>