<style>
#wrapper{ padding-bottom: 43px;}
</style>
<section class="dynamic-page-content" id="contentData">
<link href="css/mobiscroll-2.0.custom.min.css" rel="stylesheet" type="text/css" />
<script src="js/libs/mobiscroll-2.0.custom.min.js" type="text/javascript"></script>
<style>
input.uppercase{  
					text-transform: uppercase;  
				}  
</style>
<div id="wrapper">

	<div class="stepBox">
		<ul class="four">
			<li><a href="javascript:void(0);"><span>1</span></a></li>
			<li class="active"><a href="javascript:void(0);"><span>2</span></a></li>
			<li><a href="javascript:void(0);"><span>3</span></a></li>
			<li><a href="javascript:void(0);"><span>4</span></a></li>
		</ul>
	</div>

	<div class="content sub_content">
	<div class="topBox">
				<fieldset class="stepTitle">
					<label class="f18">Enter Details :</label>
				</fieldset>
	</div>
	
	<form name="PersonalReg" id="PersonalReg" method="post" data-bind='submit: PersonalRegSubmit'>
	
			<fieldset class="bgff6869">
				<label>Pan Number</label>
				<input type="text" name="PanNo" id="PanNo" placeholder="Pan Number" size="10" maxlength="10" class="uppercase"/>
			</fieldset>
		
			<fieldset class="bgff6869">
				<label>Registered address PIN Code</label>
				<input type="tel" name="PinCode" id="PinCode" size="6" maxlength="6" placeholder="Pin Code" minlength="6" onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);" style="float:left;"/>
			</fieldset>	
			
			<fieldset class="bgff6869 date_picker">
				<label>D.O.B.</label>
				<span id="show_date" class="date_icon"></span>
				<input type="text" readonly="readonly" name="fldFromDate" placeholder="DOB" id="fldFromDate" size="10" />
			</fieldset>	
			
			<div class="bgded4d4">
				  <div class="clearfix"></div>
				  <fieldset>
				  	<input type="submit" value="Submit" class="btn">
				  </fieldset>
				  <div class="clearfix" style="height:30px;"></div>
			</div>
	
    <div class="termsAndCon f15"><a id='listBG' onclick="openLink('http://www.rblbank.com/terms-mobile-banking-service.html')">Terms and Conditions</a></div>
	</form> 

  </div>

			</div>
<script type="text/javascript">

$.validator.addMethod("alpha", function(value, element) {
				 return this.optional(element) || /^[A-Za-z]{5}\d{4}[A-Za-z]{1}$/.test(value); 
			}
			, "Invalid Pan Number");
			
				$("#PersonalReg").validate({
					rules: {
						PanNo:{
						required:true,
						alpha:true
						},
						PinCode:{
						required:true,
						},
						fldFromDate:{
						required:true,
						},
								
					},
					messages: {
						PanNo:{
							required : "Enter Pan Number",
										
						},	
							PinCode:{
							required : "Enter PinCode",
						},
							fldFromDate:{
							required:"Enter Date Of Birth",
						},
							
					}
				});

$(function(){
		var now = new Date();
	    $('#fldFromDate,#fldToDate').scroller({
	        preset: 'date',
	        theme: 'android',
	        display: 'modal',
	        mode: 'scroller',
	        dateOrder: 'ddMYYYY',
			endYear: now.getFullYear() + 10
});

$('#show_date1').click(function(){
  $('#fldToDate').scroller('show'); 
  return false;
});

$('#show_date').click(function(){
  $('#fldFromDate').scroller('show'); 
  return false;
});

$('#clear').click(function () {
  $('#fldFromDate').val('');
  return false;
});
});
				
</script>

</section>
