<style>
#wrapper{ padding-bottom: 43px;}
</style>
<section class="dynamic-page-content" id="contentData">
<div id="wrapper">

<div class="content sub_content">
	<div class="topBox">
				<fieldset class="stepTitle">
					<label class="f18">Enter Details :</label>
				</fieldset>
	</div>
	
	<form name="Pwd_change" id="Pwd_change" method="post" data-bind='submit: PwdChangeSubmit'>
		
		<fieldset class="bgff6869">
			<div class="info_row"> <span class="info_row_left">User ID</span> <span class="info_row_right f18" name="userId" id='userId'></span>
				<div class="clearfix"></div>
			</div>
		</fieldset>

		
		<fieldset class="bgff6869">
				<label>Old MPin</label>
				<!-- <input type="number" name="OldPwd" id="OldPwd" size="6" maxlength="6" minlength="6"/> -->
				<input type="number" name="OldPwd" id="OldPwd" style="-webkit-text-security: disc;"/>
		</fieldset>	
			
		<fieldset class="bgff6869">
				<label>New MPin</label>
				<!-- <input type="password" name="NewPwd" id="NewPwd" size="6" maxlength="6" class="Pwd" minlength="6" /> -->
				<input type="number" name="NewPwd" id="NewPwd" style="-webkit-text-security: disc;"/>
		</fieldset>
		<fieldset class="bgff6869">
				<label>Confirm MPin</label>
				<!-- <input type="password" name="ConfirmPwd" id="ConfirmPwd" size="6" maxlength="6" class="Pwd" minlength="6" /> -->
				<input type="number" name="ConfirmPwd" id="ConfirmPwd" style="-webkit-text-security: disc;"/>
		</fieldset>			

		
		<div class="bgded4d4">
			<div class="clearfix"></div>
				<fieldset>
				  	<input type="submit" value="Submit" class="btn">
				</fieldset>
			<div class="clearfix" style="height:30px;"></div>
		</div>
	
  <div class="termsAndCon f15"><a id='listBG' onclick="openLink('http://www.rblbank.com/terms-mobile-banking-service.html')">Terms and Conditions</a></div>
	</form> 
	
</div>
</div>

<script type="text/javascript">

	$(document).ready(function(){
		isnum = /^\d+$/.test(localStorage.getItem("RegisteredUser"));
		if(isnum){
			var temp = localStorage.getItem("RegisteredUser");
		}
		else{
			var temp = encryptXorNumber(localStorage.getItem("RegisteredUser"),enckey);
		}
		//var temp = encryptXorNumber(localStorage.getItem("RegisteredUser"),enckey);
		var registerUser = temp;
		$('#userId').html(registerUser);
		
		
		$("#OldPwd").keyup(function() {
			$("#OldPwd").val(this.value.match(/[0-9]*/));
			var count=$("#OldPwd").val().length;
			if(count>6){
  			 	$("#OldPwd").val(this.value.match(/[0-9]{6}/));
    		}
		});
		
		
		
		$("#NewPwd").keyup(function() {
			$("#NewPwd").val(this.value.match(/[0-9]*/));
			var count=$("#NewPwd").val().length;
			if(count>6){
  			 	$("#NewPwd").val(this.value.match(/[0-9]{6}/));
    		}
		});

		$("#ConfirmPwd").keyup(function() {
 			$("#ConfirmPwd").val(this.value.match(/[0-9]*/));
			var count=$("#ConfirmPwd").val().length;
			if(count>6){
   				$("#ConfirmPwd").val(this.value.match(/[0-9]{6}/));
    		}
		});
		
	});


			 $.validator.addMethod("alpha", function(value, element) {
				 return this.optional(element) || /^[0-9]+$/i.test(value); 
			}
			, "MPin should contain Numbers"); 
			
				$("#Pwd_change").validate({
					rules: {
						userId:{
						required:true,
						
						},
						OldPwd:{
						required:true,
						alpha:true
						},
						NewPwd:{
						required:true,
						alpha:true
						},
						ConfirmPwd:{
						required:true,
						equalTo: "#NewPwd"
						}
					},
					messages: {
						userId:{
						required : "Enter Customer Id",
						alpha : "Customer ID should contain Alphabets and Numbers",			
					},	
					   OldPwd:{
						required : "Enter Old Mpin",
									
					},
					NewPwd:{
						required:"Enter New Mpin",
					},
					ConfirmPwd:{
						required:"Enter Confirm Mpin",
					}					
							
					}
				});		 

/*	
			$.validator.addMethod("alpha", function(value, element) {
				 return this.optional(element) || /^(?:0(?!00|12)|1(?!11|23)|2(?!22|34|10)|3(?!33|45|21)|4(?!44|56|32)|5(?!55|67|43)|6(?!66|78|54)|7(?!77|89|65)|8(?!88|76)|9(?!99|87)){6}$/i.test(value); 
			}
			, "Please select Strong MPIN...!"); 
			

			
				$("#Pwd_change").validate({
					rules: {
						userId:{
						required:true,
						
						},
						OldPwd:{
						required:true,
						alpha:true
						},
						NewPwd:{
						required:true,
						alpha:true
						},
						ConfirmPwd:{
						required:true,
						equalTo: "#NewPwd"
						}
					},
					messages: {
						userId:{
						required : "Enter Customer Id",
						alpha : "Customer ID should contain Alphabets and Numbers",			
					},	
					   OldPwd:{
						required : "Enter Old Mpin",
									
					},
					NewPwd:{
						required:"Enter New Mpin",
						alpha : "Please select Strong MPIN...!",
					},
					ConfirmPwd:{
						required:"Enter Confirm Mpin",
					}					
							
					}
				});	
				
*/
			
</script>

</section>
