<style>

.footer, .content h1, .h_title { display:none !important; }

#contentData, .content, #wrapper{
background-color: white;
}

.chatpaybottombutton{
bottom:0;
position:fixed;
font-size:20px;
padding-top:12px;
background-color: #2E367A;
color: white;
text-align: center;
height: 35px;
width: 100%;
font-weight: bold;
}

.barbuttons{
width: 100%;
height: 37px;
background-color: white;
border-top: solid 1px #2E367A;
border-bottom: solid 1px #2E367A;
color: #2E367A; 
text-align: center;
-webkit-user-select: none;
padding: 0;
	position:fixed;
	top:46px;

}

.barbutton1, .barbutton2, .barbutton3{
float: left;
width: 33.15%;
font-size: 18px;
padding-top: 10px;
height: 27px;
}

.barbutton2{
border-left: solid 1px #2E367A;
border-right: solid 1px #2E367A;
 }
 
.barbutton1{
background-color: #2E367A;
color: white;
}

	.paragraphchatpay{
	color:#2E367A;
	text-align:left;
	padding-left:15px;
	}

	ul.ullist{
	font-size:17px;
	text-align:left;
	padding-left:10px;
	list-style-type: disc !important;
	/*list-style-position: inside;*/
	list-style-position: outside !important;
	margin-left: 1em;
	}

	ol.ollist{
	font-size:17px;
	text-align:left;
	padding-left:10px;
	list-style-type:decimal;
	/*list-style-position: inside;*/
	list-style-position: outside !important;
	margin-left: 1em;
	}


/*toggle button*/

	.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;

	}

	.switch input {display:none;}

	.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
	}

	.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	/* -webkit-transition: .4s;
	transition: .4s; */
	}

	input:checked + .slider {
	background-color: #4CB963;
	}

	input:focus + .slider {
	box-shadow: 0 0 1px  #4CB963;
	}

	input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
	}
 

</style>

<section class="dynamic-page-content" id="contentData">

 <div id="wrapper">
<!--     <div class="content sub_content"> -->

	<div class = "barbuttons">
	<div class="barbutton1" onclick="button1clicked()">Activation</div>
	<div class="barbutton2" onclick="button2clicked()">How to use?</div>
	<div class="barbutton3" onclick="button3clicked()">Features</div>	
	</div>
	
	<div class="barbutton1content" style="display: block;">
	<div style="text-align: center;">
	<img src = "images/chatpay.png" style = "height:60px; margin-top: 25px;"/>
	</div>
		<br>

		<p class="paragraphchatpay">
			<label style="float:left;"><img src = "images/hand.png" style = "height:23px;padding-top:0px; "/></label>
			<label style="float:left; font-size:23px; padding-left:3px;"><b> How to enable it?</b>
			</label></p>
		<br>

		<!--<p style="font-size:17px; text-align:left; padding-left:11px;clear:both;">-->
		<!--1. Click on <b>"Keyboard Settings"</b> button below, you-->
		<!--will be taken to your devices's keyboard settings-->
		<!--page.<br>-->
		<!--<br>-->
		<!--2. Under <b>"Language and inputs"</b> heading tap on-->
		<!--<b>chat pay</b> to enable the keyboard.-->
		<!--</p>-->

		<ol class="ollist" style="clear:both;">
			<li>Click on <b>"Keyboard Settings"</b> button below, you will be taken to your device's keyboard settings</li><br>
			<li>Under <b>"Language and inputs"</b> heading tap on <b>chat pay</b> to enable the keyboard.</li>
		</ol>

		<br><br>

	<label style="font-size:18px; text-align:left; padding-left:13px;float:left; padding-top:9px"><b>Enable Chatpay Floating Key</b>&nbsp;
	</label>
		<label style="float:left; padding-left:10px; padding-top:3px;">
		<img src = "images/floatingicon.png" style = "height:30px;"/>
	</label>

		<div style="text-align:center; padding-top:0px; clear:both;"; >
		<label class="switch">
			<input type="checkbox" id="check_chatpay" checked="" onclick="Togglechatpayicon()">
			<div class="slider"></div>
		</label>
		</div>


	</div>
	
	<div class="barbutton2content" style="display: none; overflow:scroll;">
	<div style="text-align: center;">
	<img src = "images/chatpay.png" style = "height:60px; margin-top: 25px;"/>
	</div>
		<br>


		<!--<p style="color:#2E367A; font-size:23px; text-align:left; padding-left:15px;"><img src = "images/book.png" style = "height:23px; margin-top: 5px;"/>Launching chat pay</p>-->

		<p style="color:#2E367A;text-align:left; padding-left:15px;padding-top:0px;">
			<label style="float:left;padding-top:0px;"><img src = "images/book.png" style = "height:23px; "/></label>
			<div style="padding-top:3px; font-size:23px;">
			<span style="float:left;  padding-left:3px; color:#2E367A;"> <b>Launching </b></span>
			<span style="color:black; padding-left:4px; "><b>chat pay</b></span>
	</div>
			</p>
		<br>

		<!--<p style="font-size:17px; text-align:left; padding-left:11px; clear:both;">-->
		<!--1. <b>After enabling chat pay</b> shake your device thrice-->
		<!--consecutively to launch the keyboard list<br><br>-->
		<!--2. <b>You can also use Floating Icon of RBL &nbsp;<img src = "images/floatingicon.png" style = "height:18px; margin-top: 0px;"/>&nbsp;-->
		<!--to activate chatpay on keyboard</b><br><br>-->
		<!--3. Choose <b>chat pay</b><br><br>-->
		<!--4. Use your <b>MoBank</b> pin to login-->
		<!--</p>-->

		<ol class="ollist" style="clear:both;">
			<li> <b>After enabling chat pay</b> shake your device thrice consecutively to launch the keyboard list</li><br>
			<li><b>You can also use Floating Icon of RBL &nbsp;<img src = "images/floatingicon.png" style = "height:24px; margin-bottom:-3px;"/>&nbsp;to activate chatpay on keyboard</b></li><br>
        <li>Choose <b>chat pay</b></li><br>
			<li>Use your <b>MoBank</b> pin to login</li><br>

		</ol>
                <br>


                <!--<p style="color:#2E367A; font-size:23px; text-align:left; padding-left:15px;"><img src = "images/book.png" style = "height:23px; margin-top: 5px;"/>Transferring Funds</p>-->

		<p class="paragraphchatpay">
			<label style="float:left;"><img src = "images/book.png" style = "height:23px;padding-top:0px; "/></label>
			<label style="float:left; font-size:23px; padding-left:3px;"> <b>Transferring Funds</b>
			</label></p>

		<br>



		<!--<p style="font-size:17px; text-align:left; padding-left:11px; clear:both;">-->
		<!--1. Invoking keyboard - shake your device thrice-->
		<!--consecutively to launch the keyboard list-->
		<!--and select <b>chat pay</b> or<br><br>-->

		<!--2. <b>You can use Floating Icon of RBL &nbsp;<img src = "images/floatingicon.png" style = "height:18px; margin-top: 0px;"/>&nbsp;-->
		<!--to activate chatpay on keyboard</b><br><br>-->

		<!--3. Fund Transfer Just select your payee, enter-->
		<!--the amount and submit! Your transaction is-->
		<!--complete. You can either choose to notify the-->
		<!--person by clicking the notify button or go to-->
		<!--Home screen<br><br>-->
		<!--4. Save as favourite transactions - <br><br>-->
		<!--</p>-->

		<ol class="ollist" style="clear:both;">
			<li> Invoking keyboard - shake your device thrice consecutively to launch the keyboard list and select <b>chat pay</b> or</li><br>
			<li><b>You can use Floating Icon of RBL &nbsp;<img src = "images/floatingicon.png" style = "height:24px; margin-bottom:-3px;"/>&nbsp;to activate chatpay on keyboard</b></li><br>
			<!--<li>Fund Transfer - Just select your payee, enter	the amount and submit! Your transaction is-->
				<!--complete. You can either choose to notify the person by clicking the notify button or go to-->
				<!--Home screen</li><br>-->
			<li>Fund Transfer - </li><br>



		<ul class="ullist">
			<li>Just select your payee, enter	the amount and submit! Your transaction is complete. You can either choose to notify the person by clicking the notify button or go to
				Home screen</li><br>
			<li>You can long press on account icon&nbsp;<img src = "images/users.png" style = "height:15px; margin-top: 0px;"/> &nbsp;to display multiple accounts</li><br>
			<li>Select your account and submit! Your transaction is completed</li><br>
			<li>Success screen with details like reference numbers, from account and amount are displayed</li><br>
			<li>Success screen has two button (Home and Notify), Clicking on Notify makes the
		system to log out and the control goes to default keyboard with text displaying	transaction information</li><br>
		</ul>
		</ol>

	</div>
	
	<div class="barbutton3content" style="display: none;">
	<div style="text-align: center;">
	<img src = "images/chatpay.png" style = "height: 60px; margin-top: 25px;"/>
	</div>
		<br>

		<!--<p style="color:#2E367A; font-size:23px; text-align:left; padding-left:15px;"><img src = "images/tick.png" style = "height:23px; margin-top: 5px;"/>Benefits and Features</p>-->

		<p class="paragraphchatpay">
			<label style="float:left;"><img src = "images/tick.png" style = "height:23px;padding-top:0px; "/></label>
			<label style="float:left; font-size:23px; padding-left:4px; "><b>Benefits and Features</b>
			</label></p>

		<br>

		<!--<p style="font-size:16px; text-align:left; padding-left:10px;">-->
		<ul class="ullist" style="clear:both;">
		<li>Enable Mobile Banking from your keyboard</li><br>
		<li>Make payment while chatting</li><br>
		<li>No need to switch apps</li><br>
		<li>Quick & secure payments</li><br>
		<li>You can transfer fund to registered payees via IMPS</li><br>
		<li>You should have android version 4.1 and above to use <b>chat pay</b></li>
	</ul>
		<!--</p>-->


	</div>
	
	<div class="chatpaybottombutton" onclick="openkeyboardsetting()">Change Keyboard Settings</div>


  </div>
<!-- </div> -->
</section>


<script>

function button1clicked(){

$(".barbutton1").css("background-color","#2E367A");
$(".barbutton2").css("background-color","white");
$(".barbutton3").css("background-color","white");

$(".barbutton1").css("color","white");
$(".barbutton2").css("color","#2E367A");
$(".barbutton3").css("color","#2E367A");

$(".barbutton1content").css("display","block");
$(".barbutton2content").css("display","none");
$(".barbutton3content").css("display","none");

}

function button2clicked(){
$(".barbutton1").css("background-color","white");
$(".barbutton2").css("background-color","#2E367A");
$(".barbutton3").css("background-color","white");

$(".barbutton1").css("color","#2E367A");
$(".barbutton2").css("color","white");
$(".barbutton3").css("color","#2E367A");

$(".barbutton1content").css("display","none");
$(".barbutton2content").css("display","block");
$(".barbutton3content").css("display","none");

}

function button3clicked(){
$(".barbutton1").css("background-color","white");
$(".barbutton2").css("background-color","white");
$(".barbutton3").css("background-color","#2E367A");

$(".barbutton1").css("color","#2E367A");
$(".barbutton2").css("color","#2E367A");
$(".barbutton3").css("color","white");

$(".barbutton1content").css("display","none");
$(".barbutton2content").css("display","none");
$(".barbutton3content").css("display","block");

}


function openkeyboardsetting(){
//alert("plugin call");
cordova.exec(KeyboardSettingSuccess, KeyboardSettingFailure, "KeyboardSettingPlugin", "KeyboardSetting", [{}]); 
}

function KeyboardSettingSuccess(data){
//alert(data);
}

function KeyboardSettingFailure(error){
//alert(error);
}


//$("#check_chatpay").

</script>
