<div id="dialogoverlaychatpay"></div>


<div id="dialogboxchatpay">
	<div>
		<div id="dialogboxheadchatpay"></div>
		<div id="dialogboxbodychatpay"></div>
		<div id="dialogboxfootchatpay"></div>
	</div>
</div>


<section class="dynamic-page-content" id="contentData">

			<style>
				.footer, .content h1, .h_title { display:none !important; }
				 .header .back {visibility: hidden; }
				figcaption, .figcaption { font-size:24px; color:#3547b0; padding-top:10px; padding-bottom:7px; text-align: center; }
				#wrapper {padding-bottom:0; padding-top:79px; top:0; min-height:100%;
					background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.89) 41%, rgba(249,249,249,0.88) 46%, rgba(232,232,232,0.86) 55%, rgba(228,228,228,0.85) 58%, rgba(228,228,228,0.73) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(41%,rgba(255,255,255,0.89)), color-stop(46%,rgba(249,249,249,0.88)), color-stop(55%,rgba(232,232,232,0.86)), color-stop(58%,rgba(228,228,228,0.85)), color-stop(100%,rgba(228,228,228,0.73))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.89) 41%,rgba(249,249,249,0.88) 46%,rgba(232,232,232,0.86) 55%,rgba(228,228,228,0.85) 58%,rgba(228,228,228,0.73) 100%); /* Chrome10+,Safari5.1+ */
				box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;
				}
				.menu_box .mnu_icon{background:url("img/menu_home_nli.png") no-repeat scroll left 0 rgba(0, 0, 0, 0);}
				.menu_box .leads { background-position:left -83px; }
.menu_box .fa { background-position:left -164px; }
.menu_box .va { background-position:left -245px; }
.menu_box .rpt { background-position:left -247px; }
			</style>
			<div id="wrapper" style="padding-top: 110px;">

				<span id="username" style="color:#2F4086; font-size: 19px; padding-left: 20%;"></span>
				</br>
				<span id="userid" style="color:#6c6c6c; font-size: 14px; padding-left: 20%;"></span>
				
				<div class="menu_box home_menu" style="padding-top: 50px; padding-left: 15%;">
					<li class="mnu_row" id="rrasm01I">
						<a href="#rrasm01">
						<span class="mnu_icon"></span>
						<span class="mnu_txt">Accounts/Deposits/</br>Loans</span>		
						</a>	
					</li>
					
					<li class="mnu_row" id="rrftr01I">
						<a href="#rrftr01" >
						<span class="mnu_icon leads"></span>
						<span class="mnu_txt">Fund Transfer</span>
						</a>
					</li>
					
					<li class="mnu_row" id="rrblp01I">
						<a href="#billpayment">
						<span class="mnu_icon rpt"></span>
						<span class="mnu_txt">Bill Pay</span>
						</a>
					</li>   
					
					<li class="mnu_row" id="rrblp02">
						<a href="#CreditCard">
						<span class="mnu_icon fa"></span>
						<span class="mnu_txt">Credit Card</span>
						</a>
					</li>
				
				</div>                
			</div>


	</section>
<script>
$(document).ready(function(){
	$('#logout_btn').show();
	$(".logout .logout").show();
	$('#username').html("Welcome "+ LoggedInUserName);
	var temp = encryptXorNumber(localStorage.getItem("RegisteredUser"),enckey);
	var customerID = temp;
	$('#userid').html("Customer ID:"+ customerID);
	
	//SSO Module Traverse
	opentargetpage();

	//call functionn for page deeplinking
	targetfornotification();
	
});

function credit_card(){
	navigator.notification.alert('Coming Soon!');
}
function Bill_pay(){
	navigator.notification.alert('Coming Soon!');
}
</script>
