
<section class="dynamic-page-content" id="contentData">

	<style>
.header, .footer {
	display: none !important;
}
<link rel="stylesheet" type="text/css" href="css/style.css"/>
</style>

	<div class="keyboard-body">
		<div align="center" style="margin-top: 1%">
			<img src="images/rblbank.png" width="42%" height="7%">
		</div>


		<div id="keyboard-container">

			<h4 id="keyboard-title">Please enter your mPIN</h4>
			<div id="keyboard-inputField" align="center">
				<p id="input-value-1" class="keyboard-rcorner"></p>
				<p id="input-value-2" class="keyboard-rcorner"></p>
				<p id="input-value-3" class="keyboard-rcorner"></p>
				<p id="input-value-4" class="keyboard-rcorner"></p>
				<p id="input-value-5" class="keyboard-rcorner"></p>
				<p id="input-value-6" class="keyboard-rcorner"></p>
			</div>
			<span id="keyboard-imgSrc"> <img src="images/correct.png"
				id="keyboard-backBtn" width="60%" style="padding-top: 0%;">
			</span> <br> <br>

		</div>
		<div id="keyboard-keypad" align="center">
			<ul id="keyboard">

				<button class="keyboard-symbol" style="margin-right: 5%;">
					<span class="keyboard-off">1</span>
				</button>
				<button class="keyboard-symbol">
					<span class="keyboard-off">2</span>
				</button>
				<button class="keyboard-symbol" style="margin-left: 5%;">
					<span class="keyboard-off">3</span>
				</button>
			</ul>

			<br>

			<ul id="keyboard">
				<button class="keyboard-symbol" style="margin-right: 5%;">
					<span class="keyboard-off">4</span>
				</button>
				<button class="keyboard-symbol">
					<span class="keyboard-off">5</span>
				</button>
				<button class="keyboard-symbol" style="margin-left: 5%;">
					<span class="keyboard-off">6</span>
				</button>
			</ul>
			<br>
			<ul id="keyboard">
				<button class="keyboard-symbol" style="margin-right: 5%;">
					<span class="keyboard-off">7</span>
				</button>
				<button class="keyboard-symbol">
					<span class="keyboard-off">8</span>
				</button>
				<button class="keyboard-symbol" style="margin-left: 5%;">
					<span class="keyboard-off">9</span>
				</button>
			</ul>

			<br>

			<ul id="keyboard">
				<button class="keyboard-remove-border">
					<span class="keyboard-off"></span>
				</button>

				<button class="keyboard-symbol">
					<span class="keyboard-off">0</span>
				</button>
				<button class="keyboard-remove-border">
					<span class="keyboard-off"></span>
				</button>
			</ul>
		</div>
		<br>


		<div class="keyboard-foot" align="center">
			<span class="keyboard-mpin"> <a id="keyboard-txt"
				href="#new_user_reg"><input type="button" value="Forgot mPIN"
					class="upper-btn" /></a>
			</span> <span class="keyboard-change"> <a id="keyboard-txt"
				onclick="check();"><input type="button" value="Change mPIN"
					class="upper-btn" /></a>
			</span>
		</div>
		<br>


		<div class="keyboard-foot" align="center">
			<span class="keyboard-faq"> <a id="keyboard-txt"
				onclick="openLink('http://www.rblbank.com/mobank-faqs.html')"><input
					type="button" value="FAQs" class="lower-btn" /></a>
			</span> <span class="keyboard-tc"> <a id="keyboard-txt"
				onclick="openLink('http://www.rblbank.com/terms-mobile-banking-service.html')"><input
					type="button" value="Terms & Conditions" class="lower-btn" /></a>
			</span>
		</div>



		<div align="center" class="version">
			<h4>Version UAT BBPS</h4>
		</div>

	</div>

	<div class="customBack" id="myBack" onclick="back();">
		<a class="back" href="javascript:void(0);" id="bv"
			style="display: block;"></a>
	</div>



	<form class="custStyleInput" name="frmLogin" id="frmLogin"
		method="post" data-bind='submit: custIdSubmit'>


		<p class="width100Per center_div">
			<input type="submit" id="btnSubmit" class="btn" value="Login"
				style="display: none;">
		</p>
		<p class="width100Per posRel" style="margin-top: 10px">
			<input type="text" name="fldLoginUserPwd" id="fldLoginUserPwd"
				required placeholder="MPin" value="" size="6" minlength="6"
				maxlength="6" autocomplete="off" style="display: none;" />
			<!-- <img class="loginIcon" src="img/pwdIcon.png" alt="" /> -->
		</p>

		<p class="width100Per posRel" style="display: none;">
			<!-- <p class="width100Per posRel"> -->
			<input type="text" name="fldLoginUserId" id="fldLoginUserId" required
				placeholder="Customer ID" value="" autocomplete="off" />


		</p>


	</form>



	<script>
 window.$ = window.jQuery = WLJQ;

//courtesy of BoogieJack.com
function killCopy(e){
return false
}
function reEnable(){
return true
}
document.onselectstart=new Function ("return false")
if (window.sidebar){
document.onmousedown=killCopy
document.onclick=reEnable
}
 var time;
 var mpin = []; 
 $(document).ready(function(){
 // Add the character
		
		
  /* $(".keyboard-off").click(function(){
   if(mpin.length < 6)
   {
    mpin.push($(this).text()); 
    $("#input-value-" + mpin.length).css('background-color', '#838383');
    var htmlval = $("#fldLoginUserPwd").val();
    
      $("#fldLoginUserPwd").val(htmlval + '' + $(this).text());
    
   }
   if(mpin.length == 6)
   {
   		$("#btnSubmit").click();
    		 
   		$(".keyboard-rcorner").css('background-color', '#ded4d4');
   		
   		mpin = [];
   		
   		 $("#fldLoginUserPwd").val('');
   		
   }
  }); */
  
  
  $("#keyboard-backBtn").on('touchstart', function(){
   if(mpin.length > 0)
   {
    $("#input-value-" + mpin.length).css('background-color', '#ded4d4');
    var htmlval = $("#fldLoginUserPwd").val();

	$("#fldLoginUserPwd").val(htmlval.substr(0, htmlval.length - 1));
    
    mpin.pop(); 
   } 
  });
  

  
  
     $('.keyboard-symbol').on('touchstart', function()
    {
        $(this).css('border', '2px solid #E31E24');
        var m = $(this);
        if(mpin.length < 6)
        {
        mpin.push(m.children("span").text());
        $("#input-value-" + mpin.length).css('background-color', '#838383');
        var htmlval = $("#fldLoginUserPwd").val();
        $("#fldLoginUserPwd").val(htmlval + '' + m.children("span").text());
        }
        if(mpin.length == 6)
        {
         $("#input-value-" + mpin.length).css('background-color', '#838383');
          $(this).css('border', '2px solid #193380');
             
                $("#btnSubmit").click();
             clearTimeout(time);
				time=setTimeout("clearMpinAfterDelay()",500);
       
        }
         
   
  });

  $('.keyboard-symbol').on('touchend', function(){
    
   $(".keyboard-symbol").css('border', '2px solid #193380');
 });
 
 if(localStorage.getItem("RegisteredUser")){
		var temp = encryptXorNumber(localStorage.getItem("RegisteredUser"),enckey);
		var registerUser = temp;
		$('#fldLoginUserId').val(registerUser);
	}
	else{
		var registerUser = "";
		$('#fldLoginUserId').val(registerUser);
	}
	$('.popWrap.add').parent().show(0);
	$('.popWrap.add').parent().addClass('show');
	$('.popWrap.add').addClass('show');	
	
	
	
	$(document).bind('taphold', function (e) {
        e.preventDefault();
        return false;
    });

 });
 
 
 function clearMpinAfterDelay()
{

 mpin = [];
 $("#fldLoginUserPwd").val('');
 $(".keyboard-rcorner").css('background-color', '#ded4d4'); 
}
 
</script>


	<script type="text/javascript">



function back(){
	window.location = "#menu"; 
	/*  window.location = MyParentPage; */
}
			
			$.validator.addMethod("alpha", function(value, element) {
				 return this.optional(element) || /^[a-z0-9]+$/i.test(value); 
			}
			, "Customer ID should contain Alphabets and Numbers"); 
			
				$("#frmLogin").validate({
					rules: {
						fldLoginUserId:{
						required:true,
						alpha:true
						},
						fldLoginUserPwd:{
						required:true,
						},
								
					},
					messages: {
					   fldLoginUserPwd:{
						required : "Enter MPin",
									
					},	
							
					}
				});


		function check(){
		
		if(localStorage.getItem("RegisteredUser") == null || localStorage.getItem("RegisteredUser") == ''){
			navigator.notification.alert('Kindly register to proceed!');
		}
		else{
			var temp = encryptXorNumber(localStorage.getItem("RegisteredUser"),enckey);
			var registerUser = temp;
			if(registerUser == null){navigator.notification.alert('Kindly register to proceed!');}
			else{window.location = "#ChangePwd";}
		}
			
		}
</script>

</section>

