<div id="wrapper" style="top:96px;">
        
        <div class="content">
            <div class="uid_box">
                <form class="custStyleInput" name="frmLogin" id="frmLogin" method="post" data-bind='submit:custIdSubmit'>
				<div class="width100per">
                  <p class="width40Per">
                    <label>Customer Id:</label>
                  </p>
                <p class="width60Per">
                <input type="text" name="UserId" id="UserId" required  />
              </p>

				</div>
				
				<div class="width100per">
                  <p class="width40Per">
                    <label style="margin-top:8px">Password:</label>
                  </p>
                  <p class="width60Per">
                    <input type="password" name="upass" id="upass" required  />
                  </p>
				</div>
				
				
				
                  <p class="width100Per center_div" style="margin-top:25px">
					<input type="submit" value="Login" class="button" style="width:254px">
                    <!--<a href="#/home-loggedin" id="login" class="button" style="min-width:254px">Login</a>-->
                  </p>
                  
                  
                  
                </form>
				
				</div>
        
        </div>
        
        </div>
