<section class="dynamic-page-content" id="contentData">
<div id="wrapper">

	<div class="content sub_content">
		<div class="topBox">
			<fieldset class="stepTitle centerAlign">
				<img src="img/rightIcon.png" alt="" />
				<label class="f18">Your MPin has been successfully changed. Please login using new MPin.</label>
			</fieldset>
	
		</div>

    </div>
</div>
</section>
