<link href="css/mobiscroll-2.0.custom.min.css" rel="stylesheet"
	type="text/css" />
<script src="js/libs/mobiscroll-2.0.custom.min.js"
	type="text/javascript"></script>

<section class="dynamic-page-content" id="contentData">
	<div id="wrapper">
		<div class="content sub_content">
			<div class="topBox">
				<fieldset class="bgff5354">
					<label class="selLbl"> Select Account</label> <select
						name="P2CAcctNoHistory" id="P2CAcctNoHistory"></select>
				</fieldset>
			</div>
			<div class="clearfix" style="margin-top: 2%"></div>
			
			<div class="bgff6869">
				<form class="custStyleInput" name="frmP2CHtryAll" id="frmP2CHtryAll"
					method="post" data-bind='submit:P2CHistoryAll'>
					<fieldset>
						<input type="submit" class="btn P2CHistoryButton"
							value="View All History">
					</fieldset>
				</form>
			</div>
			
			<div class="clearfix" style="height: 20px;"></div>

			<!-- <div style="text-align: center">
				<div class="P2COR" style="display: inline-block;">OR</div>
			</div>
			<div class="clearfix" style="height: 20px;"></div>
			
			<form class="custStyleInput" name="frmP2CHtry" id="frmP2CHtry"
				method="post" data-bind='submit:P2CHistorySubmit'>
				<div class="bgff6869">
					<fieldset>
						<label>Voucher Number</label>
						<input type="text" name="p2cVoucherNumber" id="p2cVoucherNumber"
							value="" size="10" class="rs_fld"/>
							placeholder="Enter Voucher Number" 
					</fieldset>
				</div>
				<div class="bgff6869">
					<div class="clearfix"></div>
					<fieldset>
						<input type="submit" class="btn P2CHistoryButton"
							value="Get Details">
					</fieldset>
				</div>
			</form> -->
			
		</div>
	</div>
	
</section>

<script type="text/javascript">
	$("#frmP2CHtry").validate({
		rules : {
			p2cVoucherNumber : {
				required : true,
			}
		},
		messages : {
			p2cVoucherNumber : {
				required : "Enter Voucher Number",
			}

		}

	});
</script>
