<style>
.button_confirm {
	width: 45% !important;
	height: 45px !important;
	float: left;
	background-color: #2E367A;
	color: white;
	font-size: 18px;
}

.button_OTP {
	width: 45%;
	height: 45px;
	float: right;
	background-color: #2E367A;
	color: white;
	font-size: 18px;
	display: table;
	margin: auto;
	border: none;
	outline: none;
}


</style>


<section class="dynamic-page-content" id="contentData">
	<div id="wrapper">

		<div class="content sub_content">


			<form class="custStyleInput" name="frmP2Cotp" id="frmP2Cotp"
				method="post" data-bind='submit: p2cOtpSubmit'>

				<div class="summblock listItems">
					<div class="clearfix"></div>

					<div class="info_row" id="OTP_No">
						<div class="clearfix" style="height: 15px"></div>

						<span class="info_row_left">OTP No</span> <span
							class="info_row_right page_title_sub"> <input
							type="password" name="OTp_No" id="p2cOTPval" minlength="6"
							maxlength="6" size="10">
						</span>
						<div class="clearfix"></div>
						<div class="clearfix" style="height: 13px"></div>
					</div>


				</div>

				<div>
					<fieldset>
						<input type="submit" class="button_confirm" value="Confirm"
							id="P2CgetConfirm" /> <input type="button" class="button_OTP"
							value="Resend OTP" id="P2CgetResendOTP" />
					</fieldset>
				</div>
				<div class="clearfix" style="height: 20px"></div>

				<input type="text" id="requestId" style="display: none">  
				<input type="text" id="REF_NO" style="display: none">
			</form>
			
			
		</div>
	</div>
</section>
<script type="text/javascript">

/* 	$("#p2cOTPval").keyup(function() {
		$("#p2cOTPval").val(this.value.match(/[^\s]+/));   
		}); */

$(document).ready(function(){ 
 $(".footer").css('display','inline-block');
});


	$("#frmP2Cotp").validate({
		rules : {
			OTp_No : "required",

		},
		messages : {
			OTp_No : "Please Enter OTP No.",
		}
	});

	//resend otp count 3 function
	var x = 0;

	function resetcounter() {
		x = 0;
		$('#P2CgetResendOTP').show();
	}

	function count() {
		if (x < 10) {
			x += 1;
			if (x == 2) {
				$('#P2CgetResendOTP').hide();
			}
		} else {
			x = 0;
		}
	}
	/* $('#P2CgetResendOTP').click(
	 alert("Called Bottom click");

	 function() {
	 count();   
	 }); */
</script>