<style>

</style>
        <section class="dynamic-page-content" id="contentData">
<link href="css/mobiscroll-2.0.custom.min.css" rel="stylesheet" type="text/css" />
<script src="js/libs/mobiscroll-2.0.custom.min.js" type="text/javascript"></script>
<div id="wrapper">
  <div class="content sub_content">
  
<!--     <div class="info_row odd" id="accExitsMsg" style="display:none;">
	<span class="info_row_menu_left" style="width:15%;"><img src="img/alerticon.png" /></span>
		<span class="info_row_menu_right clslineht" style="width:72%;">
			No Payees found. Kindly register payee before doing IMPS Fund Transfer.
		</span> 
  </div> -->
  
    <div class="info_row odd" id="accExitsMsg" style="display:none;">
    <div>
	<span class="info_row_menu_left" style="width:15%;"><img src="img/alerticon.png" /></span>
		<span class="info_row_menu_right clslineht" style="width:72%;">
			No Payees found. Kindly register payee before doing IMPS Fund Transfer.
		</span> 
		<br>
		<label style="font-size: 16px; float: right; margin-right: 15px;"><a href = "#Payee_NEFT_IMPS"><u>Add Payee</u></a></label>
		</div> 
		
  </div>

  
  
	<div id="tptCont" class="topBox" style="display:block;">
	
	   <div id="refblock">	
		
			<div id="accexitdata">
			<form class="custStyleInput" name="frmp2a01" id="frmp2a01" method="post" data-bind='submit: rrp2a01Submit'>
				
		<div id="activeacc">
		
			<fieldset class="bgff5354">
				<label class="selLbl">From Account</label>
				<!-- <select name="fldAcctNo" id="fldAcctNo" class="styled" data-bind="options: fromAccountList, optionsText: 'displaytxt', optionsValue: 'accountValue', value: fldFromAcctNo, optionsCaption: '-Select-'"> -->
				<select name="fldAcctNo" id="fldAcctNo" class="styled" data-bind="options: fromAccountList, optionsText: 'displaytxt', optionsValue: 'accountValue', value: fldFromAcctNo">
				</select>	
			</fieldset>
			
			<div id="noactiveacc" style="display:none;">
					<div class="info_row odd">
						<span class="info_row_menu_left" style="width:15%;"><img src="img/alerticon.png" /></span>
						<span class="info_row_menu_right clslineht" style="width:72%;">
						No Active Account found.
						</span> 
					</div>
			 </div>
			
			<fieldset class="bgff5354">
				<label class="selLbl">Select Beneficiary</label>
				<select name="fldBenefDetail" id="fldBenefDetail" class="styled" data-bind="options: toAccountList, optionsText: 'displaytxt', optionsValue: 'accountValue', value: fldToAcctNo, optionsCaption: '-Select-', event: {change:showBenefDetails}">
					<option value="">-Select-</option>
						
				</select>
			</fieldset>
			
						<fieldset class="bgff5354">
			<label style="font-size: 16px; float: right;"><a href = "#Payee_NEFT_IMPS"><u>Add Payee</u></a></label>
			</fieldset>
			
			<div class="summblock listItems">
			
			<div class="info_row even">
					<span class="info_row_left">Beneficiary A/C No</span> 
					<span class="info_row_right" id="strbenefAccno"></span>
				<div class="clearfix"></div>
			</div>
				
			<div class="info_row even">
					<span class="info_row_left">Beneficiary IFSC Code</span> 
					<span class="info_row_right" id="strbenefIFSC"></span>
				<div class="clearfix"></div>
			</div>
				
			<div class="info_row even">
					<span class="info_row_left">Beneficiary Bank Name</span> 
					<span class="info_row_right" id="strbenefbank"></span>
				<div class="clearfix"></div>
			</div>
				
			<div class="info_row even" style="display:none;">
					<span class="info_row_left">Beneficiary Address</span> 
					<span class="info_row_right" id="strbenefacctype"></span>
					<div class="clearfix"></div>
			</div>
			
			</div>
		
			<fieldset class="bgff6869">
				<label>Amount</label>
				<input type="tel" name="fldTxnAmount" id="fldTxnAmount" value="" size="10"  class="rs_fld" onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);"/>
			</fieldset>	
			
			
			<fieldset class="bgff6869">
				<label>Remark</label>
				<input type="text" name="fldTxnDesc" id="fldRmrk" value="" size="25" maxlength="25"  class="rs_fld"/>
			</fieldset>


			<fieldset class="bgff6869">
				<label>For T&C, please refer our website for more details.</label>
				<select name="fldChecked" id="fldChecked" class="styled">
					<option value="true" selected="selected" >Accept</option>
					<option value="false">Decline</option>
				</select>
			</fieldset>	
			
			
	
		  <div class="bgded4d4">
				  <div class="clearfix"></div>
				  <fieldset>
				  	<input type="submit" class="btn" value="Submit" id="confirm_button1">
				  </fieldset>
				  <div class="clearfix" style="height:30px;"></div>  
		   </div>
		
		<div class="disclaimer">
	            <b>Disclaimer:</b>
				<p>1. Maximum limit for every transaction under Third Party Fund Transfer - IMPS is ₹ 50,000</p> 
				<p>2. Maximum daily transaction limit under Third Party Fund Transfer - IMPS is ₹ 1,00,000</p>
		</div>

		</div>
		
		</form> 
	</div>

  
  </div>
  </div>
</div>
</div>
<script type="text/javascript">
$.validator.addMethod("DescRegex", function(value, element) {
        return this.optional(element) || /^[a-z0-9\-\ ]+$/i.test(value);
    }, "Use only letters, numbers, or dashes.");


$("#frmp2a01").validate({
	rules: {
		fldAcctNo: "required",
		fldBenefDetail: "required",
		fldTxnAmount: {
			required: true,
			min: 1
		},
		fldChecked: {chkvalid: "#fldChecked"},
		fldTxnDesc: {
                DescRegex: true,
        }
	},
	messages: {
		fldAcctNo: "Select From Account",
		fldBenefDetail: "Select Beneficiary",
		fldTxnAmount: {
			required: "Enter Amount",
			min: "Amount should be greater than 0"
		},
		fldChecked: "Please accept Terms & Conditions before proceeding.",
		fldTxnDesc: {
                DescRegex: "Description format not valid"
        }
		
	}
});

</script> 

</section>


