<link href="css/mobiscroll-2.0.custom.min.css" rel="stylesheet" type="text/css" />
<script src="js/libs/mobiscroll-2.0.custom.min.js" type="text/javascript"></script>

 <section class="dynamic-page-content" id="contentData">
<div id="wrapper">
  <div class="content sub_content">
  <form class="custStyleInput" name="frmtpv01" id="frmtpv01" method="post" data-bind='submit:calltpvView' >
      <div  class="topBox" >
		   <fieldset class="bgff5354">
				<label class="selLbl"> Select Account</label>
				<!-- <select name="fldAcctNo" id="fldAcctNo" class="styled"  data-bind="options: accountListFt, optionsText: 'displaytxt', optionsValue: 'codacctno', value: selAccount,optionsCaption: '-Select-'"> -->
				<select name="fldAcctNo" id="fldAcctNo" class="styled"  data-bind="options: accountListFt, optionsText: 'displaytxt', optionsValue: 'codacctno', value: selAccount">
			</select>
			</fieldset>
					
	       <fieldset class="bgff6869">
				<label>Reference Number</label>
		<input type="number" name="fldTxnRefNo" id="fldTxnRefNo" value="" size="10" class="rs_fld"/>
	     </fieldset>	
			
			<fieldset class="bgff6869 date_picker" style="display:none;">
				<label>From Date (dd/mm/yyyy)</label>
				<span id="show_date" class="date_icon"></span>
				<input type="text" readonly="readonly" name="fldFromDate" id="fldFromDate" size="10" />
			</fieldset>	
			
			<fieldset class="bgff6869 date_picker" style="display:none;">
				<label>To Date (dd/mm/yyyy)</label>
				<span id="show_date1" class="date_icon"></span>
				<input type="text" readonly="readonly" name="fldToDate" id="fldToDate" size="10" />
			</fieldset>	
	
		  <div class="bgded4d4">
				 
				  <div class="clearfix"></div>
				  <fieldset>
				  	<input type="submit" value="Submit" class="btn">
				  </fieldset>
				  <div class="clearfix" style="height:30px;"></div>
		</div>
		</form> 
	
       </div>
</div>
</div>
</section>
<script>
function callViewData(){	
	tptmodel = new TPTViewModel();
	tptmodel.calltpvView();
}
</script>
<script type="text/javascript">

$("#fldTxnRefNo").keyup(function() {
        $("#fldTxnRefNo").val(this.value.match(/[0-9]*/)); 
        var count = $("#fldTxnRefNo").val().length;
        if (count > 10) {
            $("#fldTxnRefNo").val(this.value.match(/[0-9]{10}/));
        } 
});

$(function(){
		var now = new Date();
	    $('#fldFromDate,#fldToDate').scroller({
	        preset: 'date',
	        theme: 'sense-ui',
	        display: 'modal',
	        mode: 'scroller',
	        dateOrder: 'ddMYYYY',
			endYear: now.getFullYear() + 10
	    });

$('#show_date1').click(function(){
  $('#fldToDate').scroller('show'); 
  return false;
});

$('#show_date').click(function(){
  $('#fldFromDate').scroller('show'); 
  return false;
});


$('#clear').click(function () {
  $('#fldFromDate').val('');
  return false;
});
});
$.validator.addMethod('greaterThan', 
function(value, element) {

                tmpdt1 = $('#fldToDate').val();
				arrdt1 = tmpdt1.split('/');
				
				tmpdt2 = $('#fldFromDate').val();
				arrdt2 = tmpdt2.split('/');
               var date1 = new Date(arrdt1[2],arrdt1[1],arrdt1[0]);

              var date2 = new Date(arrdt2[2],arrdt2[1],arrdt2[0]);

    if ( date1 < date2) {
	
     return false;  
    }
	else{
return true;
}

},'From Date cannot be greater than To Date');

$.validator.addMethod('CurrentDate', 
function(value, element) {

                tmpdt1 = $('#fldToDate').val();
				arrdt1 = tmpdt1.split('/');
				
				var today = new Date();
				var dd = today.getDate();
				var mm = today.getMonth()+1; //January is 0!

				var yyyy = today.getFullYear();
				if(dd<10){dd='0'+dd} if(mm<10){mm='0'+mm} 
				var today = dd+'/'+mm+'/'+yyyy;
				
				tmpdt2 = today;
				arrdt2 = tmpdt2.split('/');
               var date1 = new Date(arrdt1[2],arrdt1[1],arrdt1[0]);

              var date2 = new Date(arrdt2[2],arrdt2[1],arrdt2[0]);

    if ( date2 < date1) {
	
     return false;  
    }
	else{
return true;
}

},'To Date cannot be greater than Current Date');
$("#frmtpv01").validate({
	focusInvalid: false,
	rules: {
		fldAcctNo: "required",	
	},
	messages: {
		fldAcctNo: "Select Account",								
	}
});
</script>