<style>
	.info_row2, .info_row3  { padding-left:0; padding-right:0;}
	.info_row p { padding-left:10px; }
	.info_row { display:table; width:100%; }
	.info_row2 { padding-left:5px; }
	.linedivider { margin:0; }
	.info_row label { display:table-cell; vertical-align:middle; }
	.summblock { margin:0 5px !important; }
</style>
<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
  
  	<form  name="rrtpi01" id="rrtpi01" method="post" data-bind='submit: tpi01submit'>    

  	<br/>
  		
  	  <div class="clearfix"></div>
      <div class="linedivider"></div>   
      <div class="clearfix"></div>
      
      <div class="info_row">
      	<div class="info_row2">Select Transaction Type</div>
      	<div class="info_row3">
      	 <select name="fldBeneType" id="fldBeneType" class="styled">
	          <option value="">-Select-</option>
	          <option value="TPT">Transfer within the bank</option>
	          <option value="NEFT">Transfer to other bank / Credit Card Payment (Using NEFT / IMPS)</option>
	          <option value="RTGS">Transfer to other bank (Using RTGS)</option>
		 </select> 	
        </div> 
      </div>
      
      <div class="clearfix"></div>
    <div class="linedivider"></div>   
    <div class="clearfix"></div>
    
    <div class="info_row">
    <input type="submit" class="button" value="View" >
   </div>
	
	
	<input type="hidden" name="fldOperationId" value="RRTPI01" />
	<input type="hidden" name="fldTxnId" value="TPI" />	
	<input type="hidden" name="fldScrnSeqNbr" value="01" />
			
	</form>
	
	
		<div class="info_row even" data-bind="visible: benefTPT().length > 0 || benefNEFT().length > 0 || benefRTGS().length > 0">
		<span class="info_row_left">Beneficiary Type</span> 
			<span class="info_row_right" data-bind="text: benetype">
			
			</span>
			<div class="clearfix"></div>
		</div> 
		<br/>
		<div  data-bind="foreach: benefTPT , visible: benefTPT().length > 0">
		<div class="summblock">	
			<div class="info_row dark_header"><span class="info_row_left clslineht">Beneficiary Account No.</span> 
				<span class="info_row_right clslineht" data-bind="text: benacctno">
				
				</span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd"><span class="info_row_left">Name / Nickname</span> 
				<span class="info_row_right clslineht" data-bind="text: narrative">
				
				</span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row even"><span class="info_row_left">Email ID</span> 
				<span class="info_row_right clslineht" data-bind="text: email1">
				
				</span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd"><span class="info_row_left">Status</span> 
				<span class="info_row_right" data-bind="text: statusTxt">
				</span>
				<div class="clearfix"></div>
			</div>
				
		</div>	
		<br/>
		</div>
		
		
		<div data-bind="foreach: benefNEFT , visible: benefNEFT().length > 0">
		<div class="summblock" >	
			<div class="info_row dark_header"><span class="info_row_left clslineht">Beneficiary Account No.</span> 
				<span class="info_row_right clslineht" data-bind="text: benacctno">
				
				</span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd"><span class="info_row_left">Account Type</span> 
				<span class="info_row_right clslineht" data-bind="text: beacctype">
				
				</span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row even"><span class="info_row_left">IFSC Code</span> 
				<span class="info_row_right clslineht" data-bind="text: ifsccode">
				
				</span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd"><span class="info_row_left">Beneficiary Name</span> 
				<span class="info_row_right" data-bind="text: narrative">
				</span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row even"><span class="info_row_left">Email ID</span> 
				<span class="info_row_right" data-bind="text: email1" style="word-wrap: break-word;">
				</span>
				<div class="clearfix"></div>
			</div>
			<div class="info_row odd"><span class="info_row_left">Status</span> 
				<span class="info_row_right" data-bind="text: statusTxt">
				</span>
				<div class="clearfix"></div>
			</div>			
				
		</div>
		<br/>
		</div>
		
		<div data-bind="foreach: benefRTGS , visible: benefRTGS().length > 0">
		<div class="summblock" >	
			<div class="info_row dark_header"><span class="info_row_left clslineht">Beneficiary Account No.</span> 
							<span class="info_row_right clslineht" data-bind="text: benacctno">
						
							</span>
							<div class="clearfix"></div>
						</div>
						
						<div class="info_row odd"><span class="info_row_left">IFSC Code</span> 
							<span class="info_row_right" data-bind="text: ifsccode">
							
							</span>
							<div class="clearfix"></div>
						</div>
						<div class="info_row even"><span class="info_row_left">Beneficiary Name</span> 
							<span class="info_row_right" data-bind="text: narrative">
							
							</span>
							<div class="clearfix"></div>
						</div>
						
						<div class="info_row odd"><span class="info_row_left">Email ID</span> 
							<span class="info_row_right" style="word-wrap: break-word;" data-bind="text: email1">
							
							</span>
							<div class="clearfix"></div>
						</div>
						
						<div class="info_row even"><span class="info_row_left">Status</span> 
							<span class="info_row_right" data-bind="text: statusTxt">
							
							</span>
							<div class="clearfix"></div>
						</div>	
				
		</div>	
		<br/>
		</div>
	
  </div>
</div>