<style>
	.info_row2, .info_row3  { padding-left:0; padding-right:0;}
	.info_row p { padding-left:10px; }
</style>
<link href="css/mobiscroll-2.0.custom.min.css" rel="stylesheet" type="text/css" />
<script src="js/libs/mobiscroll-2.0.custom.min.js" type="text/javascript"></script>
<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
    
 	<div class="clearfix"></div>
		<div class="info_row">
		<p class="width60Per radio_box">
	        <label>
	          <input type="radio" name="radOption" id="radref" value="byref" checked="checked"  />
	          <span >By Reference No.</span></label>
	      </p>
	    <p class="width40Per radio_box">
	        <label>
	          <input type="radio" name="radOption" id="raddate" value="byperiod"  />
	          <span >By Period</span></label>
	      </p>  
	    </div>  
		<!-- <div class="info_row cust_radio"> 
			<input type="radio" name="radOption" id="radref" value="byref" checked="checked" /><label> By Reference No.</label> 
			<input type="radio" name="radOption" id="raddate" value="byperiod" class="marLeft10" /><label> By Period</label>
		<div class="clearfix"></div>
		</div> -->
									
		<form class="custStyleInput" name="frmvft01" id="frmvft01" method="post" data-bind='submit: rrvft01Submit'>
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
			
		<div id="refblock">	
		<div class="info_row" > <div class="info_row2">Reference Number</div> <div class="info_row3">
			<input type="number" name="fldRefNo" id="fldRefNo" value="" size="10"  class="rs_fld"/>
			   </div>
			<div class="clearfix"></div>
		  </div>
		  
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		</div>	
			
		<div id="dateblock" style="display:none;">		
		<div class="info_row" style="-webkit-tap-highlight-color: rgba(0,0,0,0);"> <div class="info_row2">From Date (dd/mm/yyyy)</div> 
		<div class="info_row3">
	        <div class="width100per" style="padding-right:40px; position:relative;"><input type="text"  readonly="readonly"  name="fldFromDate" id="fldFromDate"  />
	        <div  id="show_date"><img src="img/index.png"  /></div></div>		
	     </div>
		 </div>
	 
	
	 
	  <div class="clearfix"></div>
      <div class="linedivider"></div>   
      <div class="clearfix"></div>
    
     <div class="info_row" style="-webkit-tap-highlight-color: rgba(0,0,0,0);"><div class="info_row2">To Date (dd/mm/yyyy)</div> 
	<div class="info_row3">
        <div class="width100per" style="padding-right:40px; position:relative;"><input type="text" name="fldToDate" readonly="readonly" id="fldToDate" />
        <div  id="show_date1"><img src="img/index.png"  /></div></div>
     </div>
     <div class="clearfix"></div>
     </div>
	 
	  </div>
	  
		 <div class="clearfix20"></div>
   <div class="info_row">
    <input type="submit" class="button" value="Submit" >
   </div>
		
		<input type="hidden" name="fldRequestId" id="fldOperationId" value="RRVFT02" />
		<input type="hidden" name="fldScrnSeqNbr" id="fldScrnSeqNbr" value="02" />
		<input type="hidden" name="fldTxnId" id="fldTxnId" value="VFT" />
		
		<input type="hidden" name="fldopttype" id="fldopttype" value="ref" />
				
		</form>

  </div>
</div>

<script type="text/javascript">
$("#fldRefNo").keyup(function() {
        $("#fldRefNo").val(this.value.match(/[0-9]*/)); 
        var count = $("#fldRefNo").val().length;
        if (count > 10) {
            $("#fldRefNo").val(this.value.match(/[0-9]{10}/));
        } 
});

$(document).on('change','#radref',function(e){
	//$('#radref').change(function () {
	$('#refblock').show();
	$('#dateblock').hide();
	$('#fldopttype').val('ref');

	});
	$(document).on('change','#raddate',function(e){
	//$('#raddate').change(function () {
	$('#refblock').hide();
	$('#dateblock').show();
	$('#fldopttype').val('period');
	});
	
$(function(){
	var now = new Date();
    $('#fldFromDate,#fldToDate').scroller({
        preset: 'date',
        theme: 'sense-ui',
        display: 'modal',
        mode: 'scroller',
        dateOrder: 'ddMYYYY',
		endYear: now.getFullYear() + 10
    });
    
    


$('#show_date1').click(function(){
$('#fldToDate').scroller('show'); 
return false;
});

$('#show_date').click(function(){
$('#fldFromDate').scroller('show'); 
return false;
});


$('#clear').click(function () {
$('#fldFromDate').val('');
return false;
});


});

$("#frmvft01").validate({
	focusInvalid: false,
	rules: {
		fldRefNo: {
            required: {
                depends: function(element) {
                	var tmpsrch = $('input[name=radOption]:radio:checked').val()
                    return tmpsrch == 'byref'
                }
            }
        },
        fldFromDate: {
            required: {
                depends: function(element) {
                	var tmpsrch = $('input[name=radOption]:radio:checked').val()
                    return tmpsrch == 'byperiod'
                }
            }
        },
        fldToDate: {
            required: {
                depends: function(element) {
                	var tmpsrch = $('input[name=radOption]:radio:checked').val()
                    return tmpsrch == 'byperiod'
                }
            }
        }
	},
	messages: {
		fldRefNo: "Enter Reference Number",
		fldFromDate: "Select From Date",
		fldToDate: "Select To Date",
	}
});


</script>
