<script>
/* window.onload = function() {
alert(1);
  document.getElementById("congo").focus();
}; */
</script>
<style> 
.h_title, .footer {
	display: block !important;
}
.back {visibility: hidden; }

.f30{
font-size: 30px;
}

.f18{
font-size: 18px;
}

/* .confirmmsg{


} */

.msg{
font-size: 20px;
text-align: center;
/* color: #959597; */
color: #2c387c;
}

.msghead{
font-size: 22px;
text-align: center;
/* color: black; */
color: #2c387c;
font-weight: bold;
font-family: HelveticaNeueLt;
}

.centerbox{
background-color: #e0e0e0;
height: 180px;
width: 180px;
border-radius: 250px;
/* padding-top: 30px; */
/* color: #b3b3b4; */
display:block;
margin-left: auto;
margin-right: auto;
}

/* .scorefigure{
text-align: center;
font-size: 50px;
padding-top: 60px;
font-weight:bold;
color: #2c387c; 
letter-spacing: 3px;
} */

.scorefigure{
text-align: center;
font-size: 50px;
padding-top: 75px;
font-weight:bold;
color: #2c387c; 
letter-spacing: 3px;
}


/* .btm_txt{
text-align: center;
font-size: 16px;
padding-top: 0px;
margin-top: -20px;
color: #E31E24;
} */

 .btm_txt{
text-align: center;
font-size: 16px;
padding-top: 0px;
margin-top: -110px;
color: #E31E24;
} 


#contentData, .content, #wrapper{
background-color: white;
}




</style>

<section class="dynamic-page-content" id="contentData">

 <div id="wrapper">
    <div class="content sub_content">

  		<div class="summblock">
			<!-- <div class="summblock listItems"> -->			
		<!-- 	<div class="clearfix" style="height:20px" id="congo"></div> -->
			<p class = "msghead"  style="padding-top:15px;">Congratulations!</p>	
			
			<div class="clearfix" style="height:15px"></div><!-- 20px -->
			
			<div class="mainbox">
				<span class="centerbox"><label class="scorefigure" style="clear: both;"></label><label class="btm_txt">Your Credit Score</label>
				</span>
			</div>
			
			<div class="clearfix" style="height:20px"></div><!-- 25px -->
				
				<!-- <p class = "msg">Payment Done Successfully</p> -->
				
				<p class = "msg">A detailed report has been sent on provided Email Id </p>	

					<div>
					<div class="clearfix" style="height:32px"></div>
					<div class="info_row alignc">
					<a href = "#rrasm01">
						<input type="button" class="button" value="OK" style="width: 100px; margin: 0 auto; display: table;"/>
						</a>
					</div>
				
		</div>
		</div>

  </div>
 <!-- <p style="float:left;padding-top:9px;margin-bottom:0;position:absolute;font-size:9px;" class="blue-text">Powered by Experian Credit Bureau</p> --> 
 <p style="float:left;bottom:0;position:fixed;font-size:9px;padding-bottom:58px;" class="blue-text">Powered by Experian Credit Bureau</p>
</div>


</section>


