<style>
.custfont {
	font-size: 18px;
}

.footer {
	display: inline-block;
}
</style>
<section class="dynamic-page-content" id="contentData">
	<div id="wrapper">
		<div class="content sub_content">

			<form name="frmCreditScoreHome" id="frmCreditScoreHome" method="post"
				data-bind='submit: CreditScoreHomeSubmit'>
				<div class="summblock listItems">

					<div class="info_row custfont">
						<span class="info_row_left">Name</span> <span
							class="info_row_right f18 CustomerName"></span>
						<div class="clearfix"></div>
					</div>

					<div class="info_row custfont">
						<span class="info_row_left">Date of Birth</span> <span
							class="info_row_right f18 DOB"></span>
						<div class="clearfix"></div>
					</div>
					
					<div class="info_row custfont">
						<span class="info_row_left">PAN Number</span> <span
							class="info_row_right f18 PAN"></span>
						<div class="clearfix"></div>
					</div>
					
					<div class="info_row custfont">
						<span class="info_row_left">Aadhaar Number</span> <span
							class="info_row_right f18 Aadhar"></span>
						<div class="clearfix"></div>
					</div>

					<div class="info_row custfont">
						<span class="info_row_left">Address</span> <span
							class="info_row_right f18 Address1"></span>
						<div class="clearfix"></div>
					</div>

					<div class="info_row custfont" id = "addressline2">
						<span class="info_row_left"></span> <span
							class="info_row_right f18 Address2"></span>
						<div class="clearfix"></div>
					</div>

					<div class="info_row custfont" id = "addressline3">
						<span class="info_row_left"></span> <span
							class="info_row_right f18 Address3"></span>
						<div class="clearfix"></div>
					</div>
					
					
					<div class="info_row custfont">
						<span class="info_row_left">City</span> <span
							class="info_row_right f18 City"></span>
						<div class="clearfix"></div>
					</div>

					<!-- <div class="info_row custfont">
						<span class="info_row_left">State</span> <span
							class="info_row_right f18 State"></span>
						<div class="clearfix"></div>
					</div> -->
					
					<div class="info_row custfont">
						<span class="info_row_left">Pincode</span> <span
							class="info_row_right f18 Pincode"></span>
						<div class="clearfix"></div>
					</div>



					<div class="info_row custfont">
						<span class="info_row_left">Mobile Number</span> <span
							class="info_row_right f18 PhoneNo"></span>
						<div class="clearfix"></div>
					</div>
					
					<!-- <div class="info_row custfont">
						<span class="info_row_left">Email</span> <span
							class="info_row_right f18" style="margin-left: -25px;"> <input type="text" class="EmailID" name="email" id="email"
							size="30" style="font-size: 17px;" /></span>
						<div class="clearfix"></div>
					</div> -->
					
					<div class="info_row custfont">
					 <fieldset>  
					<span style="float: left; padding-top:12px; width:15%;">Email</span> <span style="float: right; margin-right: 5px; width:80%;"> <input type="text" class="EmailID" name="email" id="email"
							size="25" style="font-size: 17px;"/></span>
							<div class="clearfix"></div>
					 </fieldset> 
					</div>  

<!-- 					<div class="info_row custfont">
						<span class="info_row_left">Email</span>
					</div>
					<fieldset class="bgff6869">
						<input type="text" class="EmailID" name="email" id="email"
							size="30" style="font-size: 17px;" />
					</fieldset> -->


					
				<!-- 	margin-top: 8px; display: block; margin-bottom: 3px; -->
					 <div class="info_row custfont" id="OTP_CreditScore" style="display: none;">
					 <!-- <fieldset id="field_otp"> -->
					 <fieldset>
						<span style="float: left; padding-top:12px; width: 15%;">OTP</span>
						 <span style="float: left;padding-left:10px;width: 43%;">
						 <input type="password" name="OTp_No" id="p2cOTPval" minlength="6" maxlength="6" size="6" style="float:left;width:125px;"/>
						 </span>
						 <span style="float: right;padding-left:5px;width: 35%;">
						  <a id='' style="font-size: 16px;float:right;padding-top:12px; padding-right:5px;" onclick="CreditScoregetOTP()">Resend OTP</a> 
							</span>
							 </fieldset>
					</div>

					<!--  <div class="info_row custfont" id="OTP_CreditScore" style="display: none;">
						<span class="info_row_left">OTP No</span>
						 <span class="info_row_right ">
						 <input type="password" name="OTp_No" id="p2cOTPval" minlength="6" maxlength="6" size="6">
							 <a id='btn' style="margin-top: 8px; display: block; margin-bottom: 3px; font-size: 16px;" onclick="CreditScoregetOTP()">Resend OTP</a>
							 </span>
					</div> --> 					
					
				  <!-- 	<div class="info_row custfont" id="termsandconditions">
					<fieldset> 
					<span style="float: right; margin-top: 2%;">I agree to the <a onclick = "window.open('http://www.rblbank.com/pdfs/Footers/Terms-and-Conditions-The-Ratnakar-Bank.pdf', '_system')">Terms and conditions</a></span>
					<input type="checkbox" name="tcchckbox" id="tcchckbox" value="" style="float: left;">
					</fieldset>
					</div>  --> 

				<div class="info_row custfont" id="termsandconditions">
					<fieldset> 
					<span style="float: right; margin-top: 2%; width: 89%; line-height: 20px;">I agree to the <!-- <a onclick = "window.open('http://www.rblbank.com/pdfs/Footers/Terms-and-Conditions-The-Ratnakar-Bank.pdf', '_system')">Terms and conditions</a> -->
					<!--<a href="#termsncondn" id="termsncondn">Terms and conditions</a>-->
						<a  onclick="termsncondn();" id="termsncondn">Terms and conditions</a>
					</span>
					<span style="float: left; width: 7%;"><input type="checkbox" name="tcchckbox" id="tcchckbox" value=""></span>
					</fieldset>
					</div> 

				</div>

				<div class="bgded4d4">
					<div class="clearfix" style="height: 20px"></div>
					<div class="info_row alignc">
						<input type="submit" class="button" value="Proceed" id="creditscoresubmitbtn" />
					</div>
					<div class="clearfix" style="height: 20px"></div>
				</div>
				
				 <input type="text" id="requestId" style="display: none"> 


			</form>
		</div>
	</div>
</section>

<script>

/* function checkboxclick() {
//otp generation call
CreditScoregetOTP();
$("#tcchckbox").attr("disabled", true);
$("#OTP_CreditScore").css('display','table');
$("#termsandconditions").css('display','none');
} */ 


$.validator.addMethod("alpha", function(value, element) {
				 return this.optional(element) || /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/i.test(value); 
			}
			, "Please enter Valid Email"); 
			
		

$("#frmCreditScoreHome").validate({
	/* focusInvalid: false, */
	rules: {
		email:
		{
		required : true,
		alpha:true
		
		} ,
		/*
		 fldChecked: 
		{
		chkvalid: "#fldChecked"
		},
		*/
		 tcchckbox:
		{
		required : true,
		} ,
		
		 OTp_No:
		{
		required : true,
		} 
		
				
	},
	messages: {
		email:
		{
		required :"Please enter Email",
		alpha : "Please enter Valid Email",
		},
		/*
		fldChecked: 
		{
		chkvalid: "Please accept Terms & Conditions before proceeding."
		},
		*/
		
		
		 tcchckbox: 
		{
		required: "Please accept Terms & Conditions before proceeding."
		},
		
		 OTp_No: 
		{
		required: "Please enter OTP"
		}  
		
		
			
	}
});
			
		
</script>




					<!-- <div class="info_row custfont">
						<span class="info_row_left">Gender</span> <span
							class="info_row_right f18 Gender"></span>
						<div class="clearfix"></div>
					</div> -->

				<!--  	<div class="info_row custfont">
						<span class="info_row_left">Account Number</span> <span
							class="info_row_right f18 Acc_num"></span>
						<div class="clearfix"></div>
					</div>


					<div class="info_row custfont">
						<span class="info_row_left">Customer ID</span> <span
							class="info_row_right f18 Cust_ID"></span>
						<div class="clearfix"></div>
					</div>  -->

