<style>

</style>
<section class="dynamic-page-content" id="contentData">
<link href="css/mobiscroll-2.0.custom.min.css" rel="stylesheet" type="text/css" />
<script src="js/libs/mobiscroll-2.0.custom.min.js" type="text/javascript"></script>
<div id="wrapper">
  <div class="content sub_content">
  
  <!-- <div class="info_row odd" id="accExitsMsg" style="display:none;">
	<span class="info_row_menu_left" style="width:15%;"><img src="img/alerticon.png" /></span>
		<span class="info_row_menu_right clslineht" style="width:72%;">
			No Accounts found.
		</span> 
  </div> -->
  
  
  
  <div id="nftfundtrns" style="display:none;">
  
  <form name="frmCreditScoreSelectAccount" id="frmCreditScoreSelectAccount" method="post" data-bind='submit: ExperianAmount'>
	<div id="tptCont" class="topBox" style="display:block;">
		
			<fieldset class="bgff5354">
				<label class="selLbl">Select Account</label>
				<select name="fldAcctNo" id="fldAcctNo" class="styled"  data-bind="options: accountListFt, optionsText: 'displaytxt', optionsValue: 'codacctno', value: selAccount, optionsCaption: '-Select-'">
			</select>
			</fieldset>
			
<!-- 			 <fieldset class="bgff5354">
				<label class="selLbl">Beneficiary</label>
				<select name="fldBenefDetail" id="fldBenefDetail" class="styled" data-bind="options: rdAccountList, optionsText: 'displaytxt', optionsValue: 'codacctno', value: selAcctTemp, optionsCaption: '-Select-'">
			</select>
			</fieldset>	 --> 
			<div class="bgded4d4">
				 
				  <div class="clearfix"></div>
				  <fieldset>
				  	<input type="submit" class="btn" value="Submit" id="confirm_button1">
				  </fieldset>
				  <div class="clearfix" style="height:30px;"></div>
			</div>
	
		</div>
	
		
		</form> 
	</div>
  </div>
</div>

<!-- <script type="text/javascript">
$.validator.addMethod("DescRegex", function(value, element) {
        return this.optional(element) || /^[a-z0-9\-\ ]+$/i.test(value);
    }, "Use only letters, numbers, or dashes.");


$("#rrtpn04").validate({
	rules: {
		fldAcctNo: "required",
		fldBenefDetail: "required",
		fldTxnAmount: "required",
		fldChecked: {chkvalid: "#fldChecked"},
		fldTxnDesc: {
                required: true,
                DescRegex: true,
        }	
	},
	messages: {
		fldAcctNo: "Select From Account",
		fldBenefDetail: "Select Beneficiary Account",
		fldTxnAmount: "Enter Amount",
		fldChecked: "Please accept Terms & Conditions before proceeding.",
		fldTxnDesc: {
                required: "Enter Description",
                DescRegex: "Description format not valid"
            }
	}
});
function formSubmit(reqid)
	{
		document.getElementById('fldRequestId').value = reqid;
		
		var objs = document.getElementById('fldAcctNo');
		document.getElementById('fldAcctNo_txt').value = objs.options[objs.selectedIndex].innerHTML;
		
		document.getElementById("fldBenefType").value = "NEFT";
		
		var objs1 = document.getElementById('fldBenefDetail');
		document.getElementById('fldBenefDetail_txt').value = objs1.options[objs1.selectedIndex].innerHTML;
		document.getElementById("f1").submit();
	}


$(document).ready( function() {
		$("#confirm_button").click( function() {
			$('input,select').each(function() {
				if (!$(this).attr('disabled'))
					$(this).addClass('dwtd');
			});
			$('input,select').attr('disabled', true);
		
		
					jConfirm('This funds transfer request has been initiated after the RBI cut-off for the day. This request will be presented to RBI on the next working day for further processing. The funds will be debited from the account immediately. Please press OK button to continue or Cancel button to cancel the request', '', function(r) {
						if (r==true) {
							$('input,select').attr('disabled', false).removeClass('dwtd');
							document.getElementById('fldRequestId').value = 'RRTPN05';
							document.getElementById("fldBenefType").value = "NEFT";
							//document.getElementById("f1").submit();
						} else {
							$('input,select').attr('disabled', false).removeClass('dwtd');
							document.getElementById('fldRequestId').value = 'RRTPN01';
							//document.getElementById("f1").submit();
						}
						//jAlert('Confirmed: ' + r, 'Confirmation Results');
						//return false;
					});
				});
				$("#confirm_button1").click( function() {
					document.getElementById('fldRequestId').value = 'RRTPN05';
					var objs = document.getElementById('fldAcctNo');
					document.getElementById('fldAcctNo_txt').value = objs.options[objs.selectedIndex].innerHTML;
					
					document.getElementById("fldBenefType").value = "NEFT";
					
					var objs1 = document.getElementById('fldBenefDetail');
					document.getElementById('fldBenefDetail_txt').value = objs1.options[objs1.selectedIndex].innerHTML;
				
				});//document.getElementById("f1").submit();
});
</script> -->
 <script type="text/javascript">

		$("#frmCreditScoreSelectAccount").validate({
			/* focusInvalid: false, */
			rules : {
				fldAcctNo : {
					required : true,
				}

			},
			messages : {
				fldAcctNo : {
					required : "Select Account",
				}

			}
		});

</script>
 
</section>











<!-- <style>
</style>
<section class="dynamic-page-content" id="contentData">
	<link href="css/mobiscroll-2.0.custom.min.css" rel="stylesheet"
		type="text/css" />
	<script src="js/libs/mobiscroll-2.0.custom.min.js"
		type="text/javascript"></script>
	<div id="wrapper">
		<div class="content sub_content">
			<div class="info_row" id="accExitsMsg" style="display: none;">
				<p>You do not have active account with the bank.</p>
			</div>
			<form class="custStyleInput" name="frmCreditScoreSelectAccount"
				id="frmCreditScoreSelectAccount" method="post"
				data-bind='submit: CreditScoreSelectAccountSubmit'>
				<div id="tptCont" class="topBox" style="display: block;">

					<fieldset class="bgff5354">
						<label class="selLbl">Select Account</label> <select
							name="fldAcctNo" id="fldAcctNo"
							data-bind="options: accountList, optionsText: 'displaytxt', optionsValue: 'codacctno', value: selAccount, optionsCaption: '-Select-'">

						</select>
					</fieldset>


					<div class="bgded4d4">

						<div class="clearfix"></div>
						<fieldset>
							<input type="submit" value="Submit" class="btn">
						</fieldset>
						<div class="clearfix" style="height: 30px;"></div>
					</div>


				</div>


			</form>

		</div>
	</div>

	<script type="text/javascript">
		$("#frmCreditScoreSelectAccount").validate({
			/* focusInvalid: false, */
			rules : {
				fldAcctNo : {
					required : true,
				}

			},
			messages : {
				fldAcctNo : {
					required : "Select Account",
				}

			}
		});
	</script>
</section> -->


