<style>
.toppad{
 padding-top:2px;
 vertical-align:top;
}
</style>
<section class="dynamic-page-content" id="contentData" >
 <div id="wrapper" style="background-color:#ffffff;">
    <div class="content sub_content" style="border:5px solid #f5f5f5;padding:5px;">
	<table width="100%" style="background-color:#ffffff;">
		<tr>
			<th colspan="2" align="center" style="padding:5px;font-size:16px;">View Credit Score on MoBank<br>
				<u>Terms and Conditions</u></th>
		</tr>
		<tr>
			<td class="toppad" >1.
			</td>
			<td>The "View Credit Score" is a service provided by Experian Credit Information Company of India Private Limited ("Experian") through RBL Bank's Digital Banking Platform.
			</td>
		</tr>
		<tr>
			<td class="toppad">2.</td>
			<td>These Terms are in addition to and shall be read in conjunction with the Bank's customer terms referred as "Terms and Conditions for Mobile Banking Service" available at
			 <a onclick = "openLink('http://www.rblbank.com/terms-mobile-banking-service.html')">http://www.rblbank.com/terms-mobile-banking-service.html</a>.
			</td>
		</tr>
		<tr>
			<td class="toppad">3.</td>
			<td>In the event of any conflict or inconsistency, these Terms shall prevail over any other terms to the extent of such conflict or inconsistency.
			</td>
		</tr>
		<tr>
			<td class="toppad">4.</td>
			<td>By agreeing to this Terms and Condition, you are expressly agreeing to access Experian credit score. You hereby irrevocably and unconditionally consent to such credit information being provided by Experian to you and RBL Bank by using Experian tools, algorithms and devices and you hereby agree, acknowledge and accept the terms and conditions set forth herein.
			</td>
		</tr>
		<tr>
			<td class="toppad">5.
			</td>
			<td>
				<div style="clear:both;">Below information will be shared with Experian:</div>
				<div style="clear:both;padding-left:20px;padding-top:10px;">
					a. Name <br>
					b. Gender <br>
					c. Date of Birth <br>
					d. Aadhar Number <br>
					e. PAN Number <br>
					f. Address Registered with Bank <br>
					g. Mobile Number <br>
					h. Email ID <br>
				</div>
			</td>
		</tr>
		<tr>
			<td class="toppad">6.
			</td>
			<td>RBL Bank shall not be responsible or liable in any manner whatsoever for any deficiency or inadequacy in the credit score provided by Experian and you hereby agrees not to hold RBL Bank responsible or liable for, any actions, claims, demands, losses, damages, costs, charges and expenses etc. that you may suffer. RBL Bank is not responsible for any loss, damage, cost etc. that you may incur in the event of failure or disruption of service 
			or from any other cause relating to your access to, inability to access, or use of the Experian's service.
			</td>
		</tr>
		<tr>
			<td class="toppad">7.
			</td>
			<td>The information supplied does not constitute any form of advice, recommendation or endorsement by RBL Bank and is not intended to be relied upon by you in making (or refraining from making) any specific decision. 
			We do not accept any responsibility for any loss that may arise from relying on the Information.
			</td>
		</tr>
		<tr>
			<td class="toppad"> 8.
			</td>
			<td>You agree that to avail the service from Experian, you hereby give explicit and irrevocable consent to RBL Bank to debit your account with RBL Bank for the amount as appearing on the App/page for your confirmation.
			 You agree and accept that this price is towards cost of fetching your credit score and applicable taxes.
			</td>
		</tr>
		<tr>
			<td class="toppad">9.
			</td>
			<td>After you have requested for your credit score, you will view the credit score on your app/ net
			 banking and receive an email from Experian with credit score within 60 minutes of your request.
			</td>
		</tr>
		<tr>
			<td class="toppad">10.
			</td>
			<td>Your credit score will be password protected. 
			Please use password guidelines given in the email sent by Experian
			</td>
		</tr>
		<tr>
			<td class="toppad">11.
			</td>
			<td><div style="clear:both;">Payment once received will be reversed in your account with RBL Bank within 3 working days only in below case:</div>
					<div style="clear:both;padding-left:20px;padding-top:10px;">
					a. Transaction failed due to connectivity error<br>
					b. No Record found of your credit score </div>
			</td>
		</tr>
		<tr>
			<td class="toppad">12.
			</td>
			<td>In case of any queries/ feedback/ complaint/ issues write directly to consumer.support@in.experian.com or contact Experian 
			Credit Information Company of India Private Limited on 022 6641 9000 (Phone Hours: 9.30 a.m.- 6.00 p.m.)
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td> <br><br></td>
		</tr>
		<tr>
			<td>
			</td>
			<td>Disclaimer: <br><br>
				RBL Bank Limited is merely displaying services/ offers provided by third party(ies) and RBL Bank is not rendering any of these services/ offers. RBL Bank is neither endorsing third party(ies)/ services nor responsible for quality of the services offered/ products by third party(ies). RBL Bank will not bear any obligation or liability if a customer avails such services of third party(ies). All service related queries/ complaints will be addressed to the respective third party(ies) only.
				 The customer is free to avail such services from any other sources/ platforms.
			</td>
		</tr>
		
	</table>
  </div>

</div>


</section>


