<style>
	.info_row2, .info_row3 {
	padding-left: 0;
	padding-right: 0;
	}

	.info_row p {
	padding-left: 10px;
	}
</style>
<section class="dynamic-page-content" id="contentData">

	<div id="wrapper">

		<div class="content sub_content">
			<form class="custStyleInput" name="frmPayee_RTGS" id="frmPayee_RTGS"
				  method="post" data-bind='submit: Payee_RTGSSubmit'>


				<div class="topBox">

					<fieldset class="bgff6869">
						<label>Payee Account Number</label> <input type="text" style="-webkit-text-security: disc;"
																   id="Payee_No" name="Payee_No" class="rs_fld" />
					</fieldset>

					<fieldset class="bgff6869">
						<label>Re-Enter Payee Account Number</label> <input type="text"
																			id="RePayee_No" name="RePayee_No" class="rs_fld" />
					</fieldset>


					<fieldset class="bgff6869">
						<label>Payee Name</label> <input type="text" id="Payee_Name" autocapitalize="off" autocomplete="off"
														 autocorrect="off" spellcheck="false" name="Payee_Name" class="rs_fld" />

					</fieldset>

					<fieldset class="bgff6869">
						<label>Payee Nick Name</label> <input type="text"  autocapitalize="off"  autocomplete="off"
															  autocorrect="off" spellcheck="false" id="Payee_Nick_Name" name="Payee_Nick_Name" class="rs_fld" />

					</fieldset>


					<fieldset class="bgff6869">
						<label>IFSC</label> <input style="text-transform:uppercase;" type="text" autocapitalize="off"  autocomplete="off"
												   autocorrect="off" spellcheck="false" id="Payee_IFSC" name="Payee_IFSC" class="rs_fld"/>

						<br><br>
						<label style="font-size: 18px; float: right; font-weight: bold;"><a href = "#IFSC_Search"><u>Search IFSC</u></a></label>

					</fieldset>

				</div>
				<fieldset>
					<input type="submit" value="Add" class="btn" id="PayeeRTGSSubmit" />
					<div class="clearfix" style="height: 10px;"></div>
				</fieldset>

			</form>
		</div>
	</div>
</section>


<script>

$.validator.addMethod("gama", function(value, element) {
		var p2cbene_mobilenoEntered = $('#Payee_IFSC').val();
		if (p2cbene_mobilenoEntered.length<11){
			return false;
		}else{
			return true;
		}
	}, "IFSC Code must be of length 11");


/* 	$.validator.addMethod("beta", function(value, element) {
		var p2cbene_mobilenoEntered = $('#Payee_No').val();
		if (p2cbene_mobilenoEntered.length<12){
			return false;
		}else{
			return true;
		}
	}, "Please enter atleast 12 digits"); */

   $.validator.addMethod("alpha", function(value, element) {
		var Payee_Name1 = $('#Payee_Name').val();
		var flag1=true;


		//var a1= new RegExp("^[A-Za-z0-9][a-zA-Z0-9 \}\{\:\\s\,\)\(\-\~\!\$\%\*\=\]\[\|\/\^`+@#_.;?]*");
		//var a= /^[A-Za-z0-9][a-zA-Z0-9 \}\{\:\\s\,\)\(\-\~\!\$\%\*\=\]\[\|\/\^`+@#_.;?]*/;
		//var a1= new RegExp("^[a-zA-Z0-9][a-zA-Z0-9 .,$;!@#%^*-`_+={}|\:?/()~]+$");
		//var a1= new RegExp("^[a-zA-Z0-9][a-zA-Z0-9 .,$;!@#%^*-`_+={}|\:?/()~]+$");
		  var a1= new RegExp("^[a-zA-Z0-9][a-zA-Z0-9 .,$;!@#%^*-`_+={}|\:?/()~]*$");

		/* if(Payee_Name1.indexOf("&") !=-1)
		{

			 if(Payee_Name1.indexOf("&lt;") !=-1){
				var re = /&lt;/gi;
    			Payee_Name1= Payee_Name1.replace(re, "");
			}
			if(Payee_Name1.indexOf("&amp;") !=-1){
				var re1 = /&amp;/gi;
				Payee_Name1 = Payee_Name1.replace(re1, "");
			}
			if(Payee_Name1.indexOf("&gt;") !=-1){
				//var re1 = new RegExp("&gt;");
				var re2 = /&gt;/gi;
				Payee_Name1 = Payee_Name1.replace(re2, "");
			}
			if(Payee_Name1.indexOf("&apos;") !=-1){
				//var re1 = new RegExp("&apos;");
				var re3 = /&apos;/gi;
				Payee_Name1 = Payee_Name1.replace(re3, "");
			}
			if(Payee_Name1.indexOf("&quot;") !=-1){
				var re4 = /&quot;/gi;
				Payee_Name1 = Payee_Name1.replace(re4, "");
			}
		}  */
		if(a1.test(Payee_Name1))
				flag1=true;
			else
				flag1=false;
				//alert(Payee_Name1.indexOf("<"));
		 if (Payee_Name1.indexOf("<") >0){
			flag1=false;
		}
		if (Payee_Name1.indexOf(">") >0){
			flag1=false;
		}

		//alert(Payee_Name1+" End"+flag1+" __ "+a1);
		return flag1;

	}, "Enter Valid Payee Name");



	$.validator.addMethod("beta", function(value, element) {
		var Payee_Name1 = $('#Payee_Nick_Name').val();
		var flag1=true;

		var a1= new RegExp("^[a-zA-Z0-9][a-zA-Z0-9 .,$;!@#%^*-`_+={}|\:?/()~]*$");

		/* if(Payee_Name1.indexOf("&") !=-1)
		{

			 if(Payee_Name1.indexOf("&lt;") !=-1){
				var re = /&lt;/gi;
    			Payee_Name1= Payee_Name1.replace(re, "");
			}
			if(Payee_Name1.indexOf("&amp;") !=-1){
				var re1 = /&amp;/gi;
				Payee_Name1 = Payee_Name1.replace(re1, "");
			}
			if(Payee_Name1.indexOf("&gt;") !=-1){
				//var re1 = new RegExp("&gt;");
				var re2 = /&gt;/gi;
				Payee_Name1 = Payee_Name1.replace(re2, "");
			}
			if(Payee_Name1.indexOf("&apos;") !=-1){
				//var re1 = new RegExp("&apos;");
				var re3 = /&apos;/gi;
				Payee_Name1 = Payee_Name1.replace(re3, "");
			}
			if(Payee_Name1.indexOf("&quot;") !=-1){
				var re4 = /&quot;/gi;
				Payee_Name1 = Payee_Name1.replace(re4, "");
			}
		}  */
		if(a1.test(Payee_Name1))
				flag1=true;
			else
				flag1=false;

		 if (Payee_Name1.indexOf("<") >0){
			flag1=false;
		}
		if (Payee_Name1.indexOf(">") >0){
			flag1=false;
		}
		//alert(Payee_Name1+" End"+flag1+" __ "+a1);
		return flag1;

	}, "Enter Valid Payee Nick Name");

	/* $.validator.addMethod("delta", function(value, element) {
		var val = $(this).val();
		var flag1=true;
		var count = val.length;
		if (count > 35) {

			flag1=false;
		}
		return flag1;

	}, "Max length exceed");   */

	$("#frmPayee_RTGS").validate({
		rules : {
			Payee_No : {
				required : true,

			},
			RePayee_No : {
				required : true,
				equalTo: "#Payee_No"
			},

			Payee_Name : {
				required : true,
			 	alpha:true /*,
			 	delta:true  */
			},

			Payee_Nick_Name : {
				required : true,
				 beta : true/* ,
				 delta:true */
			},


			Payee_IFSC : {
				gama : true,
				required : true
			}

		},
		messages : {
			Payee_No : {
				required : "Enter Payee Account Number",
				/* beta : "Please enter atleast 12 digits", */
			},
			RePayee_No : {
				required : "Re-enter Payee Account Number",
			},

			Payee_Name : {
				required : "Enter Payee Name",
				alpha : "Enter Valid Payee Name"/*,
				delta : "Max length exceed" */
			},

			Payee_Nick_Name : {
				required : "Enter Payee Nick Name",
				beta : "Enter Valid Payee Nick Name"/* ,
				delta : "Max length exceed" */
			},

			Payee_IFSC : {
				required : "Enter IFSC",
				gama : "IFSC Code must be of length 11"
			}

		}

	});
	/* function myFunction(event) {
    var x = event.which || event.keyCode;
  alert(x);
  } */
  /* $("#Payee_Name").keypress(function(e) {
	 alert(String.fromCharCode(e.which));


	}); */
	$("#Payee_Name").keyup(function() {


	/* var pname1 = this.value;
	if (pname1.indexOf("<") >0){
			return false;
		}
		if (pname1.indexOf(">") >0){
			return false;
		} */
	//alert(JSON.stringify(this.value.match(/^[A-Za-z0-9][a-zA-Z0-9 .,$;!@#%^*-`_+={}|\:?/()~]*/));
	//$("#Payee_Name").val(this.value.match(^[A-Za-z0-9][a-zA-Z0-9 .,$;@#%^\*_+={}|:?/()`~-]*));//.,$;!@#%^*-`_+={}|\:?/()~ 	// \!
	$("#Payee_Name").val(this.value.match(/^[A-Za-z0-9][a-zA-Z0-9 .,$;!@#%^*-`_+={}|\:?/()~]*/));
	//$("#Payee_Name").val(this.value.match(/^[A-Za-z0-9][a-zA-Z0-9 .,$;!@#%^*-+={}|\:?/()~`_]*/));

	var count = $("#Payee_Name").val().length;
		if (count > 35) {
			$("#Payee_Name").val(this.value.match(/.{1,35}/));

		}
	});
	 $("#Payee_Nick_Name").keyup(function() {
	 $("#Payee_Nick_Name").val(this.value.match(/^[A-Za-z0-9][a-zA-Z0-9 .,$;!@#%^*-`_+={}|\:?/()~]*/));
	var count = $("#Payee_Nick_Name").val().length;
		if (count > 30) {
			$("#Payee_Nick_Name").val(this.value.match(/.{1,30}/));

		}
	});
	 	/*  $("#Payee_Name").keyup(function() {
		//$("#Payee_Name").val(this.value.match(/[A-Za-z ]*/		/*));
		var flagpayee=$("#Payee_Name").val(this.value.match(/^[A-Za-z0-9][a-zA-Z0-9 \}\{\:\\s\,\)\(\-\~\!\$\%\*\=\]\[\|\/\^`+@#_.;?]*/		/*));

		//alert(JSON.stringify(flagpayee));
		var count = $("#Payee_Name").val().length;
		if (count > 35) {
			$("#Payee_Name").val(this.value.match(/.{1,35}/));

		}
		});   */


	/* 	$("#Payee_Nick_Name").keyup(function() {
		$("#Payee_Nick_Name").val(this.value.match(/[A-Za-z ]*/   /*));
		var count = $("#Payee_Nick_Name").val().length;
		if (count > 35) {
			$("#Payee_Nick_Name").val(this.value.match(/.{1,35}/));

		}
		}); */

		$("#Payee_No").keyup(function() {
		//$("#Payee_No").val(this.value.match(/[0-9]*/));
		//$("#Payee_No").val(this.value.match(/^[a-z0-9]+$/i));
		$("#Payee_No").val(this.value.match(/[a-z0-9]*/i));

		var count = $("#Payee_No").val().length;
		if (count > 34) {
			$("#Payee_No").val(this.value.match(/.{1,34}/));

		}
		});

		$("#RePayee_No").keyup(function() {
		//$("#RePayee_No").val(this.value.match(/[0-9]*/));
		//$("#RePayee_No").val(this.value.match(/^[a-z0-9]+$/i));
		$("#RePayee_No").val(this.value.match(/[a-z0-9]*/i));
		var count = $("#RePayee_No").val().length;
		if (count > 34) {
			$("#RePayee_No").val(this.value.match(/.{1,34}/));

		}
		});

		$("#Payee_IFSC").keyup(function() {
		$("#Payee_IFSC").val(this.value.match(/[A-Za-z0-9]*/));
		var count = $("#Payee_IFSC").val().length;
		if (count > 11) {
			$("#Payee_IFSC").val(this.value.match(/.{1,11}/));

		}
		});

	$("#Payee_No").focusin(function() {
		$(".footer").css('display', 'none');
	}).focusout(function() {
		$(".footer").css('display', 'inline-block');
	});

	$("#Payee_Name").focusin(function() {
		$(".footer").css('display', 'none');
	}).focusout(function() {
		$(".footer").css('display', 'inline-block');
	});

	$("#Payee_Nick_Name").focusin(function() {
		$(".footer").css('display', 'none');
	}).focusout(function() {
		$(".footer").css('display', 'inline-block');
	});

	$("#RePayee_No").focusin(function() {
		$(".footer").css('display', 'none');
	}).focusout(function() {
		$(".footer").css('display', 'inline-block');
	});

	$("#Payee_IFSC").focusin(function() {
		$(".footer").css('display', 'none');
	}).focusout(function() {
		$(".footer").css('display', 'inline-block');
	});





</script>