<style>
	.info_row2, .info_row3 {
	padding-left: 0;
	padding-right: 0;
	}

	.info_row p {
	padding-left: 10px;
	}



</style>
<section class="dynamic-page-content" id="contentData">

	<div id="wrapper">

		<div class="content sub_content">
			<form class="custStyleInput" name="frmPayee_NEFT_IMPS" id="frmPayee_NEFT_IMPS"
				  method="post" data-bind='submit: Payee_NEFT_IMPSSubmit'>


				<div class="topBox">

					<fieldset class="bgff6869">
						<label>Payee Account Number</label> <input type="text" style="-webkit-text-security: disc;"
																   id="Payee_No" name="Payee_No" class="rs_fld"/>
					</fieldset>

					<fieldset class="bgff6869">
						<label>Re-Enter Payee Account Number</label> <input type="text"
																			id="RePayee_No" name="RePayee_No" class="rs_fld" />
					</fieldset>


					<fieldset class="bgff6869">
						<label>Payee Name</label> <input type="text" id="Payee_Name" autocapitalize="off" autocomplete="off"
														 autocorrect="off" spellcheck="false" name="Payee_Name" class="rs_fld" />

					</fieldset>

					<fieldset class="bgff6869">
						<label>Payee Nick Name</label> <input type="text"  autocapitalize="off" autocomplete="off"
															  autocorrect="off" spellcheck="false" id="Payee_Nick_Name" name="Payee_Nick_Name" class="rs_fld" />

					</fieldset>


					<fieldset class="bgff6869">
						<label>IFSC</label> <input style="text-transform:uppercase;" type="text"  autocapitalize="off" autocomplete="off"
												   autocorrect="off" spellcheck="false" id="Payee_IFSC" name="Payee_IFSC" class="rs_fld" />
						<br><br>

						<label style="font-size: 18px; float: right; font-weight: bold;"><a href = "#IFSC_Search"><u>Search IFSC</u></a></label>

					</fieldset>

				</div>
				<fieldset>
					<input type="submit" value="Add" class="btn" id="NEFTIMPSSubmit" />
					<div class="clearfix" style="height: 10px;"></div>
				</fieldset>

			</form>
		</div>
	</div>
</section>


<script>

$.validator.addMethod("gama", function(value, element) {
		var p2cbene_mobilenoEntered = $('#Payee_IFSC').val();
		if (p2cbene_mobilenoEntered.length<11){
			return false;
		}else{
			return true;
		}
	}, "IFSC Code must be of length 11");


/* $.validator.addMethod("beta", function(value, element) {
		var p2cbene_mobilenoEntered = $('#Payee_No').val();
		if (p2cbene_mobilenoEntered.length<12){
			return false;
		}else{
			return true;
		}
	}, "Please enter atleast 12 digits"); */

	$.validator.addMethod("alpha", function(value, element) {
               var Payee_Name1 = $('#Payee_Name').val();
               var flag1=true;
               var a1= new RegExp("^[A-Za-z0-9][a-zA-Z0-9 /?:().,+{}'-]*$");
               if(a1.test(Payee_Name1))
                     flag1=true;
               else
                  flag1=false;
               return flag1;
     }, "Enter Valid Payee Name");

     $.validator.addMethod("beta", function(value, element) {
               var Payee_Name1 = $('#Payee_Nick_Name').val();
               var flag1=true;
               var a1= new RegExp("^[A-Za-z0-9][a-zA-Z0-9 /?:().,+{}'-]*$");
               if(a1.test(Payee_Name1))
                     flag1=true;
               else
                  flag1=false;
               return flag1;
     }, "Enter Valid Payee Nick Name");

	$("#frmPayee_NEFT_IMPS").validate({
		rules : {
			Payee_No : {
				required : true,
				/* beta : true, */
			},
			RePayee_No : {
				required : true,
				equalTo: "#Payee_No"
			},

			Payee_Name : {
				required : true,
				alpha: true
			},

			Payee_Nick_Name : {
				required : true,
				beta: true
			},


			Payee_IFSC : {
			gama : true,
				required : true
			}

		},
		messages : {
			Payee_No : {
				required : "Enter Payee Account Number",
				/* beta : "Please enter atleast 12 digits", */
			},
			RePayee_No : {
				required : "Re-enter Payee Account Number",
			},

			Payee_Name : {
				required : "Enter Payee Name",
				alpha : "Enter Valid Payee Name"
			},

			Payee_Nick_Name : {
				required : "Enter Payee Nick Name",
				beta : "Enter Valid Payee Nick Name"
			},

			Payee_IFSC : {
				required : "Enter IFSC",
				gama : "IFSC Code must be of length 11"
			}

		}

	});


		$("#Payee_Name").keyup(function() {

		$("#Payee_Name").val(this.value.match(/^[A-Za-z0-9][a-zA-Z0-9 }{:,)(\r\n\s-/\'+.?]*/));
		/// -? : (). , ? + {}
		var count = $("#Payee_Name").val().length;
		if (count > 35) {
			$("#Payee_Name").val(this.value.match(/.{1,35}/));

		}
		});

		$("#Payee_Nick_Name").keyup(function() {
		//$("#Payee_Nick_Name").val(this.value.match(/^[A-Za-z0-9][a-zA-Z0-9 \}\{\:\\r\\n\\s\,\)\(\-'+.?]*/));
		$("#Payee_Nick_Name").val(this.value.match(/^[A-Za-z0-9][a-zA-Z0-9 }{:,)(\r\n\s-/\'+.?]*/));
		var count = $("#Payee_Nick_Name").val().length;
		if (count > 30) {
			$("#Payee_Nick_Name").val(this.value.match(/.{1,30}/));

		}
		});

			$("#Payee_No").keyup(function() {
		//$("#Payee_No").val(this.value.match(/[0-9]*/));
		//$("#Payee_No").val(this.value.match(/^[a-z0-9]+$/i));
		$("#Payee_No").val(this.value.match(/[a-z0-9]*/i));
		var count = $("#Payee_No").val().length;
		if (count > 35) {
			$("#Payee_No").val(this.value.match(/.{1,35}/));

		}
		});

		$("#RePayee_No").keyup(function() {
		//$("#RePayee_No").val(this.value.match(/[0-9]*/));
		//$("#RePayee_No").val(this.value.match(/^[a-z0-9]+$/i));
		$("#RePayee_No").val(this.value.match(/[a-z0-9]*/i));
		var count = $("#RePayee_No").val().length;
		if (count > 35) {
			$("#RePayee_No").val(this.value.match(/.{1,35}/));

		}
		});

		$("#Payee_IFSC").keyup(function() {

		var count = $("#Payee_IFSC").val().length;
		$("#Payee_IFSC").val(this.value.match(/[A-Za-z0-9]*/));
		if (count > 11) {
			$("#Payee_IFSC").val(this.value.match(/.{1,11}/));

		}
		});





	$("#Payee_No").focusin(function() {
		$(".footer").css('display', 'none');
	}).focusout(function() {
		$(".footer").css('display', 'inline-block');
	});

	$("#Payee_Name").focusin(function() {
		$(".footer").css('display', 'none');
	}).focusout(function() {
		$(".footer").css('display', 'inline-block');
	});

	$("#Payee_Nick_Name").focusin(function() {
		$(".footer").css('display', 'none');
	}).focusout(function() {
		$(".footer").css('display', 'inline-block');
	});

	$("#RePayee_No").focusin(function() {
		$(".footer").css('display', 'none');
	}).focusout(function() {
		$(".footer").css('display', 'inline-block');
	});

	$("#Payee_IFSC").focusin(function() {
		$(".footer").css('display', 'none');
	}).focusout(function() {
		$(".footer").css('display', 'inline-block');
	});
</script>