<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
	
		<form name="rdthr02" id="rdthr02" method="post" data-bind='submit: rdthr02submit'>
		<div class="summblock">
		
		 
		  
		 <div class="info_row dark_header"> <span class="info_row_left clslineht">DTH Operator</span> 
		 <span class="info_row_right clslineht " id="Dlisttxt1">				
			   </span>
			<div class="clearfix"></div>
		  </div> 
		
		<div class="info_row odd"> <span class="info_row_left clslineht">Subscriber No</span> 
		<span class="info_row_right clslineht " id="dthsub1">			
			   </span>
			<div class="clearfix"></div>
		  </div>
		  
		  <div class="info_row even" style="display:none"> <span class="info_row_left clslineht">Mobile No.</span>
		  <span class="info_row_right clslineht " id="dthmob1">
				
			   </span>
			<div class="clearfix"></div>
		  </div>
		  
		  </div>
		  
		  <br/>
		  
		  
		  
		  <!-- <div class="info_row"><div class="info_row2">Terms and Conditions (Mandatory)</div>
		  <div class="info_row3">
				<select name="fldAcceptTerms" id="fldAcceptTerms" class="styled">
					<option value="true">Accept</option>
					<option value="false">Decline</option>
				</select>
			</div>
		  </div>-->
		
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>

		
		  
		 <div class="clearfix20"></div>
		   <div class="info_row">
		    <input type="submit" class="button" value="Confirm" >
		   </div>

           <input type="hidden" name="Dlist1" id="Dlist1" />
		</form>
</div>
</div>