<style>
	.info_row { display:table; width:100%; }
	.info_row_menu_left { min-height:30px; }
	.info_row_menu_right { min-height:30px;  }
	.info_row2 { padding-left:5px; }
	.linedivider { margin:0; }
	.info_row label { display:table-cell; vertical-align:middle; }
</style>
<div id="wrapper">
  <div class="content sub_content">
  
   		 <div class="topBox bgff5354">
			
			 <div class="rsaOOBErr" style="display:none;">
				
  			<p></p>
				
			 </div>
			
			<div class="success_msg" style="display:none;">
				<p>Recharge successful</p>	
			</div>
		</div>
	<div class="summblock" id="rechargesuccess">

		<div class="summblock listItems">
				<div class="info_row"> <span class="info_row_left">Bank Account</span> <span class="info_row_right f18 bankacctno"></span>
						<div class="clearfix"></div>
					</div>
				<div class="info_row"> <span class="info_row_left">Reference No.</span> <span class="info_row_right f18 referenceno"></span>
						<div class="clearfix"></div>
					</div>
			<div class="info_row"> <span class="info_row_left">DTH operator</span> <span class="info_row_right operator"></span>
						<div class="clearfix"></div>
					</div>
			<div class="info_row"> <span class="info_row_left">Subscriber Number</span> <span class="info_row_right subnumber"></span>
						<div class="clearfix"></div>
					</div>	
			<div class="info_row"> <span class="info_row_left">Amount</span><span class="info_row_right txnamnt" ></span>
						<div class="clearfix"></div>
					</div>	
			<div class="info_row"> <span class="info_row_left">Transaction Status</span> <span class="info_row_right txnStatus"></span>
						<div class="clearfix"></div>
					</div>
		</div>
	
	</div>
	
	<fieldset>
				<input type="submit" style="width: 236px;" value="Make Another Recharge" onclick="direction();" class="btn" id="confirm_button1"/>
				<div class="clearfix" style="height:10px;"></div>
	</fieldset> 
		
  </div>
</div>

<script>
	function direction(){
		window.location="#rrdth01";
	}
</script>


