<style>
	.info_row2, .info_row3  { padding-left:0; padding-right:0;}
	.info_row p { padding-left:10px; }
</style>
<section class="dynamic-page-content" id="contentData">
		
	<div id="wrapper">
				
	<div class="content sub_content">
		<form class="custStyleInput" name="frmrrpmb01" id="frmrrpmb01" method="post" data-bind='submit:rrpmb01Submit'>	  

		<div id="mobilerecharge">	  
			<div class="topBox">
				
				<fieldset class="bgff5354">
						<label class="selLbl">Select Bank Account</label>
				<!-- <select name="fldFromAcctNo" id="fldFromAcctNo" data-bind="options: accountListFt, optionsText: 'displaytxt', optionsValue: 'codacctno', value: fldFromAcctNo, optionsCaption: '-Select-'"></select> -->
				<select name="fldFromAcctNo" id="fldFromAcctNo" data-bind="options: accountListFt, optionsText: 'displaytxt', optionsValue: 'codacctno', value: fldFromAcctNo"></select>
				</fieldset>
				
				<fieldset class="bgff5354">
						<label class="selLbl">Mobile Operator</label>
				<select name="fldoperator" id="fldoperator" data-bind="options: mobileList, optionsText: 'displaytxt', optionsValue: 'values', optionsCaption: '-Select-'"></select>
				</fieldset>
				
				<fieldset class="bgff6869">
					<label>Enter Mobile Number</label>
					<!-- <input type="tel" id="fldmobno" name="fldmobno" value="" size="10" minlength="10" maxlength="10" class="rs_fld" onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);"/> -->
					<input type="number" id="fldmobno" name="fldmobno" class="rs_fld"/>
				</fieldset>
				
				<fieldset class="bgff6869">
						<label>Amount</label>
						<input type="tel" id="fldAmtTxn" name="fldAmtTxn" value="" size="10" class="rs_fld" onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);"/>
						
				</fieldset>
					
			</div>
			<fieldset>
				<input type="submit" value="Proceed" class="btn" id="confirm_button1"/>
				<div class="clearfix" style="height:10px;"></div>
			</fieldset> 
			
				 
			  <!-- /content --> 
		</div>
        </form>			
	</div>
		</div>
		</section>

<script type="text/javascript">

$("#fldmobno").keyup(function() {
		$("#fldmobno").val(this.value.match(/[0-9]*/)); 
		var count = $("#fldmobno").val().length;
		if (count > 10) {
			$("#fldmobno").val(this.value.match(/[0-9]{10}/));
		} 
});

$.validator.addMethod("gama", function(value, element) {
		var p2cbene_mobilenoEntered = $('#fldmobno').val();
		if (p2cbene_mobilenoEntered.length<10){
			return false;
		}else{
			return true;
		}
	}, "Enter Correct Mobile number");

$("#frmrrpmb01").validate({
	rules: {
		fldFromAcctNo: "required",
		fldoperator: {
                required: true            
        },
		fldAmtTxn: {
                required: true,
                min: 10                
        },
		fldmobno: {
                required: true,
                gama:true
        }
		
	},
	messages: {
		fldFromAcctNo: "Select Bank Account",
		fldoperator:{
			required : "Select Mobile Operator",
		},
		fldAmtTxn: {
                required: "Enter Amount",
                min: "Amount should be greater than 10"                
        },
		fldmobno: {
                required: "Enter Mobile Number",
                gama:"Enter Correct Mobile number"
        }
	}
});

</script>	