<div id="wrapper" style="top:96px;">
  				<div class="content ">
		<form name="rruab01" id="rruab01" method="post" data-bind='submit:rruab01submit'>
					<div class="info_row rchgMenu"> 
						
							<div><label>Select Biller Category</label></div>
							<div class="dispTable">
						<select name="Blist" id="Blist" data-bind="options: mobileBillerList, optionsText: 'displaytxt', optionsValue: 'mobvalue', value: preplist, optionsCaption: '-Select-'">
						  <option>Mobile/Telephone</option>
						</select>
							</div>
					  
					</div>
					<div class="clearfix"></div>
					<div class="linedivider"></div>
					
							
					<div class="info_row rchgMenu"> 
						
							<div><label>Select Phone Operator</label></div>
							<div class="dispTable">
						<select name="Blist" id="Blist" data-bind="options: mobileBillerList, optionsText: 'displaytxt', optionsValue: 'mobvalue', value: preplist, optionsCaption: '-Select-'">
						<option>Vodafone</option>
						</select>
							</div>
					  
					</div>
					
					<div class="clearfix"></div>
					<div class="linedivider"></div>
						<div class="info_row rchgMenu"> 
						
							<div><label>Select Biller</label></div>
							<div class="dispTable">
						<select name="Blist" id="Blist" data-bind="options: mobileBillerList, optionsText: 'displaytxt', optionsValue: 'mobvalue', value: preplist, optionsCaption: '-Select-'">
						  <option>Vodafone</option>
						</select>
							</div>
					  
					</div>
					<div class="clearfix"></div>
					<div class="linedivider"></div>
			
					
					
					<div class="clearfix20"></div>
					<div >
						<input type="submit" class="button" value="Submit" />
					</div>
		</form>
                    <div class="info_row">
		<b>Note:</b>
		<br/><br/>
		<p>- For the billers added above,expierence our enhanced BillPay service through MobileBanking</p>
		


			<div class="clearfix"></div>

			<div class="clearfix"></div>
		 </div>
				</div>
			</div>
	<script>
	
	
	
	
	</script>				