<style>
	.info_row2, .info_row3  { padding-left:0; padding-right:0;}
	.info_row p { padding-left:10px; }
</style>
<link href="css/mobiscroll-2.0.custom.min.css" rel="stylesheet" type="text/css" />
<script src="js/libs/mobiscroll-2.0.custom.min.js" type="text/javascript"></script>

<div id="wrapper" style="top:96px; padding-bottom:110px;">
  <div class="content sub_content">

  
  <form class="custStyleInput" name="frmsin01" id="frmsin01" method="post">

   <div class="clearfix"></div>
      <div class="linedivider"></div>   
      <div class="clearfix"></div>
	<div class="info_row"><div class="info_row2">Select Biller</div> 
		<div class="info_row3">
			<select name="fldAcctNo" id="fldAcctNo" data-bind="options: accountList, optionsText: 'displaytxt', optionsValue: 'codacctno', value: selAccount">
			<option>All</option>
			
		    </select>	
		</div>
	</div>

	  <div class="clearfix"></div>
      <div class="linedivider"></div>   
      <div class="clearfix"></div>
	  <br/>
	
	  
    <div class="info_row" style="-webkit-tap-highlight-color: rgba(0,0,0,0);"> <div class="info_row2">From Date (dd/mm/yyyy)</div> 
	<div class="info_row3">
        <div class="width100per" style="padding-right:40px; position:relative;"><input type="text"  readonly="readonly"  name="fldFromDate" id="fldFromDate" />
        <div  id="show_date"><img src="img/index.png"  /></div></div>		
     </div>
	 </div>
	 
	  <div class="clearfix"></div>
      <div class="linedivider"></div>   
      <div class="clearfix"></div>
    
     <div class="info_row" style="-webkit-tap-highlight-color: rgba(0,0,0,0);"><div class="info_row2">To Date (dd/mm/yyyy)</div> 
	<div class="info_row3">
        <div class="width100per" style="padding-right:40px; position:relative;"><input type="text" name="fldToDate" readonly="readonly" id="fldToDate" />
        <div  id="show_date1"><img src="img/index.png"  /></div></div>
     </div>
     <div class="clearfix"></div>
     </div>

    <br/>
  	
   <div class="clearfix20"></div>
   <div class="info_row">
    <input type="submit" class="button" value="Submit" >
   </div>
 
   
  
   </form>

  </div>
</div>

<script type="text/javascript">


$(function(){
		var now = new Date();
	    $('#fldFromDate,#fldToDate').scroller({
	        preset: 'date',
	        theme: 'sense-ui',
	        display: 'modal',
	        mode: 'scroller',
	        dateOrder: 'ddMYYYY',
			endYear: now.getFullYear() + 10
	    });

$('#show_date1').click(function(){
  $('#fldToDate').scroller('show'); 
  return false;
});

$('#show_date').click(function(){
  $('#fldFromDate').scroller('show'); 
  return false;
});


$('#clear').click(function () {
  $('#fldFromDate').val('');
  return false;
});
});

$("#frmsin01").validate({
	focusInvalid: false,
	rules: {
		fldAcctNo: "required",									
	},
	messages: {
		fldAcctNo: "Select From Account",											
	}
});
</script>
