<style>
	.info_row { display:table; width:100%; }
	.summblock { margin:0 5px !important; }
</style>
<script src="js/common.js"></script>
<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
      
	  
	  
	  
	
			
	 <div class="summblock">
			  
			 <div class="info_row  dark_header"><span class="info_row_left">Biller Name</span> 
			 <span class="info_row_right">Vodafone Mumbai</span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd"><span class="info_row_left">Biller Type</span> 
			<span class="info_row_right clslineht" style="word-wrap: break-word;">Payment only</span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row even"><span class="info_row_left">Biller Short Name</span> 
			<span class="info_row_right clslineht"  style="word-wrap: break-word;" >Voda1</span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd"><span class="info_row_left">Name</span> 
				<span class="info_row_right clslineht" >Satish</span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row even"><span class="info_row_left">Address line 1</span> 
			<span class="info_row_right clslineht">Bandra West</span>
			  	<div class="clearfix"></div>
			</div>	
			 
			<div class="info_row odd"><span class="info_row_left">Address line 2</span> 
				<span class="info_row_right clslineht" >Mumbai</span>
				<div class="clearfix"></div>
			</div>	
            
            <div class="info_row even"><span class="info_row_left">Contribution Scheme</span> 
			<span class="info_row_right clslineht">Education</span>
			  	<div class="clearfix"></div>
			</div>
            
            <div class="info_row odd"><span class="info_row_left">Resgistration Date</span> 
				<span class="info_row_right clslineht" >15/02/2013</span>
				<div class="clearfix"></div>
			</div>
            <div class="info_row even"><span class="info_row_left">Failed Date</span> 
			<span class="info_row_right clslineht">15/02/2013</span>
			  	<div class="clearfix"></div>
			</div>
            
            <div class="info_row odd"><span class="info_row_left">Failed Reason</span> 
				<span class="info_row_right clslineht" >You are not authrazied to do this transaction</span>
				<div class="clearfix"></div>
			</div>				
		</div>
		  
	  
      <div class="clearfix"></div>
  </div>
  <!-- /content --> 
  
</div>