<div id="wrapper" style="top:96px;">
  				<div class="content ">
		<form name="rrmr01" id="rrmr01" method="post" data-bind='submit: rrmr01submit'>
				
						<div class="info_row rchgMenu"> 
						
							<div><label>Select Biller Name</label></div>
							<div class="dispTable">
						<select name="Blist" id="Blist" data-bind="options: mobileBillerList, optionsText: 'displaytxt', optionsValue: 'mobvalue', value: preplist, optionsCaption: '-Select-'">
						  <option>Vodafone Mumbai</option>
						</select>
							</div>
					  
					</div>
					<div class="clearfix"></div>
					<div class="linedivider"></div>
					
					<div class="clearfix20"></div>
					<div class="center_div">
						<input type="submit" class="button" value="Submit" />
					</div>
					</form>
               
				</div>
			</div>
	<script>
	
	
	
	
	</script>				