<style>
	.info_row { display:table; width:100%; }
	.summblock { margin:0 5px !important; }
</style>
<script src="js/common.js"></script>
<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
      
	  
	  
	  
	<div class="success_msg">
			<p>Your Biller has been successfully deleted</p>	
		</div>
			
	 <div class="summblock">
			  
			 <div class="info_row  dark_header"><span class="info_row_left">Biller Name</span> 
			 <span class="info_row_right">Vodafone Mumbai</span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd"><span class="info_row_left">Biller Type</span> 
			<span class="info_row_right clslineht" style="word-wrap: break-word;">Payment only</span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row even"><span class="info_row_left">Biller Short Name</span> 
			<span class="info_row_right clslineht"  style="word-wrap: break-word;" >Voda1</span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd"><span class="info_row_left">Phone Number</span> 
				<span class="info_row_right clslineht" >7597369531</span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row even"><span class="info_row_left">Account No.</span> 
			<span class="info_row_right clslineht">121200001234578</span>
			  	<div class="clearfix"></div>
			</div>	
			 
				
            
            <div class="info_row odd"><span class="info_row_left">Resgistration Date</span> 
			<span class="info_row_right clslineht">15/02/2013</span>
			  	<div class="clearfix"></div>
			</div>
          			
		</div>
		       
      
      <div class="clearfix"></div>
  </div>
  <!-- /content --> 
  
</div>