<script type="text/javascript" src="js/common.js"></script>
<style>

/* .aadhar_response{
	margin:15px 15px 15px 15px;
	width:80%;
	 padding:80px 30px 80px 30px; 
	background-color:#fff;  
	text-align:center;
	font-size:14px;
	line-height:17px;
	-webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black; 
   
} */

	.error{
		width: 94%;
    	float: left;
    	border-color:#193080 !important;
    	
    }
	div.container {
		display: none;
	    padding-left: 5px;
    	overflow: hidden;
   		padding-bottom: 10px;
	}
	
 label.error{
 	color:#193080 !important;
 }
 
 .row_aadhar:nth-child(odd) {
   background-color: #E8E8E8;   
}

 .row_aadhar:nth-child(even) {
   background-color: #F2F2F2;
}

</style>
<section class="dynamic-page-content" id="contentData">
		
		<div id="wrapper">
			<div class="listRow">	
			  <div class="content sub_content">
			  	<div class="topBox">
				<!-- Step 1 Check aadhar id -->
				<form name="frm_aadharCheck" id="frm_aadharCheck" method="post" data-bind='submit: aadharCheckSubmit'>
					<div id="tptCont" class="topBox" style="display: block;">	
						<fieldset  class="bgff5354 fielderror" ><!-- style="background-color:#fff;" -->
							<label class="selLbl">Account Number</label> 
							<div id="aadharlist"><!-- <select	name="fldAcctNo" id="fldAcctNo" 
								data-bind="options: AadharViewList optionsText: 'AadharAccountId1', optionsValue: 'AadharAccountId1',optionsCaption: '-Select-'">
							
							</select> --></div><!-- class="blue-text" options: accountList, optionsText: 'displaytxt', optionsValue: 'codacctno', value: selAccount,  -->
						</fieldset>
						
						<div class="bgded4d4">	
							<div class="clearfix"></div>
							<fieldset>
								<input type="submit" value="Submit" class="btn">
							</fieldset>
							<div class="clearfix" style="height: 30px;"> </div>
						</div>
						
					</div>
				</form>
				
				<!-- **** -->
				
				 <form name="frm_aadharUpdate" id="frm_aadharUpdate" method="post" data-bind='submit: aadharUpdateSubmit'>
					<div class="info_row" id="accExitsMsg" style="display: none;">
						<p>You do not have active account with the bank.</p>
					</div>		
					<div id="tptCont1" class="topBox wrap_aadhar" style="display: none;">
						<fieldset class=" row_aadhar"><!-- bgff6869  -->
							 <label class="info_row_left black-text" style="padding-left:6px;" >Account Number</label>
							 <label style="padding:10px;" id="lblaccount" class="info_row_right black-text"></label> 
							<!-- <div class="info_row"> <span class="info_row_left">Account Number</span> <span class="info_row_right f18" data-bind="text: codacctno" id="lblaccount" ></span> -->
						<div class="clearfix"></div>
						</fieldset>
						<fieldset class=" fielderror row_aadhar" id="div123"><!-- bgff6869 -->
							<label class="black-text">Enter Your Aadhaar Number</label>
							<input type="number" name="aadharId" id="aadharId"  />  <!-- maxlength="12" minlength="12" -->
						</fieldset>			
						<fieldset class=" fielderror row_aadhar"><!-- bgff6869 -->
							<label class="black-text">Reconfirm Aadhaar Number </label>
							<input type="number" name="confirmaadharId" id="confirmaadharId" style="-webkit-text-security: disc;"  /> <!-- minlength="12" maxlength="12"  -->
						</fieldset>		
								
						<div class="bgded4d4 ">	
							<div class="clearfix"></div>
							<div class="container bgff6869">			
							</div>
							<fieldset>
								<input type="hidden" name="acctHolderName" id="acctHolderName" value=""  />	
								<input type="submit" value="Submit" class="btn">
							</fieldset>
							<div class="clearfix" style="height: 50px;"></div>

						</div>
						<div   style="bottom:0;margin-bottom:0;position:absolute;font-size:13px;padding-left:8px;">
							Aadhaar card number updated in the Savings Bank Account will be shared with relevant authorities for receiving Direct Benefit Transfer credits.
						</div>
					</div>
										
	  			   <!--  <div class="termsAndCon f15"><a id='listBG' onclick="openLink('http://www.rblbank.com/terms-mobile-banking-service.html')">Terms and Conditions</a></div> -->
				</form>  
				
				<!-- Div for already linked -> -->
					<div id="tptCont2" class="topBox wrap_aadhar" style="display: none;">
						  <fieldset class=" row_aadhar" style="padding-top:18px;padding-bottom:4px;">
								 <label class="info_row_left black-text" style="padding-left:4px;" >Account Number</label>
								 <label  id="lblaccount1" class="info_row_right blue-text" style="font-size:16px;font-weight:bolder;padding:10px;"></label> 		
								<div class="clearfix"></div>
						</fieldset> 
						<fieldset class=" row_aadhar" style="padding-top:18px;padding-bottom:5px;">
								 <label class="info_row_left black-text" style="padding-left:5px;" >Aadhaar Card Number</label>
								 <label id="lblaccount2" class="info_row_right blue-text"  style="font-weight:bolder;font-size:16px;padding:10px;"></label> 		
								<div class="clearfix"></div> 
								<!-- <div id="lblaccount2" class="aadhar_response blue-text" >
								</div> -->
						</fieldset>  
						<!-- <div id="lblaccount2" class="aadhar_response blue-text" >
						</div> -->
						
						
					</div>	
				<!-- **** -->
				
				<div  id="response" style="display:none;">
			
			</div>	
			</div>
						
			  <!-- /content --> 			  
		</div>
	</div>
	
</section>

<div id="dialogoverlay"></div>

<script type="text/javascript">

$.validator.addMethod("gama", function(value, element) {
		var aadharCount = $('#aadharId').val();
		if (aadharCount.length<12){
			return false;
		}else{
			return true;
		}
	}, "Please enter at least 12 digits");
	
	
	$.validator.addMethod("beta", function(value, element) {
		var aadharCount = $('#confirmaadharId').val();
		if (aadharCount.length<12){
			return false;
		}else{
			return true;
		}
	}, "Please enter at least 12 digits");

 $.validator.addMethod("alpha", function(value, element) {
				aadhar = $('#aadharId').val();
				test = vhCheck(aadhar);
				return test;
			}, "Invalid Aadhaar Number");
			
			 
function vhCheck(aadhar)
{
			var strVal = aadhar;
			 if (strVal.length < 12) // Minimum length.
				return false; 
			return strVal.verhoeffCheck();
};
////
$("#frm_aadharUpdate").validate({
  rules : {
   aadharId : {
    required : true,
    alpha: true,
     gama: true,
   },
   confirmaadharId : {
    required : true,
    beta: true,
    equalTo: "#aadharId",
    alpha : "Invalid Aadhaar Number"
   },
 
  },
  messages : {
   aadharId : {
    required : "Enter Aadhaar Number",
     gama: "Please enter at least 12 digits",
   },
   confirmaadharId : {
    required : "Re-enter Aadhaar Number",
    beta: "Please enter at least 12 digits",
   },

  }

 });
 
	$("#frm_aadharCheck").validate({
			/* focusInvalid: false, */
			rules : {
				fldAcctNo : {
					required : true,
				}

			},
			messages : {
				fldAcctNo : {
					required : "Select Account",
				}

			}
	});

$("#aadharId").keyup(function() {
	$("#aadharId").val(this.value.match(/[0-9]*/));
	var count=$("#aadharId").val().length;
	if(count>12){
   		//$("#aadharId").val(this.value.match(/[0-9]{12}/));
   		$("#aadharId").val(this.value.match(/.{1,12}/));

    }
});

$("#confirmaadharId").keyup(function() {
 $("#confirmaadharId").val(this.value.match(/[0-9]*/));
var count=$("#confirmaadharId").val().length;
if(count>12){
   //$("#confirmaadharId").val(this.value.match(/[0-9]{12}/));
   
   $("#confirmaadharId").val(this.value.match(/.{1,12}/));
    }
});
</script>
