<script type="text/javascript" src="js/common.js"></script>
<style>
.aadhar_response{
	padding:70px 30px 70px 30px;
	background-color:#fff;
	text-align:center;
	font-size:16px;
	line-height:17px;
}

</style>
<section class="dynamic-page-content" id="contentData">
		
		<div id="wrapper">
			<div class="listRow">	
			  <div class="content sub_content">
			  	<div class="topBox">			
					<div id="response" class="aadhar_response" >
							
							
					</div>	
					<br>
					<input type="button" value="Done" class="btn" onclick="return onAdharBack();">
				</div>
						
			  <!-- /content --> 			  
		</div>
	</div>
	
</section>

