<style>
	.info_row { display:table; width:100%; }
	.summblock { margin:0 5px !important; }
	#table1, #table {width: 100%;}
	#table { padding:0 10px; }
	#table1 td {
	text-align: left;
	vertical-align: top;
	padding-left: 0px;
	}
</style>
<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
  
  <div class="info_row" id="accExitsMsg" style="padding-top:5px;display:none;">
    <p>You do not have any transactions for the selected period</p>
    <br>
  </div>
  <div class="info_row" id="flgwarningMsg" style="display:none;"><p></p><div class="clearfix"></div></div>
  
  
   <div class="info_row odd">
    <span class="info_row_left page_block_sub" style="padding-left:10px;" id="acctType">SAVING</span><span class="info_row_right clslineht"></span><div class="clearfix"></div>
    </div>
	<table id="table" cellpadding="0" cellspacing="0" >
	<tr>
		<td>		
		<div class="info_row" style="color:#7f7f7f"><div class="info_row2">Account Number</div> 
			<div class="info_row3">
			  <select name="fldAcctNo" id="fldAcctNo" data-bind="options: accountList, optionsText: 'displaytxt', optionsValue: 'codacctno', value: selAccount, event: {change:showSelectedAccount}">
				
			  </select>	
			</div>
		</div>		
		</td>
		</tr>
	</table>
	
	<table id="table1" align="center" cellpadding="5" cellspacing="0">
	<tr>
		<td>
			<div class="panel_new">
			<span class="rotating-item swipe" >
			<div class="info_row4 alignc" style="margin:10px 0 0 0;font-size:11pt;color:#fff">Current Balance</div>
			
			<div style="height: 2px;margin: 0px 0 0 8px;padding: 0 10px;width: 87%;">
				<div style=" float:left;height: 2px;width: 20%;background-color:#ed1c24;">
				</div>
				<div style=" float:left;height: 2px;width: 80%;background-color:#004a8f;">
				</div>
			</div>
			
			<div class="info_row4 page_block_sub alignc" style="margin:8px 0 0 0;" data-bind="text: curraccbalval"></div>
			</span>     
			</div>
		</td>
	</tr>
	</table>
	
     <!-- ko if: accountStmtTxns().length > 0 --> 			
   <div data-bind="foreach: accountStmtTxns">
   
   <div class="summblock"  style="margin-left:3px;margin-right:7px;">
      
       <div class="info_row even dark_header"> 
    		<span class="info_row_left">Date</span> 
    		<span class="info_row_right" data-bind="text: dattxn"></span>
        	<div class="clearfix"></div>
      </div>      
      
      <div class="info_row odd"> 
    		<span class="info_row_left" data-bind="text: amtLbl"></span> 
    		<span class="info_row_right page_title_sub" style="word-wrap: break-word;width:48%" data-bind="text: amttxn"></span>
        	<div class="clearfix"></div>
      </div>
           
      <div class="info_row even"> 
    		<span class="info_row_left">Cheque/Ref No.</span> 
    		<span class="info_row_right" data-bind="text: refchqno"></span>
        	<div class="clearfix"></div>
      </div>
      
      <div class="info_row odd"> 
    		<span class="info_row_left">Narration</span> 
    		<span class="info_row_right clslineht" data-bind="text: txttxndesc"></span>
        	<div class="clearfix"></div>
      </div>
      
      <div class="info_row even"> 
    		<span class="info_row_left">Value Date</span> 
    		<span class="info_row_right" data-bind="text: datvalue"></span>
        	<div class="clearfix"></div>
      </div>
      
     
      <div class="info_row odd"> 
    		<span class="info_row_left">Closing Balance</span> 
    		<span class="info_row_right" data-bind="text: balaftertxn"></span>
        	<div class="clearfix"></div>
      </div>      
      
      </div>
   <br/>
   </div>
  
<!-- /ko -->
  </div>
</div>
<script>
/*$(document).on('change','#fldAcctNo',function(e){
alert("call acc");
	accmodel.showSelectedAccount();
});*/
</script>
