<style>
	.info_row { display:table; width:100%; }
	.linedivider { border:0 none; }
</style>

<div id="wrapper" style="top:100px;">
  <div class="content sub_content">
      		<div class="info_row odd dark_header">
				<span class="info_row_left page_title_carousel">Transact</span>
				<span class="info_row_right"></span>
				<div class="clearfix"></div>
			</div>
			<br/>

			<a href="#rrift01">
			<div class="info_row odd">
				<span class="info_row_menu_left"><img src="img/transfer_btwnmyacc.png" /></span> 
				<span class="info_row_menu_right page_title_carousel">Using MMID</span>
				<span class="right_arrow"><img src="img/rarrow.png" /></span>
			</div>
			</a>
			
			<div class="clearfix"></div>
			<div class="linedivider"></div>   
			<div class="clearfix"></div>
			
			<a href="#rrp2a01">
			<div class="info_row odd">
				<span class="info_row_menu_left"><img src="img/transfer_withinbank.png" /></span> 
				<span class="info_row_menu_right page_title_carousel">Using IFSC Code & A/c No.</span>
				<span class="right_arrow"><img src="img/rarrow.png" /></span>
			</div>
			</a>
			
			<div class="clearfix"></div>
			<div class="linedivider"></div>   
			<div class="clearfix"></div>
			
			
			
			<div class="clearfix"></div>
  </div>
  <!-- /content --> 
  
</div>