<style>
	.info_row { display:table; width:100%; }
	.info_row_menu_left { min-height:30px; }
	.info_row_menu_right { min-height:30px;  }
	.info_row2 { padding-left:5px; }
	.linedivider { margin:0; }
	.info_row label { display:table-cell; vertical-align:middle; }
	.summblock { margin:0 5px !important; }
</style>

<div id="wrapper" style="top:96px; padding-bottom:110px;">
  <div class="content sub_content">
  		
  		<div class="success_msg">
			<p>Transaction successful</p>
		</div>
  
  		<div class="summblock">
  		
  			<div class="info_row odd dark_header"><span class="info_row_left">Reference No.</span> 
  			<span class="info_row_right" id="codtxnrefno"></span>
				<div class="clearfix"></div>
			</div> 
			
			<div class="info_row odd"><span class="info_row_left">Account Detail</span> 
			<span class="info_row_right clslineht" id="fldAcctDetail"></span>
			<div class="clearfix"></div>
			</div>			

			
			<div class="info_row even"><span class="info_row_left">From Date</span> 
			<span class="info_row_right" id="fldfromdate"></span>
			<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd"><span class="info_row_left">To Date</span> 
			<span class="info_row_right" id="fldtodate"></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row even"><span class="info_row_left">Contact Details</span> 
			<span class="info_row_right clslineht"> 
			</span>
			<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd"><span class="info_row_left">Address</span> 
			<span class="info_row_right clslineht" id="fldaddr1"></span>
			<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd"><span class="info_row_left"></span> 
			<span class="info_row_right clslineht" id="fldaddr2"></span>
				<div class="clearfix" ></div>
			</div>
			
			<div class="info_row odd"><span class="info_row_left"></span> 
			<span class="info_row_right clslineht" id="fldaddr3"></span>
			<div class="clearfix"></div>
			</div>
			
			<div class="info_row even"><span class="info_row_left">City</span> 
			<span class="info_row_right" id="fldcustcity"></span>
			<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd"><span class="info_row_left">State</span> 
			<span class="info_row_right" id="fldcuststate"></span>
			<div class="clearfix"></div>
			</div>
			
			<div class="info_row even"><span class="info_row_left">Zip</span> 
			<span class="info_row_right" id="fldzip"></span>
				<div class="clearfix"></div>
			</div>
			</div>
			
				<div class="clearfix"></div>
			  <div class="linedivider"></div>   
			  <div class="clearfix"></div>

			</div>
						
			
	
  </div>
</div>

