<style>
	
</style>

<section class="dynamic-page-content" id="contentData">
<link href="css/mobiscroll-2.0.custom.min.css" rel="stylesheet" type="text/css" />
<script src="js/libs/mobiscroll-2.0.custom.min.js" type="text/javascript"></script>
	<div id="wrapper">
		<div class="content sub_content">
			<div class="topBox bgff5354">
				<div class="rsaOOBErr" style="display:none;">
					<p></p>
				</div>

		        <div class="success_msg" style="display:none;">
			      <p>Transaction successful</p>
		      </div>
		   </div>
		
			<div class="summblock listItems">
				
				   <div class="info_row" style="display:none;"> <span class="info_row_left">Reference No.</span> <span class="info_row_right f18" id="codtxnrefno"></span>
						<div class="clearfix"></div>
					</div>

					<div class="info_row"> <span class="info_row_left">For Account No.</span> <span class="info_row_right f18" id="fldAcctDetail"></span>	
						<div class="clearfix"></div>
					</div>
					
					
					<div class="info_row" style="display:none;"> <span class="info_row_left">From Date</span> <span class="info_row_right f18" id="fldfromdate"></span>	
						<div class="clearfix"></div>
					</div>
				
					
					<div class="info_row" style="display:none;"> <span class="info_row_left">To Date</span> <span class="info_row_right f18" id="fldtodate"></span>	
						<div class="clearfix"></div>
					</div>
					
				<div class="info_row" style="display:none;"> <span class="info_row_left">Contact Details</span> <span class="info_row_right f18" ></span>	
						<div class="clearfix"></div>
					</div>	
					
					<div class="info_row"> <span class="info_row_left">Address</span> <span class="info_row_right f18" id="fldaddr1"></span>
						<div class="clearfix"></div>
					
					<div><span class="info_row_left"></span> <span class="info_row_right" id="fldaddr2""></span>
						<div class="clearfix"></div>
					</div>
					<div><span class="info_row_left"></span> <span class="info_row_right" id="fldaddr3" ></span>
						<div class="clearfix"></div>
					</div>
				  <div class="info_row"> <span class="info_row_left">City</span> <span class="info_row_right" id="fldcustcity" ></span>
						<div class="clearfix"></div>
					</div>
					
				<div class="info_row"> <span class="info_row_left">State</span> <span class="info_row_right" id="fldcuststate" ></span>
						<div class="clearfix"></div>
					</div>	
					
				<div class="info_row"> <span class="info_row_left">Zip</span> <span class="info_row_right" id="fldzip" ></span>
						<div class="clearfix"></div>
				</div>	
			</div>
		</div>

	</div>
</section>


