<style>
	.info_row { display:table; width:100%; }
	.linedivider { border:0 none; }
</style>

<div id="wrapper" >
  <div class="content sub_content">
  
    <!-- This code is added to add two button for beneficery -->
  			<div class="keyboard-foot" align="center">
			 <a id="keyboard-txt"
				href="#Payee_Home"><input type="button" value="Add Payee"
					class="payee-btn addPayee-btn" /></a>
			  <a id="keyboard-txt"
				href="#ModifyPayee_Home"><input type="button" value="Modify/Delete Payee"
					class="payee-btn deletePayee-btn" /></a>
			
			</div>
			
		<div class="info_row subTitle dark_header"> <span>Transact</span></div>
			
		<div class="listRow">
			<a href="#rrftr02">
			<div class="info_row odd">
				<span class="info_row_menu_left"><img src="img/transfer_btwnmyacc.png" /></span> 
				<span class="info_row_menu_right page_title_carousel">Own Accounts Fund Transfer</span>
				<span class="right_arrow"><img src="img/rarrow.png" /></span>
			</div>
			</a>
			
			<div class="clearfix"></div>
			<div class="linedivider"></div>   
			<div class="clearfix"></div>
			
			<a href="#rrtpt03">
			<div class="info_row even">
				<span class="info_row_menu_left"><img src="img/transfer_withinbank.png" /></span> 
				<span class="info_row_menu_right page_title_carousel">Within RBL Bank</span>
				<span class="right_arrow"><img src="img/rarrow.png" /></span>
			</div>
			</a>
			
			<div class="clearfix"></div>
			<div class="linedivider"></div>   
			<div class="clearfix"></div>
			
			<a href="#rrp2a01">
			<div class="info_row odd">
				<span class="info_row_menu_left"><img src="img/IMPS.png" /></span> 
				<span class="info_row_menu_right page_title_carousel">Third Party Fund Transfer – IMPS</span>
				<span class="right_arrow"><img src="img/rarrow.png" /></span>
			</div>
			</a>
			
			<div class="clearfix"></div>
			<div class="linedivider"></div>   
			<div class="clearfix"></div>
			
			
			<a href="#rrtpn04">
			<div class="info_row even">
				<span class="info_row_menu_left"><img src="img/NEFT.png" /></span> 
				<span class="info_row_menu_right page_title_carousel">Third Party Fund Transfer – NEFT</span>
				<span class="right_arrow"><img src="img/rarrow.png" /></span>
			</div>
			</a>
			
			<div class="clearfix"></div>
			<div class="linedivider"></div>   
			<div class="clearfix"></div>
			
			<a href="#rrrtg04">
			<div class="info_row odd">
				<span class="info_row_menu_left"><img src="img/RTGS_fund_transfer.png" /></span> 
				<span class="info_row_menu_right page_title_carousel">Third Party Fund Transfer – RTGS</span>
				<span class="right_arrow"><img src="img/rarrow.png" /></span>
			</div>
			</a>
			
			 <div class="clearfix"></div>
			<div class="linedivider"></div>   
			<div class="clearfix"></div>
			
			
		 	<a href="#P2C_Details">
			<div class="info_row even">
				<span class="info_row_menu_left"><img src="img/p2c_icon.png" /></span> 
				<span class="info_row_menu_right page_title_carousel">Pay 2 Contact - P2C 
					<!-- &nbsp;&nbsp;&nbsp;&nbsp;
					<span id="spanimg"><img id="newimg" src="img/p2c_new.png"></img></span> -->
				</span>
				<span class="right_arrow"><img src="img/rarrow.png" /></span>
			</div>
			</a>  

		</div>
			
        <div class="info_row subTitle dark_header"> <span>Enquiry</span></div>
			<div class="listRow">
			<a href="#rrtpv01">
			<div class="info_row odd">
				<span class="info_row_menu_left"><img src="img/neft-fund-transfer_view.png" /></span> 
				<span class="info_row_menu_right page_title_carousel </span>">View NEFT Funds Transfer</span>
				<span class="right_arrow"><img src="img/rarrow.png" /></span>
			</div>
			</a>
			
			<div class="clearfix"></div>
  	 		<div class="linedivider"></div>   
			<div class="clearfix"></div>
			
		
			<a href="#P2C_History">
			<div class="info_row even">
				<span class="info_row_menu_left"><img src="img/p2c_history.png" /></span> 
				<span class="info_row_menu_right page_title_carousel">P2C Transaction History 
					<!-- &nbsp;&nbsp;
					<span id="spanimgHistory"><img id="newimgHistory" src="img/p2c_new.png"></img></span> -->
				</span>
				<span class="right_arrow"><img src="img/rarrow.png" /></span>
			</div>
			</a>    
			
		
			
			</div>
  </div>
  <!-- /content --> 
  
  
  
</div>



   <script>
/* $(document).ready(function(){ 

var statuscheck = localStorage.getItem("status");
    if(statuscheck=='olduser'){	
    	$("#spanimg").css('display','none');
    }
    else{
    	$("#spanimg").css('display','inline-block');
    }
    
var statuscheckHistory = localStorage.getItem("statusHistory");
    if(statuscheckHistory=='olduser'){	
    	$("#spanimgHistory").css('display','none');
    }
    else{
    	$("#spanimgHistory").css('display','inline-block');
    }
    
}); */
    </script>