<style>
	
</style>
<section class="dynamic-page-content" id="contentData">
<div id="wrapper">
  <div class="content sub_content">
  <form class="custStyleInput" name="frmReqAccStmtConf" id="frmReqAccStmtConf" method="post" data-bind='submit: rrsch02Submit'>
  		<div class="topBox bgff5354">
  		<div class="rsaOOBErr" style="display:none;">
				<p></p>
				
			</div>
			<div class="success_msg" style="display:none;">
				<p>Transaction successful</p>	
			</div>
		</div>
  		<div class="summblock" >

				<div class="summblock listItems">
					<div class="info_row"> <span class="info_row_left">Account Number</span> <span class="info_row_right f18" id="fldacctno"></span>
						<div class="clearfix"></div>
					</div>
					<div class="info_row" style="display:none;"> <span class="info_row_left">Reference No</span> <span class="info_row_right f18" id="codtxnrefno" ></span>
						<div class="clearfix"></div>
					</div>
					<div class="info_row"> <span class="info_row_left">Cheque No.</span> <span class="info_row_right startchqno" ></span>
						<div class="clearfix"></div>
					</div>
					<div class="info_row" style="display:none;"> <span class="info_row_left">End Cheque No.</span> <span class="info_row_right endchqno" ></span>
						<div class="clearfix"></div>
					</div>
					<div class="info_row"> <span class="info_row_left">Reason</span> <span class="info_row_right chqreason" ></span>
						<div class="clearfix"></div>
					</div>
					
				</div>
				
				
		</div>
  </form>
  </div>
</div>


</section>

