<style>

</style>
<section class="dynamic-page-content" id="contentData">
<div id="wrapper">
	<div class="content sub_content">
		<div class="info_row" id="accExitsMsg" style="padding-top:5px;display:none;">
          <p>You do not have any transactions for the selected Account</p>
          <br>
        </div>
	  <div class="info_row" id="flgwarningMsg" style="display:none;"><p></p><div class="clearfix"></div></div>
	  <!-- ko if: accountStmtTxns().length > 0 -->
	<!-- <div class="summblock listItems"> -->
	<div class="summblock">
					<div class="info_row" style="display:none;"> <span class="info_row_left">Account Number</span> <span class="info_row_right f18" id="divaccno" ></span>
						<div class="clearfix"></div>
					</div>
					<div class="info_row odd"> <span class="info_row_left" id="acctypeLabel"></span> <span class="info_row_right f18" id="savingAccno"></span>
						<div class="clearfix"></div>
					</div>
					 <!--<div class="info_row"> <span class="info_row_left">Period</span> <span class="info_row_right" id="accPeriod"></span>
						<div class="clearfix"></div>
					</div>-->
					<div class="info_row even"> <span class="info_row_left" id="closingbalLabel">Currency</span> <span class="info_row_right" id="closingbalval" ></span>
						<div class="clearfix"></div>
					</div>
	</div>
	       	
	<div data-bind="foreach: accountStmtTxns">
		
	
			<!-- <div class="summblock listItems"> -->
			<div class="summblock">
				
				<!-- <div class="topBox"> -->
				<div class="topBox dark_header">
				  
					<!-- <div class="bgff5354"> --> <div><span class="info_row_left f18">Date</span> <span class="info_row_right f18" data-bind="text: dattxn" ></span>
						<div class="clearfix"></div>
					</div>
			        </div>
								
					<div class="info_row odd"> <span class="info_row_left" data-bind="text: amtLbl">Available Balance</span> <span class="info_row_right f18" data-bind="text: amttxn" ></span>
						<div class="clearfix"></div>
					</div>
					<div class="info_row even"> <span class="info_row_left">Cheque/Ref No.</span> <span class="info_row_right" data-bind="text: refchqno"></span>
						<div class="clearfix"></div>
					</div>
					<div class="info_row odd"> <span class="info_row_left">Narration</span> <span class="info_row_right" data-bind="text: txttxndesc" ></span>
						<div class="clearfix"></div>
					</div>
					<div class="info_row even"> <span class="info_row_left">Value Date</span> <span class="info_row_right" data-bind="text: datvalue"></span>
							<div class="clearfix"></div>
					</div>
					  <!-- ko if: txntype === 'A' -->	
					<div class="info_row odd"> <span class="info_row_left">Closing Balance</span> <span class="info_row_right" data-bind="text: balaftertxn"></span>
							<div class="clearfix"></div>
					</div>
	           <!-- /ko -->
					
					
					
			</div>
				
	</div>
			<!-- /ko -->
	</div>
</div>
</section>
