<style>

</style>
<section class="dynamic-page-content" id="contentData">
    <link href="css/mobiscroll-2.0.custom.min.css" rel="stylesheet" type="text/css" />
    <script src="js/libs/mobiscroll-2.0.custom.min.js" type="text/javascript"></script>
    <div id="wrapper">
        <div class="content sub_content">


            <div id="nftfundtrns" style="display:none;">

                <form name="frmBBPSSelectAccount" id="frmBBPSSelectAccount" method="post" data-bind='submit: BBPSSubmit'>
                    <div id="tptCont" class="topBox" style="display:block;">

                        <fieldset class="bgff5354">
                            <label class="selLbl">Select Account</label>
                            <select name="fldAcctNo" id="fldAcctNo" class="styled"  data-bind="options: accountListFt, optionsText: 'displaytxt', optionsValue: 'codacctno', value: selAccount, optionsCaption: '-Select-'">
                            </select>
                        </fieldset>

                        <div class="bgded4d4">

                            <div class="clearfix"></div>
                            <fieldset>
                                <input type="submit" class="btn" value="Submit" id="confirm_button1">
                            </fieldset>
                            <div class="clearfix" style="height:30px;"></div>
                        </div>

                    </div>


                </form>
            </div>
        </div>
    </div>
</section>

    <script type="text/javascript">

		$("#frmBBPSSelectAccount").validate({
			/* focusInvalid: false, */
			rules : {
				fldAcctNo : {
					required : true,
				}

			},
			messages : {
				fldAcctNo : {
					required : "Select Account",
				}

			}
		});

</script>






