<style>
	.info_row { display:table; width:100%; }
	.linedivider { border:0 none; }
</style>

<div id="wrapper" >
  <div class="content sub_content">

	  <!-- This code is added to add two button for Biller -->

			
		<div class="listRow">
			<a href="#BBPSSelectAccount">
			<div class="info_row odd">

				<!--<span class="info_row_menu_left"><img src="img/billpay.png" /></span>-->
				<span class="info_row_menu_right page_title_carousel">Bill Pay</span>
				<span class="right_arrow"><img src="img/rarrow.png" /></span>
			</div>
			</a>
			
			<div class="clearfix"></div>
			<div class="linedivider"></div>   
			<div class="clearfix"></div>
			

			<div class="info_row even" onclick="return openLink('https://matm.rblbank.com/rblbbps/resource/html/RB01/raisecomplaintHTML');">
				<!--<span class="info_row_menu_left"><img src="img/mobile_recharge.png" /></span>-->
				<span class="info_row_menu_right page_title_carousel">Raise Complaint</span>
				<span class="right_arrow"><img src="img/rarrow.png" /></span>
			</div>

			
			<div class="clearfix"></div>
			<div class="linedivider"></div>   
			<div class="clearfix"></div>
			

			<div class="info_row odd" onclick="return openLink('https://matm.rblbank.com/rblbbps/resource/html/RB01/complaintstatuscheckHTML');">
				<!--<span class="info_row_menu_left"><img src="img/DTH_recharge.png" /></span>-->
				<span class="info_row_menu_right page_title_carousel">Check Complaint Status</span>
				<span class="right_arrow"><img src="img/rarrow.png" /></span>
			</div>

			


			<!--<div class="clearfix"></div>
			<div class="linedivider"></div>
			<div class="clearfix"></div>

			<a href="#BBPSSelectAccount">
				<div class="info_row odd">
					<span class="info_row_menu_left"><img src="img/BBPS.png" /></span>
					<span class="info_row_menu_right page_title_carousel">BBPS</span>
					<span class="right_arrow"><img src="img/rarrow.png" /></span>
				</div>
			</a>-->


		</div>
			
  </div>
  <!-- /content --> 
  
</div>