<style>
    #iframeBBPS{
    frameborder:"0";
    border:none;
    }

    .footer {
    display: none !important;
    }
</style>

<section class="dynamic-page-content" id="contentData">
    <div id="wrapper">
        <div class="content sub_content">

            <iframe src="" id="iframeBBPS"></iframe>


        </div>
    </div>
</section>

<script>

    var w=$(window).width();
    var h=$(window).height();
   // alert("height:"+h);
   // alert("width:"+w);
    $("#iframeBBPS").css("width",w);
    $("#iframeBBPS").css("height",h);
</script>