<style>
</style>

<section class="dynamic-page-content" id="contentData">
 <div id="wrapper">
    <div class="content sub_content">
  		 <div class="topBox bgff5354">
			
			 <div class="rsaOOBErr" style="display:none;">
				
  			<p></p>
				
			 </div>
			
			<div class="success_msg" style="display:none;">
				<p>Transaction successful</p>	
			</div>
		</div>
  		<div class="summblock" id="tpn06success">

				<div class="summblock listItems">
				<div class="info_row"> <span class="info_row_left">Reference No.</span> <span class="info_row_right f18" id="refno" ></span>
						<div class="clearfix"></div>
					</div>
				<div class="info_row"> <span class="info_row_left">Utility</span> <span class="info_row_right f18" id="fldCompanyName"></span>
						<div class="clearfix"></div>
					</div>
				<div class="info_row"> <span class="info_row_left">Identification No.</span> <span class="info_row_right" id="fldBillCompId"></span>
						<div class="clearfix"></div>
					</div>
			<div class="info_row"> <span class="info_row_left">Consumer No.</span> <span class="info_row_right" id="fldConsumerNo"></span>
						<div class="clearfix"></div>
					</div>
			<div class="info_row"> <span class="info_row_left">Debit Account</span> <span class="info_row_right" id="fldFromAcctNo"></span>
						<div class="clearfix"></div>
					</div>
					
			<div class="info_row"> <span class="info_row_left">Bill Outstanding Amount</span> <span class="info_row_right" id="balavailableS"></span>
						<div class="clearfix"></div>
					</div>
					
				</div>
				
				
		</div>

  </div>
</div>


</section>



